# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME WiMAXHomeToOffice
EXPERIMENT-COMMENT none
SIMULATION-TIME 100S
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1
# Select any background image
GUI-BACKGROUND-IMAGE-FILENAME LA.jpg

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 39490, 30571 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 7
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE WiMAXHomeToOffice.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-CHANNEL-FREQUENCY[1] 2400000000
PROPAGATION-CHANNEL-FREQUENCY[2] 2400000000
PROPAGATION-CHANNEL-FREQUENCY[3] 2400000000
PROPAGATION-CHANNEL-FREQUENCY[4] 2400000000
PROPAGATION-MODEL STATISTICAL
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-MODEL[2] STATISTICAL
PROPAGATION-MODEL[3] STATISTICAL
PROPAGATION-MODEL[4] STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[1] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[2] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[3] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[4] -111.0
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[2] TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[3] TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[4] TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-SHADOWING-MODEL[2] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[2] 4.0
PROPAGATION-SHADOWING-MODEL[3] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[3] 4.0
PROPAGATION-SHADOWING-MODEL[4] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[4] 4.0
PROPAGATION-FADING-MODEL NONE
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-FADING-MODEL[2] NONE
PROPAGATION-FADING-MODEL[3] NONE
PROPAGATION-FADING-MODEL[4] NONE

# ************* Radio/Physical Layer ***********

ENERGY-MODEL-SPECIFICATION NONE
BATTERY-MODEL NONE
PHY-MODEL PHY802.16
# transmission power in dBm
PHY802.16-TX-POWER 20.0
PHY802.16-CHANNEL-BANDWIDTH 20000000
PHY802.16-FFT-SIZE 2048
PHY802.16-CYCLIC-PREFIX 8.0
PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 11111
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 11111
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 12.0
# antenna height in meters
ANTENNA-HEIGHT 10.0
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
EAVESDROP-ENABLED NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
#DEFAULT-ROUTE YES
#DEFAULT-ROUTE-FILE WiMAXHomeToOffice.routes-default

# ************* Microwave Configuration ***********


# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE WiMAXHomeToOffice.app
RTP-ENABLED NO

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES
BATTERY-MODEL-STATISTICS YES
ENERGY-MODEL-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
RTP-STATISTICS NO
GSM-STATISTICS NO
CELLULAR-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON DEFAULT.png

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE USER-SPECIFIED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


# ************* User Behavior Model ***********

# ************* User Behavior Model ***********

# Enables User Behavior Modelling parameters.
DUMMY-UBEE-ENABLED NO


# ************* LLC Configuration ***********

# ************* LLC Configuration ***********

LLC-ENABLED NO


#----------------Subnet ID 1 -----------------
SUBNET N8-192.0.0.0 { 1, 5 } 36524.63 18436.58 0.0
[ N8-192.0.0.0 ] NODE-ICON DEFAULT.png
[ N8-192.0.0.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.0.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.0.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.0.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.0.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 11111
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 10000
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.0.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.0.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.0.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.0.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.0.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.0.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.0.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.0.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.0.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.0.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.0.0 ] ARP-ENABLED NO

#----------------Subnet ID 4 -----------------
SUBNET N8-192.0.1.0 { 2 } 24273.74 16473.42 0.0
[ N8-192.0.1.0 ] NODE-ICON DEFAULT.png
[ N8-192.0.1.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.1.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.1.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.1.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.1.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.1.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.1.0 ] PHY-LISTENABLE-CHANNEL-MASK 11111
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.1.0 ] PHY-LISTENING-CHANNEL-MASK 01000
# Temperature of the environment in K
[ N8-192.0.1.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.1.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.1.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.1.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.1.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.1.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.1.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.1.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.1.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.1.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.1.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.1.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.1.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.1.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.1.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.1.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.1.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.1.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.1.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.1.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.1.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.1.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.1.0 ] ARP-ENABLED NO

#----------------Subnet ID 6 -----------------
SUBNET N8-192.0.3.0 { 3 } 13431.56 13833.4 0.0
[ N8-192.0.3.0 ] NODE-ICON DEFAULT.png
[ N8-192.0.3.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.3.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.3.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.3.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.3.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.3.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.3.0 ] PHY-LISTENABLE-CHANNEL-MASK 11111
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.3.0 ] PHY-LISTENING-CHANNEL-MASK 00010
# Temperature of the environment in K
[ N8-192.0.3.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.3.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.3.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.3.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.3.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.3.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.3.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.3.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.3.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.3.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.3.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.3.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.3.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.3.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.3.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.3.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.3.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.3.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.3.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.3.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.3.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.3.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.3.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.3.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.3.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.3.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.3.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.3.0 ] ARP-ENABLED NO

#----------------Subnet ID 8 -----------------
SUBNET N8-192.0.4.0 { 4, 7 } 2552.48 6178.75 0.0
[ N8-192.0.4.0 ] NODE-ICON DEFAULT.png
[ N8-192.0.4.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.4.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.4.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.4.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.4.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.4.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.4.0 ] PHY-LISTENABLE-CHANNEL-MASK 11111
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.4.0 ] PHY-LISTENING-CHANNEL-MASK 00001
# Temperature of the environment in K
[ N8-192.0.4.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.4.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.4.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.4.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.4.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.4.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.4.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.4.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.4.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.4.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.4.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.4.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.4.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.4.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.4.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.4.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.4.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.4.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.4.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.4.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.4.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.4.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.4.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.4.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.4.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.4.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.4.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.4.0 ] ARP-ENABLED NO

LINK N8-192.0.5.0 { 1, 6 }
[ 192.0.5.1 192.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.5.1 192.0.5.2 ] LINK-BANDWIDTH 10000000
[ 1 ] NETWORK-PROTOCOL[1] IP
[ 6 ] NETWORK-PROTOCOL[0] IP
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.6.0 { 2, 6 }
[ 192.0.6.1 192.0.6.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.6.1 192.0.6.2 ] LINK-PHY-TYPE WIRED
[ 192.0.6.1 192.0.6.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.6.1 192.0.6.2 ] LINK-BANDWIDTH 10000000
[ 2 ] NETWORK-PROTOCOL[1] IP
[ 6 ] NETWORK-PROTOCOL[1] IP
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.8.0 { 3, 6 }
[ 192.0.8.1 192.0.8.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.8.1 192.0.8.2 ] LINK-BANDWIDTH 10000000
[ 3 ] NETWORK-PROTOCOL[1] IP
[ 6 ] NETWORK-PROTOCOL[2] IP
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.9.0 { 4, 6 }
[ 192.0.9.1 192.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.9.1 192.0.9.2 ] LINK-PHY-TYPE WIRED
[ 192.0.9.1 192.0.9.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.9.1 192.0.9.2 ] LINK-BANDWIDTH 10000000
[ 4 ] NETWORK-PROTOCOL[1] IP
[ 6 ] NETWORK-PROTOCOL[3] IP
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

[1] UNNUMBERED[0] NO
[1] UNNUMBERED[1] NO
[2] UNNUMBERED[0] NO
[2] UNNUMBERED[1] NO
[3] UNNUMBERED[0] NO
[3] UNNUMBERED[1] NO
[4] UNNUMBERED[0] NO
[4] UNNUMBERED[1] NO
[5] UNNUMBERED[0] NO
[6] UNNUMBERED[0] NO
[6] UNNUMBERED[1] NO
[6] UNNUMBERED[2] NO
[6] UNNUMBERED[3] NO
[7] UNNUMBERED[0] NO
[1] HOSTNAME Base Station 1
[2] HOSTNAME Base Station 2
[3] HOSTNAME Base Station 3
[4] HOSTNAME Base Station 4
[5] HOSTNAME SNTer
[6] HOSTNAME Switch Center
[7] HOSTNAME SNT headquarter
[ 1 2 3 4 6 ] MOBILITY NONE
[ 1 2 3 4 5 7 ] PHY-MODEL PHY802.16
[ 1 2 3 4 5 7 ] PHY802.16-TX-POWER 20.0
[ 1 2 3 4 5 7 ] PHY-RX-MODEL PHY802.16
[ 1 2 3 4 5 7 ] ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ 1 2 3 4 5 7 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ 1 2 3 4 5 7 ] ANTENNA-GAIN 12.0
[ 1 2 3 4 5 7 ] ANTENNA-HEIGHT 10.0
[ 1 2 3 4 5 7 ] ANTENNA-EFFICIENCY 0.8
[ 1 2 3 4 5 7 ] ANTENNA-MISMATCH-LOSS 0.3
[ 1 2 3 4 5 7 ] ANTENNA-CABLE-LOSS 0.0
[ 1 2 3 4 5 7 ] ANTENNA-CONNECTION-LOSS 0.2
[ 1 2 3 4 5 7 ] MAC-PROTOCOL MAC802.16
[ 1 2 3 4 5 7 ] MAC-802.16-STATION-TYPE SS
[ 1 2 3 4 5 7 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ 1 2 3 4 5 7 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ 1 2 3 4 5 7 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ 1 2 3 4 5 7 ] MAC-802.16-PACKING-ENABLED YES
[ 1 2 3 4 5 7 ] MAC-802.16-RANGING-TYPE NORMAL
[ 1 2 3 4 5 7 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ 1 thru 4 ] MAC-802.16-SUPPORT-MOBILITY NO
[ 1 2 3 4 5 7 ] MAC-802.16-ARQ-ENABLED NO
[ 1 thru 4 ] NODE-ICON BS.png
[ 5 ] MOBILITY FILE
[ 5 7 ] MAC-802.16-SUPPORT-MOBILITY YES
[ 5 7 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
[ 5 7 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
[ 5 7 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ 5 7 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ 5 7 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ 5 ] NODE-ICON car.png
[ 6 ] NODE-ICON telecommuter_house.png
[ 7 ] NODE-ICON home_office.png
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] PHY-MODEL PHY802.16
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] PHY802.16-TX-POWER 20.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] PHY-RX-MODEL PHY802.16
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-GAIN 12.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-HEIGHT 10.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-EFFICIENCY 0.8
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-MISMATCH-LOSS 0.3
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-CABLE-LOSS 0.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 192.0.4.2 ] ANTENNA-CONNECTION-LOSS 0.2
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-PROTOCOL MAC802.16
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-STATION-TYPE BS
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-FRAME-DURATION 20MS
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-TDD-DL-DURATION 10MS
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-DCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-UCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-RANGING-BACKOFF-MIN 3
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-RANGING-BACKOFF-MAX 15
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MIN 3
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MAX 15
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-TTG 75US
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-RTG 75US
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-SSTG 75US
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-MAX-ALLOWED-UPLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-MAX-ALLOWED-DOWNLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-PACKING-ENABLED YES
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16-BS-ADMISSION-CONTROL-SCHEME NONE
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-RANGING-TYPE NORMAL
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-SUPPORT-MOBILITY YES
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ 192.0.0.1 ] MAC-802.16-BS-NEIGHBOR {2,3,4}
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] DUMMY-MAC-802.16e-BS-SUPPORT-IDLE-MODE YES
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-BS-PAGING-GROUP-ID 1
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-BS-IS-PAGING-CONTROLLER NO
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-BS-PAGING-INTERVAL-LENGTH 5
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-BS-PAGING-CYCLE 200
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-BS-PAGING-OFFSET 5
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 ] MAC-802.16e-PAGING-HASHSKIP-THRESHOLD 0
[ 192.0.0.1 192.0.1.1 192.0.3.1 192.0.4.1 192.0.0.2 ] MAC-802.16-ARQ-ENABLED NO
[ 192.0.1.1 ] MAC-802.16-BS-NEIGHBOR {1,3,4}
[ 192.0.3.1 ] MAC-802.16-BS-NEIGHBOR {1,2,4}
[ 192.0.4.1 ] MAC-802.16-BS-NEIGHBOR {1,2,3}
[ 192.0.0.2 ] MAC-802.16-STATION-TYPE SS
[ 192.0.0.2 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ 192.0.0.2 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ 192.0.0.2 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ 192.0.0.2 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO

COMPONENT 0 {1 2 3 4 5 6 7 N8-192.0.0.0 N8-192.0.1.0 N8-192.0.3.0 N8-192.0.4.0} 11 19745.0 15285.5 0.0 39490.0 30571.0 3000.0
