# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME street_microcell_nlos

# Which terrain file to use
INCLUDE ../../common/downtown.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE street_microcell_nlos.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 1.5e9

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL URBAN-MODEL-AUTOSELECT
PROPAGATION-URBAN-AUTO-SELECT-ENVIRONMENT METROPOLITAN
