# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 6.1
EXPERIMENT-NAME multicast
EXPERIMENT-COMMENT none
SIMULATION-TIME 300S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#**********************Mask of Events***********************************

RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRP 00000
RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRQ 00000

#****************************A3 Event***********************************

RRC-LTE-MEAS-EVENT-A1-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-HYS 0.0

#******************Measurement Report***********************************

RRC-LTE-MEAS-TIME-TO-TRIGGER 400MS
RRC-LTE-MEAS-REPORT-INTERVAL 120MS
RRC-LTE-MEAS-REPORT-AMOUNT 1

#******************************Filter***********************************

RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRP 4
RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRQ 4

#*********************************Gap***********************************

RRC-LTE-MEAS-GAP-CONFIG-TYPE 0
RRC-LTE-MEAS-GAP-CONFIG-OFFSET 0

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS ( 1500, 1500 )
DUMMY-ALTITUDES ( 1500, 1500 )
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS YES
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
JAMMER-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE multicast.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0
MULTICAST-GROUP-FILE multicast.member

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#*******************************Cyber***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
DUMMY-IAHEP-ENABLE NO

#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0
DUMMY-FIXED-COMMS-DELAY NO

#***********************BGP Router-Id***********************************

BGP-ENABLE-ROUTER-ID NO
BGP-ENABLE-ROUTER-ID_IPv6 YES
BGP ROUTER-ID 127.0.0.1

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
DUMMY-SPECIFY-ICMP-ROUTERS NO
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
DUMMY-ICMP-ERROR-ENABLED NO
IPv6-ENABLE-6to4-TUNNELING NO
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

#********* [Default Wireless Subnet] ***********************************


#***************** [Wireless Subnet] ***********************************

SUBNET N8-192.0.0.0 {3 thru 7} 175.9 801.3 0

#**********************Physical Layer***********************************

[ N8-192.0.0.0 ] PHY-MODEL PHY802.16
[ N8-192.0.0.0 ] PHY802.16-MAX-TX-POWER 50.0
[ N8-192.0.0.0 ] PHY802.16-TX-POWER 15.0
[ N8-192.0.0.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.0.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.0.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.16
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL

#***************************MAC Layer***********************************

[ N8-192.0.0.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.0.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.0.0 ] MAC-802.16-PACKING-ENABLED NO
[ N8-192.0.0.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-SUPPORT-MOBILITY NO
[ N8-192.0.0.0 ] MAC-802.16-ARQ-ENABLED NO
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES

#***********************NETWORK LAYER***********************************

[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ N8-192.0.0.0 ] ROUTING-PROTOCOL OSPFv2
[ N8-192.0.0.0 ] OSPFv2-DEFINE-AREA NO
[ N8-192.0.0.0 ] OSPFv2-DEMAND-CIRCUIT-EXTENSION-ENABLED NO



#**************************** [Link] ***********************************

LINK N8-192.0.1.0 { 1, 2 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.1.1 192.0.1.2 ] LINK-PHY-TYPE WIRED
[ 192.0.1.1 192.0.1.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.1.1 192.0.1.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.2.0 { 2, 3 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.2.1 192.0.2.2 ] LINK-PHY-TYPE WIRED
[ 192.0.2.1 192.0.2.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.2.1 192.0.2.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.3.0 { 4, 8 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.3.1 192.0.3.2 ] LINK-PHY-TYPE WIRED
[ 192.0.3.1 192.0.3.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.3.1 192.0.3.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.4.0 { 5, 11 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.4.1 192.0.4.2 ] LINK-PHY-TYPE WIRED
[ 192.0.4.1 192.0.4.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.4.1 192.0.4.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.5.0 { 6, 13 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.5.1 192.0.5.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.5.0 { 13, 14 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.5.3 192.0.5.4 ] LINK-PHY-TYPE WIRED
[ 192.0.5.3 192.0.5.4 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.5.3 192.0.5.4 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.5.0 { 13, 15 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.5.5 192.0.5.6 ] LINK-PHY-TYPE WIRED
[ 192.0.5.5 192.0.5.6 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.5.5 192.0.5.6 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.6.0 { 11, 12 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.6.1 192.0.6.2 ] LINK-PHY-TYPE WIRED
[ 192.0.6.1 192.0.6.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.6.1 192.0.6.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.7.0 { 8, 9 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-192.0.8.0 { 8, 10 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 192.0.8.1 192.0.8.2 ] NETWORK-PROTOCOL IP

#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[1] IP-ADDRESS[0]             192.0.1.1

[2] NETWORK-PROTOCOL[0]       IP
[2] IP-ADDRESS[0]             192.0.1.2

[2] NETWORK-PROTOCOL[1]       IP
[2] IP-ADDRESS[1]             192.0.2.1

[3] NETWORK-PROTOCOL[0]       IP
[3] IP-ADDRESS[0]             192.0.0.1

[3] NETWORK-PROTOCOL[1]       IP
[3] IP-ADDRESS[1]             192.0.2.2

[4] NETWORK-PROTOCOL[0]       IP
[4] IP-ADDRESS[0]             192.0.0.2

[4] NETWORK-PROTOCOL[1]       IP
[4] IP-ADDRESS[1]             192.0.3.1

[5] NETWORK-PROTOCOL[0]       IP
[5] IP-ADDRESS[0]             192.0.0.3

[5] NETWORK-PROTOCOL[1]       IP
[5] IP-ADDRESS[1]             192.0.4.1

[6] NETWORK-PROTOCOL[0]       IP
[6] IP-ADDRESS[0]             192.0.0.4

[6] NETWORK-PROTOCOL[1]       IP
[6] IP-ADDRESS[1]             192.0.5.1

[7] NETWORK-PROTOCOL[0]       IP
[7] IP-ADDRESS[0]             192.0.0.5

[8] NETWORK-PROTOCOL[0]       IP
[8] IP-ADDRESS[0]             192.0.3.2

[8] NETWORK-PROTOCOL[1]       IP
[8] IP-ADDRESS[1]             192.0.7.1

[8] NETWORK-PROTOCOL[2]       IP
[8] IP-ADDRESS[2]             192.0.8.1

[9] NETWORK-PROTOCOL[0]       IP
[9] IP-ADDRESS[0]             192.0.7.2

[10] NETWORK-PROTOCOL[0]      IP
[10] IP-ADDRESS[0]            192.0.8.2

[11] NETWORK-PROTOCOL[0]      IP
[11] IP-ADDRESS[0]            192.0.4.2

[11] NETWORK-PROTOCOL[1]      IP
[11] IP-ADDRESS[1]            192.0.6.1

[12] NETWORK-PROTOCOL[0]      IP
[12] IP-ADDRESS[0]            192.0.6.2

[14] NETWORK-PROTOCOL[0]      IP
[14] IP-ADDRESS[0]            192.0.5.4

[15] NETWORK-PROTOCOL[0]      IP
[15] IP-ADDRESS[0]            192.0.5.6

[13] NETWORK-PROTOCOL[0]      IP
[13] IP-ADDRESS[0]            192.0.5.2

[13] NETWORK-PROTOCOL[1]      IP
[13] IP-ADDRESS[1]            192.0.5.3

[13] NETWORK-PROTOCOL[2]      IP
[13] IP-ADDRESS[2]            192.0.5.5

[192.0.0.1] MAC-802.16-RANGING-TYPE  NORMAL
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.4.1 192.0.5.1 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] SWITCH-STATION-VLAN-TAGGING  NO
[192.0.0.1] MAC-802.16-BS-RANGING-BACKOFF-MAX  15
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[4]  50000
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[6]  50000
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  50000
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-NUM-PRIORITIES  8
[192.0.0.1] MAC-802.16-PACKING-ENABLED  NO
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  50000
[192.0.5.2 192.0.5.3 192.0.5.5] ROUTING-PROTOCOL  OSPFv2
[192.0.0.1] MAC-802.16-BS-TDD-DL-DURATION  10MS
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[3]  FIFO
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.4.1 192.0.5.1 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-FRAGMENTATION-UNIT  2048
[192.0.0.1] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE  NORMAL
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[0]  FIFO
[192.0.0.1] MAC-802.16-BS-SSTG  4US
[192.0.5.2 192.0.5.3 192.0.5.5] MULTICAST-PROTOCOL  MOSPF
[192.0.0.1] MAC-802.16-MAX-ALLOWED-DOWNLINK-LOAD-LEVEL  0.7
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[7]  FIFO
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[4]  FIFO
[192.0.0.1] MAC-802.16-BS-RTG  10US
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[7]  50000
[192.0.0.1] MAC-802.16-BS-RANGING-BACKOFF-MIN  3
[192.0.0.1] MAC-802.16-MAX-ALLOWED-UPLINK-LOAD-LEVEL  0.7
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.4.1 192.0.5.1 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] LINK-MAC-PROTOCOL  ABSTRACT
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[1]  FIFO
[192.0.5.2 192.0.5.3 192.0.5.5] IGMP-ROUTER-LIST  {3,8,11,6}
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  50000
[192.0.5.2 192.0.5.3 192.0.5.5] AS-BOUNDARY-ROUTER  NO
[192.0.0.1] MAC-802.16-STATION-TYPE  BS
[192.0.5.2 192.0.5.3 192.0.5.5] OSPFv2-DEFINE-AREA  NO
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[3]  50000
[192.0.0.1] MAC-802.16-SUPPORT-MOBILITY  NO
[192.0.5.2 192.0.5.3 192.0.5.5] GROUP-MANAGEMENT-PROTOCOL  IGMP
[192.0.0.1] MAC-802.16-BS-DCD-BROADCAST-INTERVAL  5S
[192.0.0.1] MAC-802.16-BS-TTG  10US
[192.0.5.2 192.0.5.3 192.0.5.5] DUMMY-MULTICAST  YES
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[5]  50000
[192.0.0.1] MAC-802.16-ARQ-ENABLED  NO
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[5]  FIFO
[192.0.5.2 192.0.5.3 192.0.5.5] OSPFv2-DEMAND-CIRCUIT-EXTENSION-ENABLED  NO
[192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  50000
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[2]  FIFO
[192.0.0.1] MAC-802.16-BS-UCD-BROADCAST-INTERVAL  5S
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.4.1 192.0.5.1 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] PROMISCUOUS-MODE  YES
[192.0.0.1] MAC-802.16-BS-ADMISSION-CONTROL-SCHEME  NONE
[192.0.1.1 192.0.1.2 192.0.2.1 192.0.0.1 192.0.2.2 192.0.0.2 192.0.3.1 192.0.0.3 192.0.4.1 192.0.0.4 192.0.5.1 192.0.0.5 192.0.3.2 192.0.7.1 192.0.8.1 192.0.7.2 192.0.8.2 192.0.4.2 192.0.6.1 192.0.6.2 192.0.5.4 192.0.5.6 192.0.5.2 192.0.5.3 192.0.5.5] IP-QUEUE-TYPE[6]  FIFO
[192.0.0.1] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MAX  15
[192.0.0.1] MAC-802.16-BS-FRAME-DURATION  20MS
[192.0.0.1] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MIN  3


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 12]     IP-QUEUE-NUM-PRIORITIES 8
[14 15]         IP-QUEUE-NUM-PRIORITIES 8
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[4] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[4] 50000
[1 thru 12]     IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
[14 15]         IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
[1 thru 12]     DUMMY-MULTICAST YES
[14 15]         DUMMY-MULTICAST YES
[1 thru 12]     GUI-NODE-2D-ICON DEFAULT.png
[14 15]         GUI-NODE-2D-ICON DEFAULT.png
[1 thru 12]     NODE-PLACEMENT FILE
[14 15]         NODE-PLACEMENT FILE
[1 thru 6]      MOBILITY NONE
[8 thru 12]     MOBILITY NONE
[14 15]         MOBILITY NONE
[1 thru 12]     IP-QUEUE-TYPE[1] FIFO
[14 15]         IP-QUEUE-TYPE[1] FIFO
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[6] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[6] 50000
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 50000
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[7] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[7] 50000
[1 thru 12]     AZIMUTH 0
[14 15]         AZIMUTH 0
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 50000
[1 thru 12]     IP-QUEUE-TYPE[5] FIFO
[14 15]         IP-QUEUE-TYPE[5] FIFO
[1 thru 12]     ROUTING-PROTOCOL OSPFv2
[14 15]         ROUTING-PROTOCOL OSPFv2
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
[11]            HOSTNAME host11
[12]            HOSTNAME host12
[14]            HOSTNAME host14
[15]            HOSTNAME host15
[1 thru 12]     DUMMY-ROUTER-TYPE PREDEFINED
[14 15]         DUMMY-ROUTER-TYPE PREDEFINED
[1 thru 12]     OSPFv2-DEMAND-CIRCUIT-EXTENSION-ENABLED NO
[14 15]         OSPFv2-DEMAND-CIRCUIT-EXTENSION-ENABLED NO
[1 thru 12]     DUMMY-NODE-ORIENTATION YES
[14 15]         DUMMY-NODE-ORIENTATION YES
[1 thru 12]     IP-QUEUE-TYPE[3] FIFO
[14 15]         IP-QUEUE-TYPE[3] FIFO
[1 thru 12]     IP-QUEUE-TYPE[2] FIFO
[14 15]         IP-QUEUE-TYPE[2] FIFO
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[3] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[3] 50000
[1 thru 12]     OSPFv2-DEFINE-AREA NO
[14 15]         OSPFv2-DEFINE-AREA NO
[1 thru 12]     ELEVATION 0
[14 15]         ELEVATION 0
[1 thru 12]     GROUP-MANAGEMENT-PROTOCOL IGMP
[14 15]         GROUP-MANAGEMENT-PROTOCOL IGMP
[1 thru 12]     IP-QUEUE-TYPE[0] FIFO
[14 15]         IP-QUEUE-TYPE[0] FIFO
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[5] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[5] 50000
[1 thru 12]     MULTICAST-PROTOCOL MOSPF
[14 15]         MULTICAST-PROTOCOL MOSPF
[1 thru 12]     IP-QUEUE-TYPE[7] FIFO
[14 15]         IP-QUEUE-TYPE[7] FIFO
[1 thru 12]     IP-QUEUE-TYPE[6] FIFO
[14 15]         IP-QUEUE-TYPE[6] FIFO
[1 thru 12]     AS-BOUNDARY-ROUTER NO
[14 15]         AS-BOUNDARY-ROUTER NO
[1 thru 12]     IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 50000
[14 15]         IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 50000
[1 thru 12]     IGMP-ROUTER-LIST {3,8,11,6}
[14 15]         IGMP-ROUTER-LIST {3,8,11,6}
[1 thru 12]     IP-QUEUE-TYPE[4] FIFO
[14 15]         IP-QUEUE-TYPE[4] FIFO
[1 thru 12]     QUALITY-OF-SERVICE NONE
[14 15]         QUALITY-OF-SERVICE NONE
[13]            SWITCH-PORT-MAP[2] 192.0.5.3
[13]            SWITCH-PORT-MAP[1] 192.0.5.2
[13]            SWITCH YES
[13]            HOSTNAME host13
[13]            SWITCH-PORT-MAP[3] 192.0.5.5
[13]            GUI-NODE-2D-ICON Switch.png
[13]            NODE-PLACEMENT FILE
NODE-POSITION-FILE multicast.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE multicast.display

