# ***** QualNet CES Configuration File *****


#********************General Settings***********************************

VERSION 6.1
EXPERIMENT-NAME multi-app-spt-switchover
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30M
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#********Connectivity Maps and Alerts***********************************

STATS-MANAGER-ENABLED NO

#********************PHY Connectivity***********************************

PHY-CONNECTIVITY NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
URBAN-TERRAIN-TYPE NONE
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2.4e9
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT UNIFORM
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS YES
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO

RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES

CELLULAR-STATISTICS YES
GSM-STATISTICS NO
SIGNALLING-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ATM-SCHEDULER-STATISTICS YES
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
LINK-11-STATISTICS NO
LINK16-STATISTICS NO
LINK-16-GATEWAY-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE multi-app-spt-switchover.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO
HLA-DYNAMIC-STATISTICS NO

#***********************DIS Interface***********************************

DIS NO

#***********************STK Interface***********************************

STK-ENABLED NO

#***********************CES Interface***********************************

CES-SOCKET NO
CES-ALCES NO
CES-SOCKET-NUM-PORTS 1
CES-SOCKET-PORT[0] 5033
CES-NUM-PORTS 1
CES-ALCES-PORT[0] 5032
CES-UDP-FAILURE-TIMEOUT 2S
CES-TCP-FAILURE-TIMEOUT 15S
DUMMY-PRINT-PER-PACKET-STATS NO
CES-LOG FILE
CES-PRINT-REAL-TIME NO
CES-STATS-PRINT-REAL-TIME 1
CES-STATS-PRINT-INTERVAL 60S
CES-GRAPH-PRINT-REAL-TIME 1
CES-GRAPH-PRINT-INTERVAL 60S
CES-IDLE-WHEN-RESPONSE-SENT NO
CES-ALWAYS-SUCCESS NO
CES-CPU-HOG NO
DUMMY-CES-MAPPING NO
DUMMY-CES-USE-WARM-UP_PHASE NO
CES-DISTRIBUTED-ENVIRONMENT NO
CES-PAUSE-REPLY-ZERO-DELAY NO
CES-PAUSE-ADVANCE-SIMULATION-TIME NO
CES-LOG-AUTOMATIC-FLUSH NO
CES-EXECUTE-REAL-TIME NO
CES-LOG-TIMESTAMP 1
CES-CONVERT-GCC-CARTESIAN-TO-GCC-LAT-LON NO

#********************Spectrum Manager***********************************

SPECTRUM-POLICY-THRESHOLD 10
SPECTRUM-NUMBER-EDGE-NODES 15
SPECTRUM-PREDICTIVE-FUTURE-TIME 100S
SPECTRUM-REAL-TIME-ANALYSIS-INTERVAL 0S
SPECTRUM-PREDICTIVE-TIME-ANALYSIS-INTERVAL 0S
SPECTRUM-NUM-MITIGATION-RULES 0

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
NETWORK-CES-QOS-ENABLED NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#********************Network Security***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
AUDIT-ENABLED NO
DUMMY-IAHEP-ENABLE NO

#*************************WNW Routing***********************************

DISPLAY-TOPOLOGY-ICONS NO
DISPLAY-ROSPF-ICONS NO
ROUTING-CES-MPR-ENABLED NO
NETWORK-CES-REGION-FORMATION NO
MI-CES-NEIGHBOR-MONITORING NO
SUBNET-FORMATION NO
MOBILE-INTRANET-ROUTING-PROTOCOL NONE
SUBNET-GATEWAY YES

#************MI Queues and Schedulers***********************************

ROUTING-CES-MI-INNER-SCHEDULER-TYPE STRICT-PRIORITY
ROUTING-CES-MI-OUTER-SCHEDULER-TYPE STRICT-PRIORITY
ROUTING-CES-MI-CS1-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS1-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS1-QUEUE-AGING No
ROUTING-CES-MI-CS2-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS2-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS2-QUEUE-AGING No
ROUTING-CES-MI-CS3-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS3-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS3-QUEUE-AGING No
ROUTING-CES-MI-CS4-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS4-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS4-QUEUE-AGING No
ROUTING-CES-MI-CS5-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS5-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS5-QUEUE-AGING No
ROUTING-CES-MI-CS6-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS6-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS6-QUEUE-AGING No
ROUTING-CES-MI-CS7-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS7-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS7-QUEUE-AGING No
ROUTING-CES-MI-CS0-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS0-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS0-QUEUE-AGING No
ROUTING-CES-MI-CS-PRIORITY-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS-PRIORITY-QUEUE-SIZE 150000
ROUTING-CES-MI-AF1-QUEUE-TYPE FIFO
ROUTING-CES-MI-AF1-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF1-QUEUE-AGING No
ROUTING-CES-MI-AF2-QUEUE-TYPE FIFO
ROUTING-CES-MI-AF2-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF2-QUEUE-AGING No
ROUTING-CES-MI-AF3-QUEUE-TYPE FIFO
ROUTING-CES-MI-AF3-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF3-QUEUE-AGING No
ROUTING-CES-MI-AF4-QUEUE-TYPE FIFO
ROUTING-CES-MI-AF4-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF4-QUEUE-AGING No
ROUTING-CES-MI-EF-QUEUE-TYPE FIFO
ROUTING-CES-MI-EF-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-EF-QUEUE-AGING No

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP NO
IPv6-ENABLE-6to4-TUNNELING NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL NONE
STATIC-ROUTE NO
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************Receive-only Mode***********************************

CES-RECEIVE-ONLY-MODE NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M

#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.1.0 {1 thru 3} 601.258 1240.68 0
[ N8-190.0.1.0 ] GUI-NODE-2D-ICON hub.png
[ N8-190.0.1.0 ] GUI-NODE-3D-ICON hub.3ds
[ N8-190.0.1.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.1.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.1.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.1.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.1.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.1.0 ] LLC-ENABLED NO
[ N8-190.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.1.0 ] SWITCH-STATION-VLAN-ID 0
[ N8-190.0.1.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.1.0 ] DUMMY-MULTICAST YES
[ N8-190.0.1.0 ] DUMMY-GATEWAY-CONFIGURATION NO



#********* [Default Wireless Subnet] ***********************************


#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.2.0 {1, 4, 5} 314.032 919.258 0
[ N8-190.0.2.0 ] GUI-NODE-2D-ICON hub.png
[ N8-190.0.2.0 ] GUI-NODE-3D-ICON hub.3ds
[ N8-190.0.2.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.2.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.2.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.2.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.2.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.2.0 ] LLC-ENABLED NO
[ N8-190.0.2.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.2.0 ] SWITCH-STATION-VLAN-ID 0
[ N8-190.0.2.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.2.0 ] DUMMY-MULTICAST YES
[ N8-190.0.2.0 ] DUMMY-GATEWAY-CONFIGURATION NO



#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.3.0 {2, 3, 6} 1052.61 1018.42 0
[ N8-190.0.3.0 ] GUI-NODE-2D-ICON hub.png
[ N8-190.0.3.0 ] GUI-NODE-3D-ICON hub.3ds
[ N8-190.0.3.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.3.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.3.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.3.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.3.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.3.0 ] LLC-ENABLED NO
[ N8-190.0.3.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.3.0 ] SWITCH-STATION-VLAN-ID 0
[ N8-190.0.3.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.3.0 ] DUMMY-MULTICAST YES
[ N8-190.0.3.0 ] DUMMY-GATEWAY-CONFIGURATION NO



#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.4.0 {4 thru 6} 485 416.613 0
[ N8-190.0.4.0 ] GUI-NODE-2D-ICON hub.png
[ N8-190.0.4.0 ] GUI-NODE-3D-ICON hub.3ds
[ N8-190.0.4.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.4.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.4.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.4.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.4.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.4.0 ] LLC-ENABLED NO
[ N8-190.0.4.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.4.0 ] SWITCH-STATION-VLAN-ID 0
[ N8-190.0.4.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.4.0 ] DUMMY-MULTICAST YES
[ N8-190.0.4.0 ] DUMMY-GATEWAY-CONFIGURATION NO



#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 6, 7 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.5.1 190.0.5.2 ] LINK-PHY-TYPE WIRED
[ 190.0.5.1 190.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.5.1 190.0.5.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.5.1 190.0.5.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.5.1 190.0.5.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.5.1 190.0.5.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.5.1 190.0.5.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.5.1 190.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.5.1 190.0.5.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.5.1 190.0.5.2 ] DUMMY-MULTICAST YES
[ 190.0.5.1 190.0.5.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.5.1 190.0.5.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.5.1 190.0.5.2 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 6, 8 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.6.1 190.0.6.2 ] LINK-PHY-TYPE WIRED
[ 190.0.6.1 190.0.6.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.6.1 190.0.6.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.6.1 190.0.6.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.6.1 190.0.6.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.6.1 190.0.6.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.6.1 190.0.6.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.6.1 190.0.6.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.6.1 190.0.6.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.6.1 190.0.6.2 ] DUMMY-MULTICAST YES
[ 190.0.6.1 190.0.6.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.6.1 190.0.6.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.6.1 190.0.6.2 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.7.0 { 7, 8 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.7.1 190.0.7.2 ] LINK-PHY-TYPE WIRED
[ 190.0.7.1 190.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.7.1 190.0.7.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.7.1 190.0.7.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.7.1 190.0.7.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.7.1 190.0.7.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.7.1 190.0.7.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.7.1 190.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.7.1 190.0.7.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.7.1 190.0.7.2 ] DUMMY-MULTICAST YES
[ 190.0.7.1 190.0.7.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.7.1 190.0.7.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.7.1 190.0.7.2 ] SYNCHRONIZATION YES

#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.8.0 {8 thru 10} 1138.1 331.129 0
[ N8-190.0.8.0 ] GUI-NODE-2D-ICON hub.png
[ N8-190.0.8.0 ] GUI-NODE-3D-ICON hub.3ds
[ N8-190.0.8.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.8.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.8.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.8.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.8.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.8.0 ] LLC-ENABLED NO
[ N8-190.0.8.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.8.0 ] SWITCH-STATION-VLAN-ID 0
[ N8-190.0.8.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.8.0 ] DUMMY-MULTICAST YES
[ N8-190.0.8.0 ] DUMMY-GATEWAY-CONFIGURATION NO



#**************************** [Link] ***********************************

LINK N8-190.0.9.0 { 10, 11 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.9.1 190.0.9.2 ] LINK-PHY-TYPE WIRED
[ 190.0.9.1 190.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.9.1 190.0.9.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.9.1 190.0.9.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.9.1 190.0.9.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.9.1 190.0.9.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.9.1 190.0.9.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.9.1 190.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.9.1 190.0.9.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.9.1 190.0.9.2 ] DUMMY-MULTICAST YES
[ 190.0.9.1 190.0.9.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.9.1 190.0.9.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.9.1 190.0.9.2 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.10.0 { 10, 12 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.10.1 190.0.10.2 ] LINK-PHY-TYPE WIRED
[ 190.0.10.1 190.0.10.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.10.1 190.0.10.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.10.1 190.0.10.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.10.1 190.0.10.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.10.1 190.0.10.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.10.1 190.0.10.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.10.1 190.0.10.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.10.1 190.0.10.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.10.1 190.0.10.2 ] DUMMY-MULTICAST YES
[ 190.0.10.1 190.0.10.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.10.1 190.0.10.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.10.1 190.0.10.2 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.11.0 { 9, 13 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.11.1 190.0.11.2 ] LINK-PHY-TYPE WIRED
[ 190.0.11.1 190.0.11.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.11.1 190.0.11.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.11.1 190.0.11.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.11.1 190.0.11.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.11.1 190.0.11.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.11.1 190.0.11.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.11.1 190.0.11.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.11.1 190.0.11.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.11.1 190.0.11.2 ] DUMMY-MULTICAST YES
[ 190.0.11.1 190.0.11.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.11.1 190.0.11.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.11.1 190.0.11.2 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.12.0 { 9, 14 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 190.0.12.1 190.0.12.2 ] LINK-PHY-TYPE WIRED
[ 190.0.12.1 190.0.12.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 190.0.12.1 190.0.12.2 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ 190.0.12.1 190.0.12.2 ] LINK-PROPAGATION-DELAY 1US
[ 190.0.12.1 190.0.12.2 ] LINK-BANDWIDTH 1000000000
[ 190.0.12.1 190.0.12.2 ] LINK-HEADER-SIZE-IN-BITS 224
[ 190.0.12.1 190.0.12.2 ] SWITCH-STATION-VLAN-ID 1
[ 190.0.12.1 190.0.12.2 ] SWITCH-STATION-VLAN-TAGGING NO

#********************Network Protocol***********************************

[ 190.0.12.1 190.0.12.2 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ 190.0.12.1 190.0.12.2 ] DUMMY-MULTICAST YES
[ 190.0.12.1 190.0.12.2 ] MULTICAST-STATIC-ROUTE NO
[ 190.0.12.1 190.0.12.2 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ 190.0.12.1 190.0.12.2 ] SYNCHRONIZATION YES

#*************Interface Configuration***********************************


[1] NETWORK-PROTOCOL[0]       IP

[1] IP-SUBNET-MASK[0]         255.255.255.0
[1] IP-ADDRESS[0]             190.0.1.1

[1] NETWORK-PROTOCOL[1]       IP

[1] IP-SUBNET-MASK[1]         255.255.255.0
[1] IP-ADDRESS[1]             190.0.2.1

[2] NETWORK-PROTOCOL[0]       IP

[2] IP-SUBNET-MASK[0]         255.255.255.0
[2] IP-ADDRESS[0]             190.0.1.2

[2] NETWORK-PROTOCOL[1]       IP

[2] IP-SUBNET-MASK[1]         255.255.255.0
[2] IP-ADDRESS[1]             190.0.3.1

[3] NETWORK-PROTOCOL[0]       IP

[3] IP-SUBNET-MASK[0]         255.255.255.0
[3] IP-ADDRESS[0]             190.0.1.3

[3] NETWORK-PROTOCOL[1]       IP

[3] IP-SUBNET-MASK[1]         255.255.255.0
[3] IP-ADDRESS[1]             190.0.3.2

[4] NETWORK-PROTOCOL[0]       IP

[4] IP-SUBNET-MASK[0]         255.255.255.0
[4] IP-ADDRESS[0]             190.0.2.3

[4] NETWORK-PROTOCOL[1]       IP

[4] IP-SUBNET-MASK[1]         255.255.255.0
[4] IP-ADDRESS[1]             190.0.4.3

[5] NETWORK-PROTOCOL[0]       IP

[5] IP-SUBNET-MASK[0]         255.255.255.0
[5] IP-ADDRESS[0]             190.0.2.2

[5] NETWORK-PROTOCOL[1]       IP

[5] IP-SUBNET-MASK[1]         255.255.255.0
[5] IP-ADDRESS[1]             190.0.4.2

[6] NETWORK-PROTOCOL[0]       IP

[6] IP-SUBNET-MASK[0]         255.255.255.0
[6] IP-ADDRESS[0]             190.0.3.3

[6] NETWORK-PROTOCOL[1]       IP

[6] IP-SUBNET-MASK[1]         255.255.255.0
[6] IP-ADDRESS[1]             190.0.4.1

[6] NETWORK-PROTOCOL[2]       IP
[6] IP-ADDRESS[2]             190.0.5.1

[6] NETWORK-PROTOCOL[3]       IP
[6] IP-ADDRESS[3]             190.0.6.1

[7] NETWORK-PROTOCOL[0]       IP
[7] IP-ADDRESS[0]             190.0.5.2

[7] NETWORK-PROTOCOL[1]       IP
[7] IP-ADDRESS[1]             190.0.7.1

[8] NETWORK-PROTOCOL[0]       IP
[8] IP-ADDRESS[0]             190.0.6.2

[8] NETWORK-PROTOCOL[1]       IP
[8] IP-ADDRESS[1]             190.0.7.2

[8] NETWORK-PROTOCOL[2]       IP

[8] IP-SUBNET-MASK[2]         255.255.255.0
[8] IP-ADDRESS[2]             190.0.8.1

[9] NETWORK-PROTOCOL[0]       IP

[9] IP-SUBNET-MASK[0]         255.255.255.0
[9] IP-ADDRESS[0]             190.0.8.2

[9] NETWORK-PROTOCOL[1]       IP
[9] IP-ADDRESS[1]             190.0.11.1

[9] NETWORK-PROTOCOL[2]       IP
[9] IP-ADDRESS[2]             190.0.12.1

[10] NETWORK-PROTOCOL[0]      IP

[10] IP-SUBNET-MASK[0]        255.255.255.0
[10] IP-ADDRESS[0]            190.0.8.3

[10] NETWORK-PROTOCOL[1]      IP
[10] IP-ADDRESS[1]            190.0.9.1

[10] NETWORK-PROTOCOL[2]      IP
[10] IP-ADDRESS[2]            190.0.10.1

[11] NETWORK-PROTOCOL[0]      IP
[11] IP-ADDRESS[0]            190.0.9.2

[12] NETWORK-PROTOCOL[0]      IP
[12] IP-ADDRESS[0]            190.0.10.2

[13] NETWORK-PROTOCOL[0]      IP
[13] IP-ADDRESS[0]            190.0.11.2

[14] NETWORK-PROTOCOL[0]      IP
[14] IP-ADDRESS[0]            190.0.12.2
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.8.1 190.0.8.2 190.0.8.3] LINK-PROPAGATION-DELAY  1US
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.8.1 190.0.8.2 190.0.8.3] LINK-BANDWIDTH  1000000000
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.5.1 190.0.6.1 190.0.5.2 190.0.7.1 190.0.6.2 190.0.7.2 190.0.8.1 190.0.8.2 190.0.11.1 190.0.12.1 190.0.8.3 190.0.9.1 190.0.10.1 190.0.9.2 190.0.10.2 190.0.11.2 190.0.12.2] IP-QUEUE-TYPE[0]  FIFO
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.5.1 190.0.6.1 190.0.5.2 190.0.7.1 190.0.6.2 190.0.7.2 190.0.8.1 190.0.8.2 190.0.11.1 190.0.12.1 190.0.8.3 190.0.9.1 190.0.10.1 190.0.9.2 190.0.10.2 190.0.11.2 190.0.12.2] IP-QUEUE-TYPE[1]  FIFO
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.5.1 190.0.6.1 190.0.5.2 190.0.7.1 190.0.6.2 190.0.7.2 190.0.8.1 190.0.8.2 190.0.11.1 190.0.12.1 190.0.8.3 190.0.9.1 190.0.10.1 190.0.9.2 190.0.10.2 190.0.11.2 190.0.12.2] MAC-PROPAGATION-DELAY  1500NS
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.3.1 190.0.1.3 190.0.3.2 190.0.2.3 190.0.4.3 190.0.2.2 190.0.4.2 190.0.3.3 190.0.4.1 190.0.5.1 190.0.6.1 190.0.5.2 190.0.7.1 190.0.6.2 190.0.7.2 190.0.8.1 190.0.8.2 190.0.11.1 190.0.12.1 190.0.8.3 190.0.9.1 190.0.10.1 190.0.9.2 190.0.10.2 190.0.11.2 190.0.12.2] IP-QUEUE-TYPE[2]  FIFO


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[4]             PIM-SM-CANDIDATE-RP-PRIORITY 192
[1 thru 14]     GROUP-MANAGEMENT-PROTOCOL IGMP
[1 thru 10]     ROUTING-PIMSM-REGISTER-PROBE-TIME 5S
[1 thru 10]     ROUTING-PIMSM-JOINPRUNE-HOLD-TIMEOUT 210S
[1 thru 10]     PIM-ROUTING-MODE SPARSE
[1 thru 14]     IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 50000
[1 thru 10]     ROUTING-PIMSM-REGISTER-SUPRESSION-TIME 60S
[1 2 3]         DUMMY-PIM-SM-STATIC-NUMBER-OF-RP No
[4]             DUMMY-PIM-SM-STATIC-NUMBER-OF-RP NO
[5 thru 10]     DUMMY-PIM-SM-STATIC-NUMBER-OF-RP No
[4]             PIM-SM-CANDIDATE-RP YES
[1 thru 10]     ROUTING-PIM-HELLO-PERIOD 30S
[1 thru 14]     OSPFv2-CONFIG-FILE ./multi-app-spt-switchover.ospf
[1 thru 14]     NODE-POSITION-FILE multi-app-spt-switchover.nodes
[1 thru 10]     ROUTING-PIMSM-KEEPALIVE-TIMEOUT 210S
[1 thru 14]     MULTICAST-STATIC-ROUTE NO
[1 thru 14]     IP-LOOPBACK-ADDRESS 127.0.0.1
[1 thru 14]     QUALITY-OF-SERVICE NONE
[1 thru 10]     ROUTING-PIMSM-T-PERIODIC-INTERVAL 60S
[1 thru 14]     OSPFv2-DEFINE-AREA NO
[1 thru 14]     IGMP-UNSOLICITED-REPORT-COUNT 2
[9 10]          DUMMY-ROUTING-PIM-SWITCH-TO-SPT YES
[9 10]          ROUTING-PIMSM-SWITCH-SPT-THRESHOLD 20 GROUP-RANGE <224.0.0.0,15.255.255.255 >
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
[11]            HOSTNAME host11
[12]            HOSTNAME host12
[13]            HOSTNAME host13
[14]            HOSTNAME host14
[1 thru 14]     IP-FRAGMENTATION-UNIT 1500
[4]             ROUTING-PIMSM-CANDIDATE-RP-TIMEOUT 60S
[1 thru 10]     ROUTING-PIMSM-TRIGGERED-DELAY 30S
[1 thru 14]     IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 50000
[1 thru 14]     AS-BOUNDARY-ROUTER NO
[1 thru 14]     IGMP-ROUTER-LIST { 9, 10 }
[1 thru 10]     MULTICAST-PROTOCOL PIM
[1 thru 14]     OSPFv2-STAGGER-START NO
[1 thru 14]     ROUTING-PROTOCOL OSPFv2
[1 thru 14]     OSPFv2-INJECT-EXTERNAL-ROUTE NO
[4]             PIM-SM-RP-GROUP-RANGE <224.0.0.0,15.255.255.255 >
[1 thru 10]     ROUTING-PIMSM-DR-PRIORITY 1
[1 thru 14]     NETWORK-PROTOCOL IP
[1 thru 10]     ROUTING-PIMSM-ASSERT-TIMEOUT 180S
[1 thru 14]     IP-ENABLE-LOOPBACK YES
[1 thru 14]     IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 50000
[1 thru 14]     DUMMY-MULTICAST YES
[1 thru 14]     NODE-PLACEMENT FILE
NODE-POSITION-FILE multi-app-spt-switchover.nodes

#*********Miscellaneous Configuration***********************************

MULTICAST-GROUP-FILE multi-app-spt-switchover.member
