# gvrp/sample1
#
# The configuration using 3 switches (Sw1, Sw2, Sw3) as shown.
# A router, node 100, is used. Routing is Bellmanford.
# Vlan 2 is network number 2.0
# Vlan 3 is network number 3.0
# Trunk links have network number 1.0
# Switches have independant database learning
#
# GVRP is run to dynamically configure trunk ports.
# The difference between this scenario and the one under
# vlan/sample1 is that it suffices to set the port VLAN
# IDs for the local port to the access links to set up
# the member set.
# 
#
#                12                     22                     32
#                 |                      |                      |
#                 | 2 access             | 2 access             | 2 access
#                 |                      |                      |
#   2 access +--------+             +--------+             +--------+
#    --------|        |   2 trunk   |        |   2 trunk   |        |
#  100       |  Sw1   |-------------|  Sw2   |-------------|  Sw3   |
#    --------|        |   3 trunk   |        |   3 trunk   |        |
#   3 access +--------+             +--------+             +--------+
#                 |                      |                      |
#                 | 3 access             | 3 access             | 3 access
#                 |                      |                      |
#                14                     24                     34 
# Application:
#    FTP/GENERIC 12 32 10 1000 100S 0S
#    FTP/GENERIC 12 34 10 1000 150S 0S
#    FTP/GENERIC 14 34 10 1000 200S 0S
#    FTP/GENERIC 14 32 10 1000 250S 0S
#
# Nodes in the same VLAN receive frames via switching
# Nodes in different VLANs receive routed frames from other VLANs

[1 2 3] SWITCH                    YES
SWITCH-RUN-STP                    NO
SWITCH-VLAN-LEARNING              INDEPENDENT

SWITCH-VLAN-AWARE                 YES
SWITCH-RUN-GVRP                   YES


LINK N8-2.0 {1, 12}
[1] SWITCH-PORT-MAP[2]            2.1
[1] SWITCH-PORT-VLAN-ID[2]        2
[2.2] SWITCH-STATION-VLAN-ID      2
[2.2] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-2.0 {2, 22}
[2] SWITCH-PORT-MAP[2]            2.3
[2] SWITCH-PORT-VLAN-ID[2]        2
[2.4] SWITCH-STATION-VLAN-ID      2
[2.4] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-2.0 {3, 32}
[3] SWITCH-PORT-MAP[2]            2.5
[3] SWITCH-PORT-VLAN-ID[2]        2
[2.6] SWITCH-STATION-VLAN-ID      2
[2.6] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-2.0 {1, 100}
[1] SWITCH-PORT-MAP[5]            2.7
[1] SWITCH-PORT-VLAN-ID[5]        2


LINK N8-3.0 {1, 14}
[1] SWITCH-PORT-MAP[4]            3.1
[1] SWITCH-PORT-VLAN-ID[4]        3
[3.2] SWITCH-STATION-VLAN-ID      3
[3.2] SWITCH-STATION-VLAN-TAGGING YES

LINK N8-3.0 {2, 24}
[2] SWITCH-PORT-MAP[4]            3.3
[2] SWITCH-PORT-VLAN-ID[4]        3
[3.4] SWITCH-STATION-VLAN-ID      3
[3.4] SWITCH-STATION-VLAN-TAGGING YES

LINK N8-3.0 {3, 34}
[3] SWITCH-PORT-MAP[4]            3.5
[3] SWITCH-PORT-VLAN-ID[4]        3
[3.6] SWITCH-STATION-VLAN-ID      3
[3.6] SWITCH-STATION-VLAN-TAGGING YES

LINK N8-3.0 {1, 100}
[1] SWITCH-PORT-MAP[6]            3.7
[1] SWITCH-PORT-VLAN-ID[6]        3


LINK N8-1.0 {1, 2}
[1] SWITCH-PORT-MAP[3]            1.1
[1] SWITCH-PORT-VLAN-ID[3]        1

[2] SWITCH-PORT-MAP[1]            1.2
[2] SWITCH-PORT-VLAN-ID[1]        1

LINK N8-1.0 {2, 3}
[2] SWITCH-PORT-MAP[3]            1.3
[2] SWITCH-PORT-VLAN-ID[3]        1

[3] SWITCH-PORT-MAP[1]            1.4
[3] SWITCH-PORT-VLAN-ID[1]        1


SIMULATION-TIME                   300S

MAC-PROTOCOL                      MAC802.3
SUBNET-DATA-RATE                  10000000
SUBNET-PROPAGATION-DELAY          10US

LINK-BANDWIDTH                    10000000
LINK-PROPAGATION-DELAY            10US

SWITCH-PORT-STATISTICS            YES
SWITCH-QUEUE-STATISTICS           YES
SWITCH-SCHEDULER-STATISTICS       YES
SWITCH-DATABASE-STATISTICS        YES
SWITCH-PORT-VLAN-STATISTICS       YES
SWITCH-GVRP-STATISTICS            YES

ROUTING-PROTOCOL                  BELLMANFORD

APP-CONFIG-FILE                   ./default.app

TCP-MSS                           1000

# .............................................

VERSION 6.1
EXPERIMENT-NAME default
SEED   1
COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT   UNIFORM

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE

PHY-MODEL                   PHY802.11b
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY802.11b-DATA-RATE          2000000
PHY802.11b-TX-POWER           15.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5

NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY
IP-FORWARDING YES

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    NO

