# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.
#                     6100 Center Drive
#                     Suite 1250
#                     Los Angeles, CA 90045
#                     sales@scalable-networks.com
# All Rights Reserved.
#
# Topology:
#
# 2 subnets 1.0 and 10.0
# 1.0  has 5 nodes (1 to 5) with 1 as PC.
# 10.0 has 4 nodes (10 to 13) with 10 as PC.
#
# Both the subnets (particularly the PCs) are beyond
# each other's receive range and connected with a wired link.
#
# PCF values are at default.
#
#
#        -------------------------
#       |                         |
#       1 (PC)                    10 (PC)
#   2        4               11
#                 5                     13
#       3                        12
#
# FTP transfer between
# 2,3  at 1S
# 2,5  at 5S
# 3,12 at 10S




SUBNET SLA-1 { 1 thru 5 }
[ 1 ] MAC-DOT11-AP    YES
[ 1 ] MAC-DOT11-PC        YES

SUBNET SLA-3 { 10 thru 13 }
[ 10 ] MAC-DOT11-AP    YES
[ 10 ] MAC-DOT11-PC       YES
[ 1 10 ] MAC-DOT11-PC-CF-DURATION 50
[ 1 10 ] MAC-DOT11-BEACON-START-TIME 1
[ 1 10 ] MAC-DOT11-BEACON-INTERVAL 200
[ 1 10 ] MAC-DOT11-DTIM-PERIOD 1

MAC-PROTOCOL                  MACDOT11
MAC-DOT11-ASSOCIATION    DYNAMIC
MAC-DOT11-SCAN-TYPE      PASSIVE
[1 10] MAC-DOT11-SCAN-TYPE      NONE

LINK SLA-2 { 1, 10 }
LINK-BANDWIDTH                1000000
LINK-PROPAGATION-DELAY        1MS

MAC-DOT11-STATION-PCF-STATISTICS     YES

PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                2000000

PHY-RX-MODEL                BER-BASED
PHY-RX-BER-TABLE-FILE[0]    ./dpsk.ber
PHY-RX-BER-TABLE-FILE[1]    ./dpsk.ber
PHY-RX-BER-TABLE-FILE[2]    ./dpsk.ber
PHY-RX-BER-TABLE-FILE[3]    ./dpsk.ber

#---------------------------------------------------------------

VERSION 6.1
EXPERIMENT-NAME default
SIMULATION-TIME   60M
SEED   1
COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1000)

NODE-PLACEMENT        FILE
NODE-POSITION-FILE   ./default.nodes

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE

PHY-MODEL                   PHY802.11b
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
#PHY-RX-MODEL                BER-BASED
#PHY-RX-BER-TABLE-FILE          ./dpsk.ber
PHY802.11b-DATA-RATE          2000000
PHY802.11b-TX-POWER           15.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL

PROMISCUOUS-MODE   YES

NETWORK-PROTOCOL   IPv6
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

IP-FORWARDING YES

#ROUTING-PROTOCOL   BELLMANFORD
#ROUTING-PROTOCOL   AODV

TCP-MSS                                1000

APP-CONFIG-FILE   ./default.app

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    YES






ROUTING-PROTOCOL NONE
