# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.
VERSION 6.1

EXPERIMENT-NAME lanmar-multiple-interface

SIMULATION-TIME   111

SEED   1

COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)


###############################################################################
# Topology                                                                    #
###############################################################################


SUBNET N8-192.0.1.0 {1, 2}
SUBNET N8-192.0.2.0 {1, 2}
SUBNET N8-192.0.3.0 {1, 2}


#SUBNET N8-192.0.3.0 {3, 4}
#SUBNET N8-192.0.4.0 {3, 4}


# The following parameter represents the node placement strategy.
NODE-PLACEMENT        FILE
#MOBILITY             FILE
NODE-POSITION-FILE   ./lanmar-multiple-interface.nodes


###############################################################################
# Channel properties                                                          #
###############################################################################


# multiple(4) radio channels for 4 differnet subnets
PROPAGATION-CHANNEL-FREQUENCY[0]    2.4e9
PROPAGATION-CHANNEL-FREQUENCY[1]    2.5e9
PROPAGATION-CHANNEL-FREQUENCY[2]    2.6e9
PROPAGATION-CHANNEL-FREQUENCY[3]    2.7e9



[N8-192.0.1.0] PHY-LISTENABLE-CHANNEL-MASK     1000
[N8-192.0.1.0] PHY-LISTENING-CHANNEL-MASK      1000

[N8-192.0.2.0] PHY-LISTENABLE-CHANNEL-MASK     0100
[N8-192.0.2.0] PHY-LISTENING-CHANNEL-MASK      0100

[N8-192.0.3.0] PHY-LISTENABLE-CHANNEL-MASK     0010
[N8-192.0.3.0] PHY-LISTENING-CHANNEL-MASK      0010

[N8-192.0.4.0] PHY-LISTENABLE-CHANNEL-MASK     0001
[N8-192.0.4.0] PHY-LISTENING-CHANNEL-MASK      0001



PROPAGATION-LIMIT               -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE



###############################################################################
# Phy layer                                                                   #
###############################################################################


#
# PHY-MODEL: phy model to transmit and receive packets
#   PHY802.11a:     IEEE 802.11a PHY
#   PHY802.11b:     IEEE 802.11b PHY
#   PHY-ABSTRACT:   An abstract PHY
#   FCSC-PROTOTYPE: FCSC Comms prototype PHY

#  For wireless communication

PHY-MODEL                   PHY802.11b
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY-RX-MODEL                PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                11000000
PHY802.11-DATA-RATE-FOR-BROADCAST  11000000

PHY802.11a-TX-POWER--6MBPS  20.0
PHY802.11a-TX-POWER--9MBPS  20.0
PHY802.11a-TX-POWER-12MBPS  19.0
PHY802.11a-TX-POWER-18MBPS  19.0
PHY802.11a-TX-POWER-24MBPS  18.0
PHY802.11a-TX-POWER-36MBPS  18.0
PHY802.11a-TX-POWER-48MBPS  16.0
PHY802.11a-TX-POWER-54MBPS  16.0

PHY802.11b-TX-POWER--1MBPS  15.0
PHY802.11b-TX-POWER--2MBPS  15.0
PHY802.11b-TX-POWER--6MBPS  15.0
PHY802.11b-TX-POWER-11MBPS  15.0


PHY802.11b-RX-SENSITIVITY--1MBPS  -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS  -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS  -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS  -83.0


ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL


###############################################################################
# MAC layer                                                                   #
###############################################################################


MAC-PROTOCOL   MACDOT11


# SUBNET-DATA-RATE            100000000
# SUBNET-PROPAGATION-DELAY    1MS


###############################################################################
# Network layer                                                               #
###############################################################################

#
# File containing vendor router models
#


#ROUTER-MODEL-CONFIG-FILE    lanmar-multiple-interface.router-models
NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY




GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02


###############################################################################
# Routing - forwarding, static, default routes                                #
###############################################################################


IP-FORWARDING YES


###############################################################################
# Unicast routing - wireless ad hoc                                           #
###############################################################################

# Landmark Ad Hoc Routing (LANMAR) protocol

ROUTING-PROTOCOL                        FSRL
LANMAR-MIN-MEMBER-THRESHOLD             1
LANMAR-FISHEYE-SCOPE                    1
LANMAR-FISHEYE-UPDATE-INTERVAL          2S
LANMAR-LANDMARK-UPDATE-INTERVAL         5S
LANMAR-NEIGHBOR-TIMEOUT-INTERVAL        4S
LANMAR-FISHEYE-MAX-AGE                  4S
LANMAR-LANDMARK-MAX-AGE                 10S
LANMAR-DRIFTER-MAX-AGE                  4S


###############################################################################
# Unicast routing - wired                                                     #
###############################################################################


###############################################################################
# Unicast routing - mixed networks                                            #
###############################################################################


# ROUTING-PROTOCOL   BELLMANFORD
# ROUTING-PROTOCOL   RIPv2
# ROUTING-PROTOCOL   OSPFv2



###############################################################################
# Application layer                                                           #
###############################################################################


APP-CONFIG-FILE   ./lanmar-multiple-interface.app


###############################################################################
# Statistics                                                                  #
###############################################################################

#
# The following parameters determine if you are interested in the
# statistics of a single or multiple layer.  By specifying the following
# parameters as YES, the simulation will provide you with statistics for
# that particular layer.  All the statistics are compiled together into
# a file called "qualnet.stat" that is produced at the end of the simulation.
# If you need the statistics for a particular node or particular protocol,
# it is easy to do the filtering.  Every single line in the file is of
# the following format:
#
# Node:      9, Layer:  PhyNoCapture, Total number of collisions is 0
#

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          YES
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        YES
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO



