# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.


VERSION 6.1
EXPERIMENT-NAME default
SIMULATION-TIME 30S
SEED 1
PARTITION-SCHEME AUTO
COORDINATE-SYSTEM LATLONALT
TERRAIN-SOUTH-WEST-CORNER ( 35.0000000, -120.0000000 )
TERRAIN-NORTH-EAST-CORNER ( 39.0000000, -116.0000000 )
DUMMY-ALTITUDES ( 1500, 1500 )
TERRAIN-DATA-BOUNDARY-CHECK YES
DUMMY-NUMBER-OF-NODES 10
NODE-PLACEMENT FILE
NODE-POSITION-FILE default.nodes
MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 5.0
MOBILITY-GROUND-NODE NO
PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-MODEL STATISTICAL
PROPAGATION-LIMIT -111.0
PROPAGATION-PATHLOSS-MODEL FREE-SPACE
PROPAGATION-SHADOWING-MODEL CONSTANT
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 1000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-PROPAGATION-DELAY 1MS
PROMISCUOUS-MODE YES
NETWORK-PROTOCOL IP
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY
DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL AODV
AODV-NET-DIAMETER 35
AODV-NODE-TRAVERSAL-TIME 40MS
AODV-ACTIVE-ROUTE-TIMEOUT 3S
AODV-MY-ROUTE-TIMEOUT 6S
AODV-HELLO-INTERVAL 1S
AODV-ALLOWED-HELLO-LOSS 2
AODV-RREQ-RETRIES 2
AODV-ROUTE-DELETION-CONSTANT 5
AODV-PROCESS-HELLO NO
AODV-LOCAL-REPAIR NO
AODV-SEARCH-BETTER-ROUTE NO
AODV-BUFFER-MAX-PACKET 100
AODV-BUFFER-MAX-BYTE 0
AODV-OPEN-BI-DIRECTIONAL-CONNECTION YES
AODV-TTL-START 1
AODV-TTL-INCREMENT 2
AODV-TTL-THRESHOLD 7
HSRP-PROTOCOL NO
STATIC-ROUTE NO
MPLS-PROTOCOL NO
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 1460
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384
APP-CONFIG-FILE default.app
PACKET-TRACE NO
ACCESS-LIST-TRACE NO
APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS YES
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES

MPLS-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
ACCESS-LIST-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
H323-STATISTICS NO
GSM-STATISTICS NO
NODE-NAME Default
USE-NODE-ICON NO
PARTITION 0

SUBNET N8-192.0.0.0 { 1 thru 3 } 61724.5307091 301814.8008924 0.0
[N8-192.0.0.0] PHY-MODEL PHY802.11b
[N8-192.0.0.0] PHY802.11-AUTO-RATE-FALLBACK NO
[N8-192.0.0.0] PHY802.11-DATA-RATE 1000000
[N8-192.0.0.0] PHY802.11b-TX-POWER--1MBPS 15.0
[N8-192.0.0.0] PHY802.11b-TX-POWER--2MBPS 15.0
[N8-192.0.0.0] PHY802.11b-TX-POWER--6MBPS 15.0
[N8-192.0.0.0] PHY802.11b-TX-POWER-11MBPS 15.0
[N8-192.0.0.0] PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
[N8-192.0.0.0] PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
[N8-192.0.0.0] PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
[N8-192.0.0.0] PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
[N8-192.0.0.0] PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
[N8-192.0.0.0] PHY-RX-MODEL PHY802.11b
[N8-192.0.0.0] PHY-LISTENABLE-CHANNEL-MASK 1
[N8-192.0.0.0] PHY-LISTENING-CHANNEL-MASK 1
[N8-192.0.0.0] PHY-TEMPERATURE 290.0
[N8-192.0.0.0] PHY-NOISE-FACTOR 10.0
[N8-192.0.0.0] ANTENNA-MODEL OMNIDIRECTIONAL
[N8-192.0.0.0] ANTENNA-GAIN 6.0
[N8-192.0.0.0] ANTENNA-HEIGHT 1.5
[N8-192.0.0.0] ANTENNA-EFFICIENCY 0.8
[N8-192.0.0.0] ANTENNA-MISMATCH-LOSS 0.3
[N8-192.0.0.0] ANTENNA-CABLE-LOSS 0.0
[N8-192.0.0.0] ANTENNA-CONNECTION-LOSS 0.2
[N8-192.0.0.0] MAC-PROTOCOL MACDOT11
[N8-192.0.0.0] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[N8-192.0.0.0] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[N8-192.0.0.0] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[N8-192.0.0.0] MAC-DOT11-RTS-THRESHOLD 0
[N8-192.0.0.0] PROMISCUOUS-MODE YES

SUBNET N8-192.0.1.0 { 8 thru 10 } 269137.1081653 291829.9503365 0.0
[N8-192.0.1.0] PHY-MODEL PHY802.11b
[N8-192.0.1.0] PHY802.11-AUTO-RATE-FALLBACK NO
[N8-192.0.1.0] PHY802.11-DATA-RATE 1000000
[N8-192.0.1.0] PHY802.11b-TX-POWER--1MBPS 15.0
[N8-192.0.1.0] PHY802.11b-TX-POWER--2MBPS 15.0
[N8-192.0.1.0] PHY802.11b-TX-POWER--6MBPS 15.0
[N8-192.0.1.0] PHY802.11b-TX-POWER-11MBPS 15.0
[N8-192.0.1.0] PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
[N8-192.0.1.0] PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
[N8-192.0.1.0] PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
[N8-192.0.1.0] PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
[N8-192.0.1.0] PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
[N8-192.0.1.0] PHY-RX-MODEL PHY802.11b
[N8-192.0.1.0] PHY-LISTENABLE-CHANNEL-MASK 1
[N8-192.0.1.0] PHY-LISTENING-CHANNEL-MASK 1
[N8-192.0.1.0] PHY-TEMPERATURE 290.0
[N8-192.0.1.0] PHY-NOISE-FACTOR 10.0
[N8-192.0.1.0] ANTENNA-MODEL OMNIDIRECTIONAL
[N8-192.0.1.0] ANTENNA-GAIN 6.0
[N8-192.0.1.0] ANTENNA-HEIGHT 1.5
[N8-192.0.1.0] ANTENNA-EFFICIENCY 0.8
[N8-192.0.1.0] ANTENNA-MISMATCH-LOSS 0.3
[N8-192.0.1.0] ANTENNA-CABLE-LOSS 0.0
[N8-192.0.1.0] ANTENNA-CONNECTION-LOSS 0.2
[N8-192.0.1.0] MAC-PROTOCOL MACDOT11
[N8-192.0.1.0] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[N8-192.0.1.0] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[N8-192.0.1.0] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[N8-192.0.1.0] MAC-DOT11-RTS-THRESHOLD 0
[N8-192.0.1.0] PROMISCUOUS-MODE YES

# ITM related parameters:

# LINK-PROPAGATION-REFRACTIVITY  320

#
#                           Climate  Refractivity
# Equatorial                    1       360
# Continental Subtropical       2       320
# Maritime Tropical             3       370
# Desert                        4       280
# Continental Temperate         5       301
# Maritime Temperate, Over Land 6       320
# Maritime Temperate, Over Sea  7       350
#

# LINK-PROPAGATION-PERMITTIVITY 15
# LINK-PROPAGATION-CONDUCTIVITY 0.005

#                Dielectric Constant Ground Conductivity
#                (Permittivity)
# Average Ground      15                  0.005
# Poor Ground          4                  0.001
# Good Ground         25                  0.02
# Fresh Water         81                  0.01
# Salt Water          81                  5.0

# LINK-PROPAGATION-CLIMATE      1

# Climate: has the value of
#     1 for Equatorial
#     2 for Continental Subtropical
#     3 for Maritime Tropical
#     4 for Desert
#     5 for Continental Temperate
#     6 for Maritime Temperate, Over Land
#     7 for Maritime Temperate, Over Sea

# LINK-PROPAGATION-HUMIDITY     50

# LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20
# refer to ITU-R Recommendation P.453-6 to have this value for desired area

# LINK-TERRAIN-TYPE PLAINS/HILLS/MOUNTAINS 
# LINK-TERRAIN-TYPE PLAINS

# LINK-TX-ANTENNA-POLARIZATION HORIZONTAL/VERTICAL
# LINK-TX-ANTENNA-POLARIZATION HORIZONTAL

# LINK-RX-ANTENNA-POLARIZATION HORIZONTAL/VERTICAL
# LINK-RX-ANTENNA-POLARIZATION HORIZONTAL

# LINK-PROPAGATION-RAIN-INTENSITY 0
# refer to ITU-R Recommendation P.837-1 to have rain intensity value
# for desired area

LINK N8-192.0.2.0 { 3, 4 }
[192.0.2.1 192.0.2.2] LINK-PHY-TYPE MICROWAVE
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-DELAY 1MS
[192.0.2.1 192.0.2.2] LINK-BANDWIDTH 10000000
[192.0.2.1 192.0.2.2] LINK-TX-FREQUENCY  13110000000
[192.0.2.1 192.0.2.2] LINK-RX-FREQUENCY  13110000000
[192.0.2.1 192.0.2.2] LINK-TX-ANTENNA-HEIGHT 25
[192.0.2.1 192.0.2.2] LINK-RX-ANTENNA-HEIGHT 30
[192.0.2.1 192.0.2.2] LINK-TX-ANTENNA-DISH-DIAMETER 0.8
[192.0.2.1 192.0.2.2] LINK-RX-ANTENNA-DISH-DIAMETER 0.8
[192.0.2.1 192.0.2.2] LINK-TX-ANTENNA-CABLE-LOSS 0
[192.0.2.1 192.0.2.2] LINK-RX-ANTENNA-CABLE-LOSS 0
[192.0.2.1 192.0.2.2] LINK-TX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.2.1 192.0.2.2] LINK-RX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.2.1 192.0.2.2] LINK-TX-POWER      25
[192.0.2.1 192.0.2.2] LINK-RX-SENSITIVITY    -80
[192.0.2.1 192.0.2.2] LINK-NOISE-TEMPERATURE 290
[192.0.2.1 192.0.2.2] LINK-NOISE-FACTOR      4
[192.0.2.1 192.0.2.2] LINK-TERRAIN-TYPE PLAINS
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-RAIN-INTENSITY 0
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-TEMPERATURE 25
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-SAMPLING-DISTANCE 100.0
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-CLIMATE      1
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-REFRACTIVITY  320
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-PERMITTIVITY 15
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-CONDUCTIVITY 0.005
[192.0.2.1 192.0.2.2] LINK-PROPAGATION-HUMIDITY     50
[192.0.2.1 192.0.2.2] LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20

LINK N8-192.0.3.0 { 4, 5 }
[192.0.3.1 192.0.3.2] LINK-PHY-TYPE MICROWAVE
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-DELAY 1MS
[192.0.3.1 192.0.3.2] LINK-BANDWIDTH 10000000
[192.0.3.1 192.0.3.2] LINK-TX-FREQUENCY  13125000000
[192.0.3.1 192.0.3.2] LINK-RX-FREQUENCY  13125000000
[192.0.3.1 192.0.3.2] LINK-TX-ANTENNA-HEIGHT 25
[192.0.3.1 192.0.3.2] LINK-RX-ANTENNA-HEIGHT 30
[192.0.3.1 192.0.3.2] LINK-TX-ANTENNA-DISH-DIAMETER 0.4
[192.0.3.1 192.0.3.2] LINK-RX-ANTENNA-DISH-DIAMETER 0.4
[192.0.3.1 192.0.3.2] LINK-TX-ANTENNA-CABLE-LOSS 0
[192.0.3.1 192.0.3.2] LINK-RX-ANTENNA-CABLE-LOSS 0
[192.0.3.1 192.0.3.2] LINK-TX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.3.1 192.0.3.2] LINK-RX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.3.1 192.0.3.2] LINK-TX-POWER      20
[192.0.3.1 192.0.3.2] LINK-RX-SENSITIVITY    -80
[192.0.3.1 192.0.3.2] LINK-NOISE-TEMPERATURE 290
[192.0.3.1 192.0.3.2] LINK-NOISE-FACTOR      4
[192.0.3.1 192.0.3.2] LINK-TERRAIN-TYPE PLAINS
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-RAIN-INTENSITY 0
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-TEMPERATURE 25
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-SAMPLING-DISTANCE 100.0
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-CLIMATE      1
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-REFRACTIVITY  320
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-PERMITTIVITY 15
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-CONDUCTIVITY 0.005
[192.0.3.1 192.0.3.2] LINK-PROPAGATION-HUMIDITY     50
[192.0.3.1 192.0.3.2] LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20

LINK N8-192.0.4.0 { 5, 6 }
[192.0.4.1 192.0.4.2] LINK-PHY-TYPE MICROWAVE
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-DELAY 1MS
[192.0.4.1 192.0.4.2] LINK-BANDWIDTH 10000000
[192.0.4.1 192.0.4.2] LINK-TX-FREQUENCY  13140000000
[192.0.4.1 192.0.4.2] LINK-RX-FREQUENCY  13140000000
[192.0.4.1 192.0.4.2] LINK-TX-ANTENNA-HEIGHT 20
[192.0.4.1 192.0.4.2] LINK-RX-ANTENNA-HEIGHT 25
[192.0.4.1 192.0.4.2] LINK-TX-ANTENNA-DISH-DIAMETER 0.3
[192.0.4.1 192.0.4.2] LINK-RX-ANTENNA-DISH-DIAMETER 0.3
[192.0.4.1 192.0.4.2] LINK-TX-ANTENNA-CABLE-LOSS 0
[192.0.4.1 192.0.4.2] LINK-RX-ANTENNA-CABLE-LOSS 0
[192.0.4.1 192.0.4.2] LINK-TX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.4.1 192.0.4.2] LINK-RX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.4.1 192.0.4.2] LINK-TX-POWER      20
[192.0.4.1 192.0.4.2] LINK-RX-SENSITIVITY    -80
[192.0.4.1 192.0.4.2] LINK-NOISE-TEMPERATURE 290
[192.0.4.1 192.0.4.2] LINK-NOISE-FACTOR      4
[192.0.4.1 192.0.4.2] LINK-TERRAIN-TYPE PLAINS
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-RAIN-INTENSITY 0
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-TEMPERATURE 25
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-SAMPLING-DISTANCE 100.0
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-CLIMATE      1
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-REFRACTIVITY  320
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-PERMITTIVITY 15
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-CONDUCTIVITY 0.005
[192.0.4.1 192.0.4.2] LINK-PROPAGATION-HUMIDITY     50
[192.0.4.1 192.0.4.2] LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20

LINK N8-192.0.5.0 { 6, 7 }
[192.0.5.1 192.0.5.2] LINK-PHY-TYPE MICROWAVE
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-DELAY 1MS
[192.0.5.1 192.0.5.2] LINK-BANDWIDTH 10000000
[192.0.5.1 192.0.5.2] LINK-TX-FREQUENCY  13155000000
[192.0.5.1 192.0.5.2] LINK-RX-FREQUENCY  13155000000
[192.0.5.1 192.0.5.2] LINK-TX-ANTENNA-HEIGHT 20
[192.0.5.1 192.0.5.2] LINK-RX-ANTENNA-HEIGHT 25
[192.0.5.1 192.0.5.2] LINK-TX-ANTENNA-DISH-DIAMETER 0.3
[192.0.5.1 192.0.5.2] LINK-RX-ANTENNA-DISH-DIAMETER 0.3
[192.0.5.1 192.0.5.2] LINK-TX-ANTENNA-CABLE-LOSS 0
[192.0.5.1 192.0.5.2] LINK-RX-ANTENNA-CABLE-LOSS 0
[192.0.5.1 192.0.5.2] LINK-TX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.5.1 192.0.5.2] LINK-RX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.5.1 192.0.5.2] LINK-TX-POWER      20
[192.0.5.1 192.0.5.2] LINK-RX-SENSITIVITY    -80
[192.0.5.1 192.0.5.2] LINK-NOISE-TEMPERATURE 290
[192.0.5.1 192.0.5.2] LINK-NOISE-FACTOR      4
[192.0.5.1 192.0.5.2] LINK-TERRAIN-TYPE PLAINS
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-RAIN-INTENSITY 0
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-TEMPERATURE 25
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-SAMPLING-DISTANCE 100.0
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-CLIMATE      1
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-REFRACTIVITY  320
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-PERMITTIVITY 15
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-CONDUCTIVITY 0.005
[192.0.5.1 192.0.5.2] LINK-PROPAGATION-HUMIDITY     50
[192.0.5.1 192.0.5.2] LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20

LINK N8-192.0.6.0 { 7, 8 }
[192.0.6.1 192.0.6.2] LINK-PHY-TYPE MICROWAVE
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-DELAY 1MS
[192.0.6.1 192.0.6.2] LINK-BANDWIDTH 10000000
[192.0.6.1 192.0.6.2] LINK-TX-FREQUENCY  13170000000
[192.0.6.1 192.0.6.2] LINK-RX-FREQUENCY  13170000000
[192.0.6.1 192.0.6.2] LINK-TX-ANTENNA-HEIGHT 20
[192.0.6.1 192.0.6.2] LINK-RX-ANTENNA-HEIGHT 30
[192.0.6.1 192.0.6.2] LINK-TX-ANTENNA-DISH-DIAMETER 0.3
[192.0.6.1 192.0.6.2] LINK-RX-ANTENNA-DISH-DIAMETER 0.3
[192.0.6.1 192.0.6.2] LINK-TX-ANTENNA-CABLE-LOSS 0
[192.0.6.1 192.0.6.2] LINK-RX-ANTENNA-CABLE-LOSS 0
[192.0.6.1 192.0.6.2] LINK-TX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.6.1 192.0.6.2] LINK-RX-ANTENNA-POLARIZATION HORIZONTAL
[192.0.6.1 192.0.6.2] LINK-TX-POWER      20
[192.0.6.1 192.0.6.2] LINK-RX-SENSITIVITY    -80
[192.0.6.1 192.0.6.2] LINK-NOISE-TEMPERATURE 290
[192.0.6.1 192.0.6.2] LINK-NOISE-FACTOR      4
[192.0.6.1 192.0.6.2] LINK-TERRAIN-TYPE PLAINS
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-RAIN-INTENSITY 0
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-TEMPERATURE 25
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-SAMPLING-DISTANCE 100.0
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-CLIMATE      1
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-REFRACTIVITY  320
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-PERMITTIVITY 15
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-CONDUCTIVITY 0.005
[192.0.6.1 192.0.6.2] LINK-PROPAGATION-HUMIDITY     50
[192.0.6.1 192.0.6.2] LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 20
# IP-FORWARDING NO
[1 thru 10] IP-FORWARDING YES
[3 thru 8] MOBILITY NONE
COMPONENT 0 {1 2 3 4 5 6 7 8 9 10 N8-192.0.0.0 N8-192.0.1.0} 12 37.0000000 -118.0000000 0.0 4.0 4.0 3000.0
[9] HOSTNAME host9
[8] HOSTNAME host8
[7] HOSTNAME host7
[6] HOSTNAME host6
[10] HOSTNAME host10
[5] HOSTNAME host5
[4] HOSTNAME host4
[3] HOSTNAME host3
[2] HOSTNAME host2
[1] HOSTNAME host1
