# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME location-update
EXPERIMENT-COMMENT none
SIMULATION-TIME 500S
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 1500, 1500 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 16
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE location-update.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 935000000
PROPAGATION-CHANNEL-FREQUENCY[1] 890000000
PROPAGATION-CHANNEL-FREQUENCY[2] 935200000
PROPAGATION-CHANNEL-FREQUENCY[3] 890200000
PROPAGATION-CHANNEL-FREQUENCY[4] 935400000
PROPAGATION-CHANNEL-FREQUENCY[5] 890400000
PROPAGATION-CHANNEL-FREQUENCY[6] 935600000
PROPAGATION-CHANNEL-FREQUENCY[7] 890600000
PROPAGATION-CHANNEL-FREQUENCY[8] 935800000
PROPAGATION-CHANNEL-FREQUENCY[9] 890800000
PROPAGATION-CHANNEL-FREQUENCY[10] 936000000
PROPAGATION-CHANNEL-FREQUENCY[11] 891000000
PROPAGATION-CHANNEL-FREQUENCY[12] 936200000
PROPAGATION-CHANNEL-FREQUENCY[13] 891200000
PROPAGATION-CHANNEL-FREQUENCY[14] 936400000
PROPAGATION-CHANNEL-FREQUENCY[15] 891400000
PROPAGATION-CHANNEL-FREQUENCY[16] 936600000
PROPAGATION-CHANNEL-FREQUENCY[17] 891600000
PROPAGATION-CHANNEL-FREQUENCY[18] 936800000
PROPAGATION-CHANNEL-FREQUENCY[19] 891800000
PROPAGATION-MODEL STATISTICAL
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-MODEL[2] STATISTICAL
PROPAGATION-MODEL[3] STATISTICAL
PROPAGATION-MODEL[4] STATISTICAL
PROPAGATION-MODEL[5] STATISTICAL
PROPAGATION-MODEL[6] STATISTICAL
PROPAGATION-MODEL[7] STATISTICAL
PROPAGATION-MODEL[8] STATISTICAL
PROPAGATION-MODEL[9] STATISTICAL
PROPAGATION-MODEL[10] STATISTICAL
PROPAGATION-MODEL[11] STATISTICAL
PROPAGATION-MODEL[12] STATISTICAL
PROPAGATION-MODEL[13] STATISTICAL
PROPAGATION-MODEL[14] STATISTICAL
PROPAGATION-MODEL[15] STATISTICAL
PROPAGATION-MODEL[16] STATISTICAL
PROPAGATION-MODEL[17] STATISTICAL
PROPAGATION-MODEL[18] STATISTICAL
PROPAGATION-MODEL[19] STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[1] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[2] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[3] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[4] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[5] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[6] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[7] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[8] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[9] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[10] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[11] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[12] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[13] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[14] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[15] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[16] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[17] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[18] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[19] -111.0
PROPAGATION-PATHLOSS-MODEL TWO-RAY
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[2] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[3] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[4] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[5] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[6] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[7] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[8] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[9] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[10] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[11] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[12] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[13] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[14] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[15] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[16] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[17] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[18] TWO-RAY
PROPAGATION-PATHLOSS-MODEL[19] TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-SHADOWING-MODEL[2] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[2] 4.0
PROPAGATION-SHADOWING-MODEL[3] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[3] 4.0
PROPAGATION-SHADOWING-MODEL[4] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[4] 4.0
PROPAGATION-SHADOWING-MODEL[5] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[5] 4.0
PROPAGATION-SHADOWING-MODEL[6] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[6] 4.0
PROPAGATION-SHADOWING-MODEL[7] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[7] 4.0
PROPAGATION-SHADOWING-MODEL[8] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[8] 4.0
PROPAGATION-SHADOWING-MODEL[9] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[9] 4.0
PROPAGATION-SHADOWING-MODEL[10] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[10] 4.0
PROPAGATION-SHADOWING-MODEL[11] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[11] 4.0
PROPAGATION-SHADOWING-MODEL[12] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[12] 4.0
PROPAGATION-SHADOWING-MODEL[13] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[13] 4.0
PROPAGATION-SHADOWING-MODEL[14] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[14] 4.0
PROPAGATION-SHADOWING-MODEL[15] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[15] 4.0
PROPAGATION-SHADOWING-MODEL[16] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[16] 4.0
PROPAGATION-SHADOWING-MODEL[17] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[17] 4.0
PROPAGATION-SHADOWING-MODEL[18] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[18] 4.0
PROPAGATION-SHADOWING-MODEL[19] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[19] 4.0
PROPAGATION-FADING-MODEL NONE
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-FADING-MODEL[2] NONE
PROPAGATION-FADING-MODEL[3] NONE
PROPAGATION-FADING-MODEL[4] NONE
PROPAGATION-FADING-MODEL[5] NONE
PROPAGATION-FADING-MODEL[6] NONE
PROPAGATION-FADING-MODEL[7] NONE
PROPAGATION-FADING-MODEL[8] NONE
PROPAGATION-FADING-MODEL[9] NONE
PROPAGATION-FADING-MODEL[10] NONE
PROPAGATION-FADING-MODEL[11] NONE
PROPAGATION-FADING-MODEL[12] NONE
PROPAGATION-FADING-MODEL[13] NONE
PROPAGATION-FADING-MODEL[14] NONE
PROPAGATION-FADING-MODEL[15] NONE
PROPAGATION-FADING-MODEL[16] NONE
PROPAGATION-FADING-MODEL[17] NONE
PROPAGATION-FADING-MODEL[18] NONE
PROPAGATION-FADING-MODEL[19] NONE

# ************* Radio/Physical Layer ***********

PHY-MODEL PHY-GSM
# bandwidth in bps
PHY-GSM-DATA-RATE 270833
# transmission power in dBm
PHY-GSM-TX-POWER 20.0
# sensitivity in dBm
PHY-GSM-RX-SENSITIVITY -110.0
# Minimum power for received packet (in dBm)
PHY-GSM-RX-THRESHOLD -90.0
PHY-RX-MODEL BER-BASED
PHY-RX-BER-TABLE-FILE gmsk.ber
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 11111111111111111111
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 00000000000000000000
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 1.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL GSM
GSM-CONTROL-CHANNEL [0 4 8 12 16]
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-TIMEOUT-INTERVAL 20M
ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL GSM-LAYER3
GSM-NODE-CONFIG-FILE location-update.gsm
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
HSRP-PROTOCOL NO
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
DEFAULT-ROUTE NO
#DEFAULT-ROUTE-FILE location-update.routes-default

# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE location-update.app

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS NO
TCP-STATISTICS NO
UDP-STATISTICS NO
ROUTING-STATISTICS NO
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS NO
NETWORK-LAYER-STATISTICS NO
QUEUE-STATISTICS NO
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
GSM-STATISTICS YES
ARP-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON DEFAULT.png
HLA-DEVICE-ICON-PATH Optional

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE PREDEFINED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



#----------------Subnet ID 1 -----------------
SUBNET N8-192.0.0.0 { 1 thru 6 } 566.83 762.38 0.0
[ N8-192.0.0.0 ] PHY-MODEL PHY-GSM
# bandwidth in bps
[ N8-192.0.0.0 ] PHY-GSM-DATA-RATE 270833
# transmission power in dBm
[ N8-192.0.0.0 ] PHY-GSM-TX-POWER 20.0
# sensitivity in dBm
[ N8-192.0.0.0 ] PHY-GSM-RX-SENSITIVITY -110.0
# Minimum power for received packet (in dBm)
[ N8-192.0.0.0 ] PHY-GSM-RX-THRESHOLD -90.0
[ N8-192.0.0.0 ] PHY-RX-MODEL BER-BASED
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 11111111111111111111
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 00000000000000000000
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 1.5
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL GSM
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL GSM-LAYER3

LINK N8-192.0.1.0 { 2, 16 }
[ 192.0.1.1 192.0.1.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.1.1 192.0.1.2 ] LINK-PHY-TYPE WIRED
[ 192.0.1.1 192.0.1.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.1.1 192.0.1.2 ] LINK-BANDWIDTH 10000000
[ 192.0.1.1 192.0.1.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.2.0 { 3, 16 }
[ 192.0.2.1 192.0.2.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.2.1 192.0.2.2 ] LINK-PHY-TYPE WIRED
[ 192.0.2.1 192.0.2.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.2.1 192.0.2.2 ] LINK-BANDWIDTH 10000000
[ 192.0.2.1 192.0.2.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.3.0 { 4, 16 }
[ 192.0.3.1 192.0.3.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.3.1 192.0.3.2 ] LINK-PHY-TYPE WIRED
[ 192.0.3.1 192.0.3.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.3.1 192.0.3.2 ] LINK-BANDWIDTH 10000000
[ 192.0.3.1 192.0.3.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.4.0 { 5, 16 }
[ 192.0.4.1 192.0.4.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.4.1 192.0.4.2 ] LINK-PHY-TYPE WIRED
[ 192.0.4.1 192.0.4.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.4.1 192.0.4.2 ] LINK-BANDWIDTH 10000000
[ 192.0.4.1 192.0.4.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.5.0 { 6, 16 }
[ 192.0.5.1 192.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.5.1 192.0.5.2 ] LINK-BANDWIDTH 10000000
[ 192.0.5.1 192.0.5.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.7.0 { 1, 16 }
[ 192.0.7.1 192.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.7.1 192.0.7.2 ] LINK-BANDWIDTH 10000000
[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL GSM-LAYER3
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO

#----------------Default Subnet -----------------
SUBNET N8-192.0.6.0 { 7 thru 15 } Default

[ 1 thru 6 ] MOBILITY-POSITION-GRANULARITY 2.0
[ 1 thru 16 ] MAC-PROTOCOL GSM
[ 1 thru 6 ] GSM-NODE-TYPE GSM-BS
[ 1 ] GSM-CONTROL-CHANNEL [8]
[ 1 thru 6 ] NODE-ICON GSM-BS.png
[ 2 4 ] GSM-CONTROL-CHANNEL [0]
[ 3 ] GSM-CONTROL-CHANNEL [4]
[ 5 ] GSM-CONTROL-CHANNEL [12]
[ 6 ] GSM-CONTROL-CHANNEL [16]
[ 7 ] MOBILITY NONE
[ 7 thru 15 ] GSM-NODE-TYPE GSM-MS
[ 7 thru 16 ] GSM-CONTROL-CHANNEL-LIST [0 4 8 12 16]
[ 7 thru 15 ] NODE-ICON GSM-MS.png
[ 9 ] MOBILITY FILE
[ 16 ] GSM-NODE-TYPE GSM-MSC
[ 16 ] NODE-ICON GSM-MSC.png
IP-FORWARDING NO
[ 1 thru 16 ] IP-FORWARDING YES
[ 1 2 3 4 5 6 16 ] MOBILITY NONE

COMPONENT 0 {N8-192.0.0.0 16 2 3 4 5 6 1 8 9 10 11 12 13 14 15 7} 17 750.0 750.0 0.0 1500.0 1500.0 3000.0
