# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 6.1
EXPERIMENT-NAME qualnet
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 20M
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#**********************Mask of Events***********************************

RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRP 00000
RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRQ 00000

#****************************A3 Event***********************************

RRC-LTE-MEAS-EVENT-A1-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-HYS 0.0

#******************Measurement Report***********************************

RRC-LTE-MEAS-TIME-TO-TRIGGER 400MS
RRC-LTE-MEAS-REPORT-INTERVAL 120MS
RRC-LTE-MEAS-REPORT-AMOUNT 1

#******************************Filter***********************************

RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRP 4
RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRQ 4

#*********************************Gap***********************************

RRC-LTE-MEAS-GAP-CONFIG-TYPE 0
RRC-LTE-MEAS-GAP-CONFIG-OFFSET 0

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (4000, 4000)
DUMMY-ALTITUDES (1500, 0)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] RICEAN
PROPAGATION-RICEAN-K-FACTOR[0] 4.0
PROPAGATION-FADING-MAX-VELOCITY[0] 10.0
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-FADING-GAUSSIAN-COMPONENTS-FILE D:/snt/qualnet/6.1/scenarios/default/default.fading

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
JAMMER-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE untitled_13.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#*******************************Cyber***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
DUMMY-IAHEP-ENABLE NO

#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0
DUMMY-FIXED-COMMS-DELAY NO

#***********************BGP Router-Id***********************************

BGP-ENABLE-ROUTER-ID NO
BGP-ENABLE-ROUTER-ID_IPv6 YES
BGP ROUTER-ID 127.0.0.1

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
DUMMY-SPECIFY-ICMP-ROUTERS NO
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
DUMMY-ICMP-ERROR-ENABLED NO
IPv6-ENABLE-6to4-TUNNELING NO
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

#********* [Default Wireless Subnet] ***********************************

SUBNET N8-169.0.0.0 {1 thru 36} Default

#**********************Physical Layer***********************************

[ N8-169.0.0.0 ] PHY-MODEL PHY-ABSTRACT
[ N8-169.0.0.0 ] PHY-ABSTRACT-DATA-RATE 2000000
[ N8-169.0.0.0 ] PHY-ABSTRACT-BANDWIDTH 1200000
[ N8-169.0.0.0 ] PHY-ABSTRACT-TX-POWER 33.0
[ N8-169.0.0.0 ] PHY-ABSTRACT-RX-SENSITIVITY -92.0
[ N8-169.0.0.0 ] PHY-ABSTRACT-RX-THRESHOLD -86.0
[ N8-169.0.0.0 ] PHY-RX-MODEL BER-BASED
[ N8-169.0.0.0 ] DUMMY-NUM-PHY-RX-BER-TABLE-ABSTRACT 1
[ N8-169.0.0.0 ] PHY-RX-BER-TABLE-FILE[0] D:/snt/qualnet/6.1/data/modulation/bpsk.ber
[ N8-169.0.0.0 ] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ N8-169.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-169.0.0.0 ] PHY-NOISE-FACTOR 7
[ N8-169.0.0.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N8-169.0.0.0 ] MAC-PROTOCOL BAC
[ N8-169.0.0.0 ] BAC-SLOT-DURATION 3MS
[ N8-169.0.0.0 ] BAC-GUARD-TIME 0NS
[ N8-169.0.0.0 ] BAC-INTER-FRAME-TIME 1US
[ N8-169.0.0.0 ] BAC-SCHEDULING AUTOMATIC
[ N8-169.0.0.0 ] WIDTH 0
[ N8-169.0.0.0 ] TTL 20MS
[ N8-169.0.0.0 ] MAX_HOP 7
[ N8-169.0.0.0 ] BAC-NUM-SLOTS-PER-Partition 5
[ N8-169.0.0.0 ] BAC-NUM-OF-PARTITION 1
[ N8-169.0.0.0 ] BAC-NUM-SLOTS-PER-FRAME 5
[ N8-169.0.0.0 ] Is-Multicast NO
[ N8-169.0.0.0 ] Dithering-Type PHASE-DITHERING
[ N8-169.0.0.0 ] PHASE-DITHERING-SEQUENCE PHASE-DITHERING-SEQUENCE-1

#***********************NETWORK LAYER***********************************

[ N8-169.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-169.0.0.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 150000
[ N8-169.0.0.0 ] IP-QUEUE-TYPE[0] FIFO
[ N8-169.0.0.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 150000
[ N8-169.0.0.0 ] IP-QUEUE-TYPE[1] FIFO
[ N8-169.0.0.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 150000
[ N8-169.0.0.0 ] IP-QUEUE-TYPE[2] FIFO

#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[1] IP-ADDRESS[0]             169.0.0.1

[2] NETWORK-PROTOCOL[0]       IP
[2] IP-ADDRESS[0]             169.0.0.2

[3] NETWORK-PROTOCOL[0]       IP
[3] IP-ADDRESS[0]             169.0.0.3

[4] NETWORK-PROTOCOL[0]       IP
[4] IP-ADDRESS[0]             169.0.0.4

[5] NETWORK-PROTOCOL[0]       IP
[5] IP-ADDRESS[0]             169.0.0.5

[6] NETWORK-PROTOCOL[0]       IP
[6] IP-ADDRESS[0]             169.0.0.6

[7] NETWORK-PROTOCOL[0]       IP
[7] IP-ADDRESS[0]             169.0.0.7

[8] NETWORK-PROTOCOL[0]       IP
[8] IP-ADDRESS[0]             169.0.0.8

[9] NETWORK-PROTOCOL[0]       IP
[9] IP-ADDRESS[0]             169.0.0.9

[10] NETWORK-PROTOCOL[0]      IP
[10] IP-ADDRESS[0]            169.0.0.10

[11] NETWORK-PROTOCOL[0]      IP
[11] IP-ADDRESS[0]            169.0.0.11

[12] NETWORK-PROTOCOL[0]      IP
[12] IP-ADDRESS[0]            169.0.0.12

[13] NETWORK-PROTOCOL[0]      IP
[13] IP-ADDRESS[0]            169.0.0.13

[14] NETWORK-PROTOCOL[0]      IP
[14] IP-ADDRESS[0]            169.0.0.14

[15] NETWORK-PROTOCOL[0]      IP
[15] IP-ADDRESS[0]            169.0.0.15

[16] NETWORK-PROTOCOL[0]      IP
[16] IP-ADDRESS[0]            169.0.0.16

[17] NETWORK-PROTOCOL[0]      IP
[17] IP-ADDRESS[0]            169.0.0.17

[18] NETWORK-PROTOCOL[0]      IP
[18] IP-ADDRESS[0]            169.0.0.18

[19] NETWORK-PROTOCOL[0]      IP
[19] IP-ADDRESS[0]            169.0.0.19

[20] NETWORK-PROTOCOL[0]      IP
[20] IP-ADDRESS[0]            169.0.0.20

[21] NETWORK-PROTOCOL[0]      IP
[21] IP-ADDRESS[0]            169.0.0.21

[22] NETWORK-PROTOCOL[0]      IP
[22] IP-ADDRESS[0]            169.0.0.22

[23] NETWORK-PROTOCOL[0]      IP
[23] IP-ADDRESS[0]            169.0.0.23

[24] NETWORK-PROTOCOL[0]      IP
[24] IP-ADDRESS[0]            169.0.0.24

[25] NETWORK-PROTOCOL[0]      IP
[25] IP-ADDRESS[0]            169.0.0.25

[26] NETWORK-PROTOCOL[0]      IP
[26] IP-ADDRESS[0]            169.0.0.26

[27] NETWORK-PROTOCOL[0]      IP
[27] IP-ADDRESS[0]            169.0.0.27

[28] NETWORK-PROTOCOL[0]      IP
[28] IP-ADDRESS[0]            169.0.0.28

[29] NETWORK-PROTOCOL[0]      IP
[29] IP-ADDRESS[0]            169.0.0.29

[30] NETWORK-PROTOCOL[0]      IP
[30] IP-ADDRESS[0]            169.0.0.30

[31] NETWORK-PROTOCOL[0]      IP
[31] IP-ADDRESS[0]            169.0.0.31

[32] NETWORK-PROTOCOL[0]      IP
[32] IP-ADDRESS[0]            169.0.0.32

[33] NETWORK-PROTOCOL[0]      IP
[33] IP-ADDRESS[0]            169.0.0.33

[34] NETWORK-PROTOCOL[0]      IP
[34] IP-ADDRESS[0]            169.0.0.34

[35] NETWORK-PROTOCOL[0]      IP
[35] IP-ADDRESS[0]            169.0.0.35

[36] NETWORK-PROTOCOL[0]      IP
[36] IP-ADDRESS[0]            169.0.0.36

[169.0.0.1 169.0.0.2 169.0.0.3 169.0.0.4 169.0.0.5 169.0.0.6 169.0.0.7 169.0.0.8 169.0.0.9 169.0.0.10 169.0.0.11 169.0.0.12 169.0.0.13 169.0.0.14 169.0.0.15 169.0.0.16 169.0.0.17 169.0.0.18 169.0.0.19 169.0.0.20 169.0.0.21 169.0.0.22 169.0.0.23 169.0.0.24 169.0.0.25 169.0.0.26 169.0.0.27 169.0.0.28 169.0.0.29 169.0.0.30 169.0.0.31 169.0.0.32 169.0.0.33 169.0.0.34 169.0.0.35 169.0.0.36] MAC-PROTOCOL  BAC
[169.0.0.1 169.0.0.2 169.0.0.3 169.0.0.4 169.0.0.5 169.0.0.6 169.0.0.7 169.0.0.8 169.0.0.9 169.0.0.10 169.0.0.11 169.0.0.12 169.0.0.13 169.0.0.14 169.0.0.15 169.0.0.16 169.0.0.17 169.0.0.18 169.0.0.19 169.0.0.20 169.0.0.21 169.0.0.22 169.0.0.23 169.0.0.24 169.0.0.25 169.0.0.26 169.0.0.27 169.0.0.28 169.0.0.29 169.0.0.30 169.0.0.31 169.0.0.32 169.0.0.33 169.0.0.34 169.0.0.35 169.0.0.36] BAC-NUM-SLOTS-PER-Partition  5
[169.0.0.11 169.0.0.14 169.0.0.26] Is-Multicast-Sequence_1  MULTICAST-SEQUENCE_1
[169.0.0.11 169.0.0.14 169.0.0.26] Is-Multicast-Sequence_3  NO-MULTICAST-SEQUENCE_3
[169.0.0.1 169.0.0.2 169.0.0.3 169.0.0.4 169.0.0.5 169.0.0.6 169.0.0.7 169.0.0.8 169.0.0.9 169.0.0.10 169.0.0.11 169.0.0.12 169.0.0.13 169.0.0.14 169.0.0.15 169.0.0.16 169.0.0.17 169.0.0.18 169.0.0.19 169.0.0.20 169.0.0.21 169.0.0.22 169.0.0.23 169.0.0.24 169.0.0.25 169.0.0.26 169.0.0.27 169.0.0.28 169.0.0.29 169.0.0.30 169.0.0.31 169.0.0.32 169.0.0.33 169.0.0.34 169.0.0.35 169.0.0.36] BAC-NUM-SLOTS-PER-FRAME  5
[169.0.0.11 169.0.0.14 169.0.0.26] Is-Multicast  YES
[169.0.0.11 169.0.0.14 169.0.0.26] Is-Multicast-Sequence_2  NO-MULTICAST-SEQUENCE_2


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[3]             MOBILITY-POSITION-GRANULARITY 1.0
[23]            MOBILITY-POSITION-GRANULARITY 1.0
[31]            MOBILITY-POSITION-GRANULARITY 1.0
[34]            MOBILITY-POSITION-GRANULARITY 1.0
[23]            DUMMY-NODE-ORIENTATION NO
[3]             MOBILITY FILE
[23]            MOBILITY FILE
[31]            MOBILITY FILE
[34]            MOBILITY FILE
[1 thru 36]     DEFAULT-ROUTE YES
[1 thru 36]     DEFAULT-ROUTE-FILE D:/snt/qualnet/6.1/scenarios/BAC/gui-sample.routes-default
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
[11]            HOSTNAME host11
[12]            HOSTNAME host12
[13]            HOSTNAME host13
[14]            HOSTNAME host14
[15]            HOSTNAME host15
[16]            HOSTNAME host16
[17]            HOSTNAME host17
[18]            HOSTNAME host18
[19]            HOSTNAME host19
[20]            HOSTNAME host20
[21]            HOSTNAME host21
[22]            HOSTNAME host22
[23]            HOSTNAME host23
[24]            HOSTNAME host24
[25]            HOSTNAME host25
[26]            HOSTNAME host26
[27]            HOSTNAME host27
[28]            HOSTNAME host28
[29]            HOSTNAME host29
[30]            HOSTNAME host30
[31]            HOSTNAME host31
[32]            HOSTNAME host32
[33]            HOSTNAME host33
[34]            HOSTNAME host34
[35]            HOSTNAME host35
[36]            HOSTNAME host36
[1 thru 36]     ICMP NO
[1 thru 36]     ROUTING-PROTOCOL NONE
[1 thru 36]     NODE-PLACEMENT FILE
NODE-POSITION-FILE untitled_13.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE untitled_13.display

