# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME planning
EXPERIMENT-COMMENT none
SIMULATION-TIME 100S
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 5000, 5000 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 61
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE planning.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2150000000
PROPAGATION-CHANNEL-FREQUENCY[1] 1950000000
PROPAGATION-MODEL STATISTICAL
PROPAGATION-MODEL[1] STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -150.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[1] -150.0
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-FADING-MODEL NONE
PROPAGATION-FADING-MODEL[1] NONE

# ************* Radio/Physical Layer ***********

PHY-MODEL PHY-CELLULAR
# Select a specific cellular PHY model
CELLULAR-PHY-MODEL PHY-UMTS
# Maximum transmission power in dBm
PHY-UMTS-MAX-TX-POWER 30.0
# Minimum transmission power in dBm
PHY-UMTS-MIN-TX-POWER -10.0
# Is the UMTS radio HSDPA capable?
PHY-UMTS-HSDPA-CAPABLE NO
PHY-RX-MODEL PHY-UMTS
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 11
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 11
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 1.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES

# ************* Internet Controller ***********

EPLRS-SCHEDULING AUTOMATIC


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-TIMEOUT-INTERVAL 20M
ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
DEFAULT-ROUTE NO
#DEFAULT-ROUTE-FILE planning.routes-default

# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE planning.app

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
GSM-STATISTICS NO
CELLULAR-STATISTICS YES
ARP-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

#NODE-ICON DEFAULT.png

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE USER-SPECIFIED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


# ************* User behavior model ***********

# ************* User behavior model ***********

# Enables user behavior modelling parameters.
DUMMY-UBEE-ENABLED NO


#----------------Subnet ID 62 -----------------
SUBNET N8-192.0.12.0 { 5 thru 7, 14 thru 61 } 449.35 2598.04 0.0
[ N8-192.0.12.0 ] PHY-MODEL PHY-CELLULAR
# Select a specific cellular PHY model
[ N8-192.0.12.0 ] CELLULAR-PHY-MODEL PHY-UMTS
# Maximum transmission power in dBm
[ N8-192.0.12.0 ] PHY-UMTS-MAX-TX-POWER 30.0
# Minimum transmission power in dBm
[ N8-192.0.12.0 ] PHY-UMTS-MIN-TX-POWER -10.0
# Is the UMTS radio HSDPA capable?
[ N8-192.0.12.0 ] PHY-UMTS-HSDPA-CAPABLE NO
[ N8-192.0.12.0 ] PHY-RX-MODEL PHY-UMTS
# Channels the radio is capable of listening to.
[ N8-192.0.12.0 ] PHY-LISTENABLE-CHANNEL-MASK 11
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.12.0 ] PHY-LISTENING-CHANNEL-MASK 11
# Temperature of the environment in K
[ N8-192.0.12.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.12.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.12.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.12.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.12.0 ] ANTENNA-HEIGHT 1.5
# efficiency of the antenna
[ N8-192.0.12.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.12.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.12.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.12.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.12.0 ] MAC-PROTOCOL CELLULAR-MAC
[ N8-192.0.12.0 ] CELLULAR-MAC-PROTOCOL UMTS-LAYER2
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.12.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.12.0 ] NETWORK-PROTOCOL CELLULAR-LAYER3
[ N8-192.0.12.0 ] CELLULAR-LAYER3-PROTOCOL UMTS-LAYER3

LINK N8-192.0.0.0 { 1, 3 }
[ 192.0.0.1 192.0.0.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.0.1 192.0.0.2 ] LINK-PHY-TYPE WIRED
[ 192.0.0.1 192.0.0.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.0.1 192.0.0.2 ] LINK-BANDWIDTH 10000000
[ 192.0.0.1 192.0.0.2 ] NETWORK-PROTOCOL IP
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.1.0 { 2, 3 }
[ 192.0.1.1 192.0.1.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.1.1 192.0.1.2 ] LINK-PHY-TYPE WIRED
[ 192.0.1.1 192.0.1.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.1.1 192.0.1.2 ] LINK-BANDWIDTH 10000000
[ 192.0.1.1 192.0.1.2 ] NETWORK-PROTOCOL IP
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.2.0 { 2, 4 }
[ 192.0.2.1 192.0.2.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.2.1 192.0.2.2 ] LINK-PHY-TYPE WIRED
[ 192.0.2.1 192.0.2.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.2.1 192.0.2.2 ] LINK-BANDWIDTH 10000000
[ 192.0.2.1 192.0.2.2 ] NETWORK-PROTOCOL IP
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.3.0 { 4, 5 }
[ 192.0.3.1 192.0.3.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.3.1 192.0.3.2 ] LINK-PHY-TYPE WIRED
[ 192.0.3.1 192.0.3.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.3.1 192.0.3.2 ] LINK-BANDWIDTH 10000000
[ 192.0.3.1 192.0.3.2 ] NETWORK-PROTOCOL IP
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.4.0 { 4, 6 }
[ 192.0.4.1 192.0.4.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.4.1 192.0.4.2 ] LINK-PHY-TYPE WIRED
[ 192.0.4.1 192.0.4.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.4.1 192.0.4.2 ] LINK-BANDWIDTH 10000000
[ 192.0.4.1 192.0.4.2 ] NETWORK-PROTOCOL IP
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.5.0 { 4, 7 }
[ 192.0.5.1 192.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.5.1 192.0.5.2 ] LINK-BANDWIDTH 10000000
[ 192.0.5.1 192.0.5.2 ] NETWORK-PROTOCOL IP
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.6.0 { 3, 8 }
[ 192.0.6.1 192.0.6.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.6.1 192.0.6.2 ] LINK-PHY-TYPE WIRED
[ 192.0.6.1 192.0.6.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.6.1 192.0.6.2 ] LINK-BANDWIDTH 10000000
[ 192.0.6.1 192.0.6.2 ] NETWORK-PROTOCOL IP
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.7.0 { 3, 9 }
[ 192.0.7.1 192.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.7.1 192.0.7.2 ] LINK-BANDWIDTH 10000000
[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL IP
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.8.0 { 8, 10 }
[ 192.0.8.1 192.0.8.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.8.1 192.0.8.2 ] LINK-BANDWIDTH 10000000
[ 192.0.8.1 192.0.8.2 ] NETWORK-PROTOCOL IP
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.9.0 { 9, 12 }
[ 192.0.9.1 192.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.9.1 192.0.9.2 ] LINK-PHY-TYPE WIRED
[ 192.0.9.1 192.0.9.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.9.1 192.0.9.2 ] LINK-BANDWIDTH 10000000
[ 192.0.9.1 192.0.9.2 ] NETWORK-PROTOCOL IP
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.10.0 { 3, 11 }
[ 192.0.10.1 192.0.10.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.10.1 192.0.10.2 ] LINK-PHY-TYPE WIRED
[ 192.0.10.1 192.0.10.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.10.1 192.0.10.2 ] LINK-BANDWIDTH 10000000
[ 192.0.10.1 192.0.10.2 ] NETWORK-PROTOCOL IP
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.11.0 { 11, 13 }
[ 192.0.11.1 192.0.11.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.11.1 192.0.11.2 ] LINK-PHY-TYPE WIRED
[ 192.0.11.1 192.0.11.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.11.1 192.0.11.2 ] LINK-BANDWIDTH 10000000
[ 192.0.11.1 192.0.11.2 ] NETWORK-PROTOCOL IP
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-TAGGING NO

[1] HOSTNAME UMTS-HLR1
[2] HOSTNAME UMTS-SGSN2
[3] HOSTNAME UMTS-GGSN3
[4] HOSTNAME UMTS-RNC4
[5] HOSTNAME UMTS-NodeB5
[6] HOSTNAME UMTS-NodeB6
[7] HOSTNAME UMTS-NodeB7
[8] HOSTNAME host8
[9] HOSTNAME host9
[10] HOSTNAME host10
[11] HOSTNAME host11
[12] HOSTNAME host12
[13] HOSTNAME host13
[14] HOSTNAME UMTS-UE14
[15] HOSTNAME UMTS-UE15
[16] HOSTNAME UMTS-UE16
[17] HOSTNAME UMTS-UE17
[18] HOSTNAME UMTS-UE18
[19] HOSTNAME UMTS-UE19
[20] HOSTNAME UMTS-UE20
[21] HOSTNAME UMTS-UE21
[22] HOSTNAME UMTS-UE22
[23] HOSTNAME UMTS-UE23
[24] HOSTNAME UMTS-UE24
[25] HOSTNAME UMTS-UE25
[26] HOSTNAME UMTS-UE26
[27] HOSTNAME UMTS-UE27
[28] HOSTNAME UMTS-UE28
[29] HOSTNAME UMTS-UE29
[30] HOSTNAME UMTS-UE30
[31] HOSTNAME UMTS-UE31
[32] HOSTNAME UMTS-UE32
[33] HOSTNAME UMTS-UE33
[34] HOSTNAME UMTS-UE34
[35] HOSTNAME UMTS-UE35
[36] HOSTNAME UMTS-UE36
[37] HOSTNAME UMTS-UE37
[38] HOSTNAME UMTS-UE38
[39] HOSTNAME UMTS-UE39
[40] HOSTNAME UMTS-UE40
[41] HOSTNAME UMTS-UE41
[42] HOSTNAME UMTS-UE42
[43] HOSTNAME UMTS-UE43
[44] HOSTNAME UMTS-UE44
[45] HOSTNAME UMTS-UE45
[46] HOSTNAME UMTS-UE46
[47] HOSTNAME UMTS-UE47
[48] HOSTNAME UMTS-UE48
[49] HOSTNAME UMTS-UE49
[50] HOSTNAME UMTS-UE50
[51] HOSTNAME UMTS-UE51
[52] HOSTNAME UMTS-UE52
[53] HOSTNAME UMTS-UE53
[54] HOSTNAME UMTS-UE54
[55] HOSTNAME UMTS-UE55
[56] HOSTNAME UMTS-UE56
[57] HOSTNAME UMTS-UE57
[58] HOSTNAME UMTS-UE58
[59] HOSTNAME UMTS-UE59
[60] HOSTNAME UMTS-UE60
[61] HOSTNAME UMTS-UE61
[ 1 2 3 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] NETWORK-PROTOCOL CELLULAR-LAYER3
[ 1 2 3 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] CELLULAR-LAYER3-PROTOCOL UMTS-LAYER3
[ 1 ] UMTS-NODE-TYPE HLR
[ 1 2 3 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] UMTS-PRINT-DETAILED-STATISTICS NO
[ 1 ] NODE-ICON gui/icons/UMTS-HLR.png
[ 2 ] UMTS-NODE-TYPE SGSN
[ 2 3 ] UMTS-HLR-SERVER 1
[ 2 ] UMTS-PRIMARY-GGSN 3
[ 2 ] NODE-ICON gui/icons/UMTS-SGSN.png
[ 3 ] UMTS-NODE-TYPE GGSN
[ 3 ] NODE-ICON gui/icons/UMTS-GGSN.png
[ 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] MAC-PROTOCOL CELLULAR-MAC
[ 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] CELLULAR-MAC-PROTOCOL UMTS-LAYER2
[ 4 ] UMTS-NODE-TYPE RNC
[ 4 ] UMTS-RNC-SHO-AS-THRESHOLD 3.0
[ 4 ] UMTS-RNC-SHO-AS-THRESHOLD-HYSTERESIS 1.0
[ 4 ] UMTS-RNC-SHO-AS-REPLACE-HYSTERESIS 1.0
[ 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] DUMMY-ROUTING NONE
[ 4 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] ROUTING-PROTOCOL NONE
[ 4 ] NODE-ICON gui/icons/UMTS-RNC.png
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] PHY-MODEL PHY-CELLULAR
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] CELLULAR-PHY-MODEL PHY-UMTS
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] PHY-UMTS-MAX-TX-POWER 30.0
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] PHY-UMTS-MIN-TX-POWER 10.0
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] PHY-UMTS-HSDPA-CAPABLE NO
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] PHY-RX-MODEL PHY-UMTS
[ 5 thru 7 ] UMTS-NODE-TYPE NodeB
[ 5 thru 7 ] UMTS-NodeB-DOWNLINK-CHANNEL 0
[ 5 thru 7 ] UMTS-NodeB-UPLINK-CHANNEL 1
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] UMTS-CELL-SELECTION-MIN-RX-LEVEL -84.0
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] UMTS-CELL-SEARCH-THRESHOLD -80.0
[ 5 6 7 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 ] UMTS-CELL-RESELECTION-HYSTERESIS 3.0
[ 5 thru 7 ] NODE-ICON gui/icons/UMTS-NodeB.png
[ 8 thru 13 ] Gateway Configuration YES
[ 8 thru 13 ] DEFAULT-GATEWAY 3
[ 14 thru 61 ] UMTS-NODE-TYPE UE
[ 14 thru 61 ] NODE-ICON gui/icons/UMTS-UE.png
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] PHY-MODEL PHY-CELLULAR
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] CELLULAR-PHY-MODEL PHY-UMTS
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] PHY-UMTS-MAX-TX-POWER 30.0
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] PHY-UMTS-MIN-TX-POWER 10.0
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] PHY-UMTS-HSDPA-CAPABLE NO
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] PHY-RX-MODEL PHY-UMTS
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-GAIN 0.0
[ 192.0.12.1 192.0.12.2 ] ANTENNA-HEIGHT 2.5
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-EFFICIENCY 0.5
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-MISMATCH-LOSS 0.3
[ 192.0.12.1 192.0.12.2 ] ANTENNA-CABLE-LOSS 0.2
[ 192.0.12.1 192.0.12.2 192.0.12.3 ] ANTENNA-CONNECTION-LOSS 0.2
[ 192.0.12.2 192.0.12.3 ] MAC-PROTOCOL CELLULAR-MAC
[ 192.0.12.2 192.0.12.3 ] CELLULAR-MAC-PROTOCOL UMTS-LAYER2
[ 192.0.12.3 ] ANTENNA-HEIGHT 5.5
[ 192.0.12.3 ] ANTENNA-CABLE-LOSS 1.5
[ 192.0.12.3 ] NETWORK-PROTOCOL CELLULAR-LAYER3
[ 192.0.12.3 ] CELLULAR-LAYER3-PROTOCOL UMTS-LAYER3
[ 192.0.12.3 ] UMTS-PRINT-DETAILED-STATISTICS NO
[ 1 thru 13 ] MOBILITY NONE

COMPONENT 0 {1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 
COMPONENT 0 {60 61 N8-192.0.12.0} 62 2500.0 2500.0 0.0 5000.0 5000.0 3000.0
