# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

#
# ***** QualNet Configuration File *****
#

#
# Configuration file version.  Use converter in the bin/ directory to
# make old configuration files work with new versions of QualNet.
#

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME multiple-area
EXPERIMENT-COMMENT none
SIMULATION-TIME 100M
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 1500, 1500 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 12
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE multiple-area.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-MODEL STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
PROPAGATION-PATHLOSS-MODEL TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE

# ************* Radio/Physical Layer ***********

PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
# bandwidth in bps. supported data rates: 1Mbps, 2Mbps, 5.5Mbps, 11Mbps
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 1
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 1
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 1.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-ASSOCIATION NONE
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-TIMEOUT-INTERVAL 20M
ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL OSPFv3
OSPFv3-DEFINE-AREA YES
OSPFv3-CONFIG-FILE multiple-area.ospfv3
OSPFv3-INJECT-EXTERNAL-ROUTE NO
OSPFv3-STAGGER-START NO
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
#DEFAULT-ROUTE YES
#DEFAULT-ROUTE-FILE multiple-area.routes-default

# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE multiple-area.app

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
GSM-STATISTICS NO
ARP-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON DEFAULT.png
HLA-DEVICE-ICON-PATH Optional

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE PREDEFINED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


#----------------Subnet ID 9 -----------------
SUBNET SLA-1 { 1 thru 3 } 187.68 1199.16 0.0
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] MAC-PROTOCOL MAC802.3
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] SUBNET-DATA-RATE 100000000
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] SUBNET-PROPAGATION-DELAY 2.5US
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] MAC802.3-MODE HALF-DUPLEX
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] NETWORK-PROTOCOL IPv6
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] SWITCH-STATION-VLAN-ID 0
[ 2000::1:0:0:0:1 thru 2000::1:0:0:0:3 ] SWITCH-STATION-VLAN-TAGGING NO

#----------------Subnet ID 10 -----------------
SUBNET SLA-3 { 6 thru 8 } 943.92 1202.69 0.0
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] MAC-PROTOCOL MAC802.3
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] SUBNET-DATA-RATE 100000000
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] SUBNET-PROPAGATION-DELAY 2.5US
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] MAC802.3-MODE HALF-DUPLEX
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] NETWORK-PROTOCOL IPv6
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] SWITCH-STATION-VLAN-ID 0
[ 2000::3:0:0:0:1 thru 2000::3:0:0:0:3 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-0 { 3, 9 }
[ 2000::1 2000::2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::1 2000::2 ] LINK-PHY-TYPE WIRED
[ 2000::1 2000::2 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::1 2000::2 ] LINK-BANDWIDTH 10000000
[ 2000::1 2000::2 ] NETWORK-PROTOCOL IPv6
[ 2000::1 2000::2 ] SWITCH-STATION-VLAN-ID 0
[ 2000::1 2000::2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-0 { 4, 9 }
[ 2000::3 2000::4 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::3 2000::4 ] LINK-PHY-TYPE WIRED
[ 2000::3 2000::4 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::3 2000::4 ] LINK-BANDWIDTH 10000000
[ 2000::3 2000::4 ] NETWORK-PROTOCOL IPv6
[ 2000::3 2000::4 ] SWITCH-STATION-VLAN-ID 0
[ 2000::3 2000::4 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-0 { 5, 9 }
[ 2000::5 2000::6 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::5 2000::6 ] LINK-PHY-TYPE WIRED
[ 2000::5 2000::6 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::5 2000::6 ] LINK-BANDWIDTH 10000000
[ 2000::5 2000::6 ] NETWORK-PROTOCOL IPv6
[ 2000::5 2000::6 ] SWITCH-STATION-VLAN-ID 0
[ 2000::5 2000::6 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-0 { 6, 9 }
[ 2000::7 2000::8 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::7 2000::8 ] LINK-PHY-TYPE WIRED
[ 2000::7 2000::8 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::7 2000::8 ] LINK-BANDWIDTH 10000000
[ 2000::7 2000::8 ] NETWORK-PROTOCOL IPv6
[ 2000::7 2000::8 ] SWITCH-STATION-VLAN-ID 0
[ 2000::7 2000::8 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-2 { 5, 11 }
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] LINK-PHY-TYPE WIRED
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] LINK-BANDWIDTH 10000000
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] NETWORK-PROTOCOL IPv6
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] SWITCH-STATION-VLAN-ID 0
[ 2000::2:0:0:0:1 2000::2:0:0:0:2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-4 { 4, 10 }
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] LINK-PHY-TYPE WIRED
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] LINK-BANDWIDTH 10000000
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] NETWORK-PROTOCOL IPv6
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] SWITCH-STATION-VLAN-ID 0
[ 2000::4:0:0:0:1 2000::4:0:0:0:2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK SLA-5 { 6, 12 }
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] LINK-PHY-TYPE WIRED
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] LINK-PROPAGATION-DELAY 1MS
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] LINK-BANDWIDTH 10000000
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] NETWORK-PROTOCOL IPv6
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] SWITCH-STATION-VLAN-ID 0
[ 2000::5:0:0:0:1 2000::5:0:0:0:2 ] SWITCH-STATION-VLAN-TAGGING NO

[9] SWITCH YES
[9] NODE-ICON Switch.png
[9] SWITCH-PORT-MAP[1] 2000::2
[9] SWITCH-PORT-MAP[2] 2000::4
[9] SWITCH-PORT-MAP[3] 2000::6
[9] SWITCH-PORT-MAP[4] 2000::8


[ 1 2 3 4 5 6 7 8 9 10 11 12 ] NETWORK-PROTOCOL IPv6
[ 1 2 3 4 5 6 7 8 10 11 12 ] DUAL-IP NO
[ 1 2 3 4 5 6 7 8 10 11 12 ] DUMMY-ROUTING DYNAMIC
[ 1 2 3 4 5 6 7 8 10 11 12 ] ROUTING-PROTOCOL OSPFv3
[ 1 2 3 4 5 6 7 8 10 11 12 ] OSPFv3-INJECT-EXTERNAL-ROUTE NO
[ 1 2 3 4 5 6 7 8 10 11 12 ] AS-BOUNDARY-ROUTER NO
[ 1 2 3 4 5 6 7 8 10 11 12 ] OSPFv3-STAGGER-START NO
[ 1 thru 12 ] MOBILITY NONE

COMPONENT 0 {1 2 3 4 5 6 7 8 SLA-1 SLA-3 9 10 11 12} 14 750.0 750.0 0.0 1500.0 1500.0 3000.0
