# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

#
# ***** QualNet Configuration File *****
#


VERSION 6.1

EXPERIMENT-NAME lanmar-dynamic-landmark-election

SIMULATION-TIME   111

SEED   1

COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)


###############################################################################
# Topology                                                                    #
###############################################################################


SUBNET N8-192.1.0.0 {1, 2, 3,4}
SUBNET N8-192.2.0.0 {5, 6, 7,8}



#
# Node qualifiers
#
# You can also use the N syntax to restrict parameters to certain
# networks, e.g.,
#
# [N2-2.0] LINK-BANDWIDTH           300
# [N2-2.0] LINK-PROPAGATION-DELAY   500MS
#
# tells QualNet that any links in the N2-2.0 network operate at 300 bps
# with 500 ms propagation delay.  You can use these qualifiers to
# restrict routing protocols to certain networks, and so on.  Within the
# brackets, you can also specify nodeIds and IP addresses; multiple
# values should be separated by spaces.
#
# Instance qualifiers
#
# These qualifiers appear after the parameter name, e.g.,
#
# PROPAGATION-CHANNEL-FREQUENCY[0]  2.4e9
#
# The instance qualifier has a meaning specific to the parameter
# (it's usually NOT a network, nodeId, or IP address).
#


# Interface and link faults.
FAULT-CONFIG-FILE         ./lanmar-dynamic-landmark-election.fault


# The following parameter represents the node placement strategy.

NODE-PLACEMENT        FILE

MOBILITY              FILE

NODE-POSITION-FILE   ./lanmar-dynamic-landmark-election.nodes



#
# The following represent parameters for mobility.  If MOBILITY is set to
# NONE, then there is no movement of nodes in the model.
#
# For random waypoint, a node randomly selects a destination from the
# physical terrain.  It moves to the destination at constant speed, chosen
# between MOBILITY-WP-MIN-SPEED and MOBILITY-WP-MAX-SPEED (meters/sec).
# After it reaches its destination, the node stays there for
# MOBILITY-WP-PAUSE time, and the process is repeated (selecting another
# destination and speed).
#

#MOBILITY   NONE

# MOBILITY                RANDOM-WAYPOINT
# MOBILITY-WP-PAUSE       30S
# MOBILITY-WP-MIN-SPEED   0
# MOBILITY-WP-MAX-SPEED   10


#MOBILITY                  TRACE
#MOBILITY-TRACE-FILE       ./default.mobility



# The following parameters are necessary for all mobility models.
MOBILITY-POSITION-GRANULARITY   1.0

###############################################################################
# Channel properties                                                          #
###############################################################################

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required

PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE



#PROPAGATION-CHANNEL-FREQUENCY[0] 2.4e9 # multi channel example
#PROPAGATION-CHANNEL-FREQUENCY[1] 2.5e9


###############################################################################
# Phy layer                                                                   #
###############################################################################


#
# PHY-MODEL: phy model to transmit and receive packets
#   PHY802.11a:     IEEE 802.11a PHY
#   PHY802.11b:     IEEE 802.11b PHY
#   PHY-ABSTRACT:   An abstract PHY
#   FCSC-PROTOTYPE: FCSC Comms prototype PHY

#  For wireless communication

PHY-MODEL                   PHY802.11b
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY-RX-MODEL                PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                11000000
PHY802.11-DATA-RATE-FOR-BROADCAST  11000000

PHY802.11b-TX-POWER-DBPSK        15.0
PHY802.11b-TX-POWER-DQPSK        15.0
PHY802.11b-TX-POWER-CCK-6        15.0
PHY802.11b-TX-POWER-CCK11        15.0

PHY802.11b-RX-SENSITIVITY-DBPSK  -94.0
PHY802.11b-RX-SENSITIVITY-DQPSK  -91.0
PHY802.11b-RX-SENSITIVITY-CCK-6  -87.0
PHY802.11b-RX-SENSITIVITY-CCK11  -83.0

PHY802.11b-RX-THRESHOLD-DBPSK    -84.0
PHY802.11b-RX-THRESHOLD-DQPSK    -81.0
PHY802.11b-RX-THRESHOLD-CCK-6    -77.0
PHY802.11b-RX-THRESHOLD-CCK11    -73.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL





# PHY802.11?-TX-POWER-*: phy transmission power (in dBm)
PHY802.11a-TX-POWER-BPSK         20.0
PHY802.11a-TX-POWER-QPSK         19.0
PHY802.11a-TX-POWER-QAM16        18.0
PHY802.11a-TX-POWER-QAM64        16.0



# PHY802.11?-RX-SENSITIVITY-*: sensitivity of the phy (in dBm)
PHY802.11a-RX-SENSITIVITY-BPSK   -85.0
PHY802.11a-RX-SENSITIVITY-QPSK   -83.0
PHY802.11a-RX-SENSITIVITY-QAM16  -78.0
PHY802.11a-RX-SENSITIVITY-QAM64  -69.0



# PHY802.11?-RX-THRESHOLD-*: Minimum power for received packet
# (in dBm)
PHY802.11a-RX-THRESHOLD-BPSK     -75.0
PHY802.11a-RX-THRESHOLD-QPSK     -73.0
PHY802.11a-RX-THRESHOLD-QAM16    -68.0
PHY802.11a-RX-THRESHOLD-QAM64    -59.0


###############################################################################
# MAC layer                                                                   #
###############################################################################


MAC-PROTOCOL   MACDOT11


# SUBNET-DATA-RATE            100000000
# SUBNET-PROPAGATION-DELAY    1MS


###############################################################################
# Network layer                                                               #
###############################################################################

#
# File containing vendor router models
#


#ROUTER-MODEL-CONFIG-FILE    default.router-models
NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY




GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02


###############################################################################
# Routing - forwarding, static, default routes                                #
###############################################################################


IP-FORWARDING YES


###############################################################################
# Unicast routing - wireless ad hoc                                           #
###############################################################################

# Landmark Ad Hoc Routing (LANMAR) protocol

ROUTING-PROTOCOL                        FSRL
LANMAR-MIN-MEMBER-THRESHOLD             2
LANMAR-FISHEYE-SCOPE                    2
LANMAR-FISHEYE-UPDATE-INTERVAL          2S
LANMAR-LANDMARK-UPDATE-INTERVAL         5S
LANMAR-NEIGHBOR-TIMEOUT-INTERVAL        2S
LANMAR-FISHEYE-MAX-AGE                  4S
LANMAR-LANDMARK-MAX-AGE                 5S
LANMAR-DRIFTER-MAX-AGE                  4S


###############################################################################
# Unicast routing - wired                                                     #
###############################################################################


###############################################################################
# Unicast routing - mixed networks                                            #
###############################################################################


# ROUTING-PROTOCOL   BELLMANFORD
# ROUTING-PROTOCOL   RIPv2
# ROUTING-PROTOCOL   OSPFv2



###############################################################################
# Application layer                                                           #
###############################################################################


APP-CONFIG-FILE   ./lanmar-dynamic-landmark-election.app


###############################################################################
# Statistics                                                                  #
###############################################################################

#
# The following parameters determine if you are interested in the
# statistics of a single or multiple layer.  By specifying the following
# parameters as YES, the simulation will provide you with statistics for
# that particular layer.  All the statistics are compiled together into
# a file called "qualnet.stat" that is produced at the end of the simulation.
# If you need the statistics for a particular node or particular protocol,
# it is easy to do the filtering.  Every single line in the file is of
# the following format:
#
# Node:      9, Layer:  PhyNoCapture, Total number of collisions is 0
#

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO



