#
VERSION 4.5
EXPERIMENT-NAME tree-pr-wired
SIMULATION-TIME 30S
SEED 1
COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS ( 1500, 1500 )
DUMMY-ALTITUDES ( 1500, 1500 )
TERRAIN-DATA-BOUNDARY-CHECK YES

# Nodes
NODE-PLACEMENT UNIFORM


# Channel
PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-LIMIT -111.0
PROPAGATION-PATHLOSS-MODEL TWO-RAY

# Radio/Physical Layer
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY-RX-MODEL PHY802.11b
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1

# MAC Protocol
#MAC-PROTOCOL MAC802.11

# Network Protocol
NETWORK-PROTOCOL IP
IP-QUEUE-NUM-PRIORITIES 3
#IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
IP-QUEUE-TYPE FIFO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# Routing Protocol
MULTICAST-PROTOCOL MAODV
MULTICAST-GROUP-FILE                    ./tree-pr-wired.member

# Transport Layer(TCP LITE is default)

# Application Layer
APP-CONFIG-FILE                         ./tree-pr-wired.app

# Statistics
APPLICATION-STATISTICS YES
TCP-STATISTICS NO
UDP-STATISTICS NO
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS NO
SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS NO
PHY-LAYER-STATISTICS NO

MPLS-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
ACCESS-LIST-STATISTICS NO
H323-STATISTICS NO
GSM-STATISTICS NO

LINK-BANDWIDTH           10000000
LINK-PROPAGATION-DELAY   1MS

LINK N2-1.0 { 1, 2 }
LINK N2-2.0 { 1, 3 }
LINK N2-3.0 { 2, 4 }
LINK N2-4.0 { 3, 5 }
LINK N2-5.0 { 3, 6 }
LINK N2-6.0 { 4, 7 }
LINK N2-7.0 { 4, 8 }
LINK N2-8.0 { 7, 9 }
LINK N2-9.0 { 9, 10}
LINK N2-10.0 { 9, 11}
