# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME ARQ-Disabled
EXPERIMENT-COMMENT none
SIMULATION-TIME 300S
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 1500, 1500 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 3
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE ARQ.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-MODEL STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL RAYLEIGH
PROPAGATION-FADING-MAX-VELOCITY 10.0
PROPAGATION-FADING-GAUSSIAN-COMPONENTS-FILE default.fading

# ************* Radio/Physical Layer ***********

BATTERY-MODEL NONE
PHY-MODEL PHY802.16
ENERGY-MODEL-SPECIFICATION MICAZ
# transmission power in dBm
PHY802.16-TX-POWER 15.0
PHY802.16-CHANNEL-BANDWIDTH 20000000
PHY802.16-FFT-SIZE 2048
PHY802.16-CYCLIC-PREFIX 8.0
PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 1
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 1
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 1.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

LLC-ENABLED NO
MAC-PROTOCOL MAC802.16
MAC-802.16-STATION-TYPE SS
MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
MAC-802.16-PACKING-ENABLED YES
MAC-802.16-RANGING-TYPE NORMAL
MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
MAC-802.16-SUPPORT-MOBILITY NO
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES

# ************* Internet Controller ***********

EPLRS-SCHEDULING AUTOMATIC


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
SECURE-NEIGHBOR-ENABLED NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
DEFAULT-ROUTE NO

# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE ARQ.app

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES
BATTERY-MODEL-STATISTICS YES
ENERGY-MODEL-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
GSM-STATISTICS NO
CELLULAR-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON DEFAULT.png

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE USER-SPECIFIED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


# ************* User behavior model ***********

# ************* User behavior model ***********

# Enables user behavior modelling parameters.
DUMMY-UBEE-ENABLED NO


#----------------Subnet ID 4 -----------------
SUBNET N8-192.0.0.0 { 1 thru 3 } 627.4 949.52 0.0
[ N8-192.0.0.0 ] PHY-MODEL PHY802.16
[ N8-192.0.0.0 ] ENERGY-MODEL-SPECIFICATION MICAZ
# transmission power in dBm
[ N8-192.0.0.0 ] PHY802.16-TX-POWER 15.0
[ N8-192.0.0.0 ] PHY802.16-CHANNEL-BANDWIDTH 20000000
[ N8-192.0.0.0 ] PHY802.16-FFT-SIZE 2048
[ N8-192.0.0.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 1
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 1
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 1.5
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.0.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.0.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.0.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-SUPPORT-MOBILITY NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.0.0 ] ARP-ENABLED NO

[1] HOSTNAME host1
[2] HOSTNAME host2
[3] HOSTNAME host3
[ 192.0.0.1 ] MAC-PROTOCOL MAC802.16
[ 192.0.0.1 ] MAC-802.16-STATION-TYPE BS
[ 192.0.0.1 ] MAC-802.16-BS-FRAME-DURATION 20MS
[ 192.0.0.1 ] MAC-802.16-BS-TDD-DL-DURATION 10MS
[ 192.0.0.1 ] MAC-802.16-BS-DCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 ] MAC-802.16-BS-UCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 ] MAC-802.16-BS-RANGING-BACKOFF-MIN 3
[ 192.0.0.1 ] MAC-802.16-BS-RANGING-BACKOFF-MAX 15
[ 192.0.0.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MIN 3
[ 192.0.0.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MAX 15
[ 192.0.0.1 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ 192.0.0.1 ] MAC-802.16-BS-TTG 10US
[ 192.0.0.1 ] MAC-802.16-BS-RTG 10US
[ 192.0.0.1 ] MAC-802.16-BS-SSTG 4US
[ 192.0.0.1 ] MAC-802.16-BS-MAX-ALLOWED-UPLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 ] MAC-802.16-BS-MAX-ALLOWED-DOWNLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 ] MAC-802.16-PACKING-ENABLED YES
[ 192.0.0.1 ] MAC-802.16e-BS-PAGING-GROUP-ID 1
[ 192.0.0.1 ] MAC-802.16e-BS-IS-PAGING-CONTROLLER NO
[ 192.0.0.1 ] MAC-802.16e-BS-PAGING-INTERVAL-LENGTH 5
[ 192.0.0.1 ] MAC-802.16e-BS-PAGING-CYCLE 200
[ 192.0.0.1 ] MAC-802.16e-BS-PAGING-OFFSET 5
[ 192.0.0.1 ] MAC-802.16e-PAGING-HASHSKIP-THRESHOLD 0



COMPONENT 0 {1 2 3 N8-192.0.0.0} 4 750.0 750.0 0.0 1500.0 1500.0 3000.0
