# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME los_5GHz

# Which terrain file to use
INCLUDE ../../common/urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE los_5GHz.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 5e9

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL URBAN-MODEL-AUTOSELECT
PROPAGATION-URBAN-AUTO-SELECT-ENVIRONMENT URBAN
