# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME vhf_los_200MHz

# Which terrain file to use
INCLUDE ../../common/urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE vhf_los_200MHz.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 2e8

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL URBAN-MODEL-AUTOSELECT
PROPAGATION-URBAN-AUTO-SELECT-ENVIRONMENT URBAN
