# vlan/sample2
#
# Configuration to illustrate multicast behaviour in a switched network.
# There are two VLANs (VLAN 2 and 4) as shown below.
#
# Nodes 24, 121 and 141 are in a multicast group (225.0.0.2).
# Nodes 22, 121 and 141 are in in group (225.0.0.4).
# These groups form at 50S from start of simulation.
#
# Node 22 starts to send multicast packets for the group
# (i.e. 225.0.0.2) from 100S.
#
# Node 142 starts to send multicast packets for the group
# (i.e. 225.0.0.4) from 120S.
# 
# DVMRP is the multicast protocol.
#
#
#              121  122  123              22
#              ------------               |
#                   |                     |
#                   | 2 access            | 2 access
#      2 access +-------+             +-------+
#           +---|       |             |       |
#           |   |       |    2 and 4  |       |
#  101 --- 11   |  sw1  |-------------|  sw2  |
#           |   |       |     trunk   |       |
#           +---|       |             |       |
#      4 access +-------+             +-------+
#                   | 4 access            | 4 access
#                   |                     |
#              ------------               |
#              141  142  143              24
#
# Applications
#
# MCBR 22  225.0.0.2 30 1024 2 100S 0S
# MCBR 142 225.0.0.4 20 1024 2 120S 0S
#
# All members of a multicast group within the same vlan
# receive all multicast packets via switching.
#
# Inter-VLAN group members receive routed packets.
#

ROUTING-PROTOCOL                  BELLMANFORD
MULTICAST-PROTOCOL                DVMRP

GROUP-MANAGEMENT-PROTOCOL         IGMP
IGMP-ROUTER-LIST                  {11}

MULTICAST-GROUP-FILE              ./default.member


[1 2] SWITCH                      YES
SWITCH-RUN-STP                    NO

SWITCH-VLAN-AWARE                 YES
SWITCH-VLAN-LEARNING              INDEPENDENT

[1] SWITCH-VLAN-MEMBER-SET[2]          {1 2 3}
[1] SWITCH-VLAN-UNTAGGED-MEMBER-SET[2] {1 2}
[1] SWITCH-VLAN-MEMBER-SET[4]          {5 4 3}
[1] SWITCH-VLAN-UNTAGGED-MEMBER-SET[4] {4 5}

[2] SWITCH-VLAN-MEMBER-SET[2]          {1 2}
[2] SWITCH-VLAN-UNTAGGED-MEMBER-SET[2] {2}
[2] SWITCH-VLAN-MEMBER-SET[4]          {1 4}
[2] SWITCH-VLAN-UNTAGGED-MEMBER-SET[4] {4}


SUBNET N8-2.0 {1 121 122 123}
LINK N8-2.0 {2, 22}
LINK N8-2.0 {1, 11}

[1] SWITCH-PORT-MAP[1]     2.7
[1] SWITCH-PORT-VLAN-ID[1] 2
[1] SWITCH-PORT-MAP[2]     2.1
[1] SWITCH-PORT-VLAN-ID[2] 2
[1] SWITCH-PORT-MAP[3]     3.1
[1] SWITCH-PORT-VLAN-ID[3] 1
[1] SWITCH-PORT-MAP[4]     4.1
[1] SWITCH-PORT-VLAN-ID[4] 4
[1] SWITCH-PORT-MAP[5]     4.7
[1] SWITCH-PORT-VLAN-ID[5] 4


SUBNET N8-4.0 {1 141 142 143}
LINK N8-4.0 {2, 24}
LINK N8-4.0 {1, 11}

[2] SWITCH-PORT-MAP[1]     3.2
[2] SWITCH-PORT-VLAN-ID[1] 1
[2] SWITCH-PORT-MAP[2]     2.5
[2] SWITCH-PORT-VLAN-ID[2] 2
[2] SWITCH-PORT-MAP[4]     4.5
[2] SWITCH-PORT-VLAN-ID[4] 4


LINK N8-3.0 {1, 2}
LINK N8-1.0 {11, 101}


SIMULATION-TIME   300S

MAC-PROTOCOL                      MAC802.3
SUBNET-DATA-RATE                  10000000
SUBNET-PROPAGATION-DELAY          10US

LINK-BANDWIDTH                    10000000
LINK-PROPAGATION-DELAY            10US

#SWITCH-PORT-STATISTICS           YES
#SWITCH-QUEUE-STATISTICS          YES
#SWITCH-SCHEDULER-STATISTICS      YES
#SWITCH-DATABASE-STATISTICS       YES
#SWITCH-PORT-VLAN-STATISTICS      YES

APP-CONFIG-FILE                   ./default.app

TCP-MSS                           1000

# .............................................

VERSION 6.1
EXPERIMENT-NAME default
SEED   1
COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT   UNIFORM

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE

PHY-MODEL                   PHY802.11b
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY802.11b-DATA-RATE          2000000
PHY802.11b-TX-POWER           15.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5

NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY
IP-FORWARDING YES

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    NO

