# performance\sample2\
#
# Each of the nodes connects to a port of switch node 100.
#
#          1 ----     ----.17
#          2 --  |   |  -- 18
#              | |   | |
#              --|   |--
#                Sw100
#              --|   |--
#              | |   | |
#         15 --  |   |  -- 31
#         16 ----     ---- 32
#
# Evenly distributed FTP/GENERIC traffic is across nodes
#    2 -> 18,  4 -> 20,  6 -> 22,  8 -> 24,
#   10 -> 26, 12 -> 28, 14 -> 30, 16 -> 32
#

SIMULATION-TIME   30M

SUBNET N8-1.0 {100, 1}
SUBNET N8-1.0 {100, 2}
SUBNET N8-1.0 {100, 3}
SUBNET N8-1.0 {100, 4}
SUBNET N8-1.0 {100, 5}
SUBNET N8-1.0 {100, 6}
SUBNET N8-1.0 {100, 7}
SUBNET N8-1.0 {100, 8}
SUBNET N8-1.0 {100, 9}
SUBNET N8-1.0 {100, 10}
SUBNET N8-1.0 {100, 11}
SUBNET N8-1.0 {100, 12}
SUBNET N8-1.0 {100, 13}
SUBNET N8-1.0 {100, 14}
SUBNET N8-1.0 {100, 15}
SUBNET N8-1.0 {100, 16}
SUBNET N8-1.0 {100, 17}
SUBNET N8-1.0 {100, 18}
SUBNET N8-1.0 {100, 19}
SUBNET N8-1.0 {100, 20}
SUBNET N8-1.0 {100, 21}
SUBNET N8-1.0 {100, 22}
SUBNET N8-1.0 {100, 23}
SUBNET N8-1.0 {100, 24}
SUBNET N8-1.0 {100, 25}
SUBNET N8-1.0 {100, 26}
SUBNET N8-1.0 {100, 27}
SUBNET N8-1.0 {100, 28}
SUBNET N8-1.0 {100, 29}
SUBNET N8-1.0 {100, 30}
SUBNET N8-1.0 {100, 31}
SUBNET N8-1.0 {100, 32}

MAC-PROTOCOL MAC802.3
SUBNET-DATA-RATE             10000000
SUBNET-PROPAGATION-DELAY     1US

[100] SWITCH   YES

SWITCH-PORT-MAPPING-TYPE AUTO

ROUTING-PROTOCOL AODV

APP-CONFIG-FILE   ./default.app

SWITCH-PORT-STATISTICS YES
SWITCH-DATABASE-STATISTICS YES
SWITCH-SCHEDULER-STATISTICS YES
SWITCH-QUEUE-STATISTICS YES

TCP-MSS 1000

# .............................................

VERSION 6.1
EXPERIMENT-NAME default
SEED   1
COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT   UNIFORM

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE

PHY-MODEL                   PHY802.11b
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY802.11b-DATA-RATE          2000000
PHY802.11b-TX-POWER           15.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5

NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY
IP-FORWARDING YES

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    NO


