# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME ZigBee-AutoHome
EXPERIMENT-COMMENT none
SIMULATION-TIME 150S
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 1500, 1500 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 12
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE ZigBee-AutoHome.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-MODEL STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE

# ************* Radio/Physical Layer ***********

ENERGY-MODEL-SPECIFICATION NONE
BATTERY-MODEL NONE
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
# bandwidth in bps. supported data rates: 1Mbps, 2Mbps, 5.5Mbps, 11Mbps
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 1
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 1
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 1.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
OSPFv3-ADDITIONAL-PARAMETERS NO
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
#DEFAULT-ROUTE YES
#DEFAULT-ROUTE-FILE ZigBee-AutoHome.routes-default

# ************* Microwave Configuration ***********


# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE ZigBee-AutoHome.app
RTP-ENABLED NO

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES
BATTERY-MODEL-STATISTICS YES
ENERGY-MODEL-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
RTP-STATISTICS NO
GSM-STATISTICS NO
CELLULAR-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON DEFAULT.png

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE USER-SPECIFIED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


# ************* User Behavior Model ***********

# ************* User Behavior Model ***********

# Enables User Behavior Modelling parameters.
DUMMY-UBEE-ENABLED NO


# ************* LLC Configuration ***********

# ************* LLC Configuration ***********

LLC-ENABLED NO


#----------------Subnet ID 1 -----------------
SUBNET N8-192.0.0.0 { 1 thru 12 } 756.0 422.0 0.0
[ N8-192.0.0.0 ] NODE-ICON DEFAULT.png
[ N8-192.0.0.0 ] PHY-MODEL PHY802.15.4
# transmission power in dBm
[ N8-192.0.0.0 ] PHY802.15.4-TX-POWER 15.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.15.4
[ N8-192.0.0.0 ] PHY802.15.4-MODULATION O-QPSK
[ N8-192.0.0.0 ] PHY802.15.4-CCA-MODE CARRIER-SENSE
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 1
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 1
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 1.5
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL MAC802.15.4
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.0.0 ] ARP-ENABLED NO

[1] UNNUMBERED[0] NO
[2] UNNUMBERED[0] NO
[3] UNNUMBERED[0] NO
[4] UNNUMBERED[0] NO
[5] UNNUMBERED[0] NO
[6] UNNUMBERED[0] NO
[7] UNNUMBERED[0] NO
[8] UNNUMBERED[0] NO
[9] UNNUMBERED[0] NO
[10] UNNUMBERED[0] NO
[11] UNNUMBERED[0] NO
[12] UNNUMBERED[0] NO
[1] HOSTNAME PAN Coordinator
[2] HOSTNAME PDA
[3] HOSTNAME Sensor
[4] HOSTNAME Sensor
[5] HOSTNAME Sensor
[6] HOSTNAME Sensor
[7] HOSTNAME Sensor
[8] HOSTNAME Sensor
[9] HOSTNAME Sensor
[10] HOSTNAME Sensor
[11] HOSTNAME Sensor
[12] HOSTNAME Sensor
[ 1 thru 12 ] ENERGY-MODEL-SPECIFICATION USER-DEFINED
[ 1 thru 12 ] TX-CURRENT-LOAD 50.0
[ 1 thru 12 ] ENERGY-RX-CURRENT-LOAD 20.0
[ 1 thru 12 ] ENERGY-IDLE-CURRENT-LOAD 5.0
[ 1 thru 12 ] ENERGY-SLEEP-CURRENT-LOAD 0.0
[ 1 thru 12 ] ENERGY-OPERATIONAL-VOLTAGE 3.0
[ 1 thru 12 ] BATTERY-MODEL LINEAR
[ 1 thru 12 ] BATTERY-CHARGE-MONITORING-INTERVAL 10S
[ 1 thru 12 ] BATTERY-INITIAL-CHARGE 1200
[ 1 thru 12 ] PHY-MODEL PHY802.15.4
[ 1 thru 12 ] PHY802.15.4-TX-POWER 3.0
[ 1 thru 12 ] PHY-RX-MODEL PHY802.15.4
[ 1 thru 12 ] PHY802.15.4-MODULATION O-QPSK
[ 1 thru 12 ] PHY802.15.4-CCA-MODE CARRIER-SENSE
[ 1 thru 12 ] MAC-PROTOCOL MAC802.15.4
[ 1 ] MAC-802.15.4-DEVICE-TYPE FFD
[ 1 ] MAC-802.15.4-FFD-MODE PANCOORD
[ 1 thru 12 ] MAC-802.15.4-COORD-BO 3
[ 1 thru 12 ] MAC-802.15.4-COORD-SO 3
[ 1 thru 12 ] MAC-802.15.4-START-DEVICE-AT 0S
[ 1 thru 12 ] MAC-802.15.4-STOP-DEVICE-AT 0S
[ 1 thru 12 ] DUMMY-ROUTING DYNAMIC
[ 1 thru 12 ] ROUTING-PROTOCOL AODV
[ 1 thru 12 ] AODV-NET-DIAMETER 35
[ 1 thru 12 ] AODV-NODE-TRAVERSAL-TIME 40MS
[ 1 thru 12 ] AODV-ACTIVE-ROUTE-TIMEOUT 3S
[ 1 thru 12 ] AODV-MY-ROUTE-TIMEOUT 6S
[ 1 thru 12 ] AODV-HELLO-INTERVAL 1S
[ 1 thru 12 ] AODV-ALLOWED-HELLO-LOSS 2
[ 1 thru 12 ] AODV-RREQ-RETRIES 2
[ 1 thru 12 ] AODV-ROUTE-DELETION-CONSTANT 5
[ 1 thru 12 ] AODV-PROCESS-HELLO NO
[ 1 thru 12 ] AODV-LOCAL-REPAIR NO
[ 1 thru 12 ] AODV-SEARCH-BETTER-ROUTE NO
[ 1 thru 12 ] AODV-BUFFER-MAX-PACKET 100
[ 1 thru 12 ] AODV-BUFFER-MAX-BYTE 0
[ 1 thru 12 ] AODV-OPEN-BI-DIRECTIONAL-CONNECTION YES
[ 1 thru 12 ] AODV-TTL-START 1
[ 1 thru 12 ] AODV-TTL-INCREMENT 2
[ 1 thru 12 ] AODV-TTL-THRESHOLD 7
[ 1 thru 12 ] OSPFv3-ADDITIONAL-PARAMETERS NO
[ 1 ] NODE-ICON FFD.PNG
[ 2 thru 12 ] MAC-802.15.4-DEVICE-TYPE RFD
[ 2 thru 12 ] MAC-802.15.4-POLL-INTERVAL 1S
[ 2 ] NODE-ICON gateway1.PNG
[ 3 thru 12 ] NODE-ICON sensor-icon.PNG

COMPONENT 0 {1 2 3 4 5 6 7 8 9 10 11 12 N8-192.0.0.0} 13 750.0 750.0 0.0 1500.0 1500.0 3000.0 BG="C:\qualnet\4.5\scenarios\gui\ZigBee-AutoHome\autohome.PNG"
