# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME default

# Which terrain file to use
INCLUDE ../../common/urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE default.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 800000000 # 800MHz

# and the pathloss model
#PROPAGATION-PATHLOSS-MODEL TWO-RAY
PROPAGATION-PATHLOSS-MODEL OKUMURA-HATA
PROPAGATION-OKUMURA-HATA-ENVIRONMENT URBAN

[1] ANTENNA-GAIN 5.0
[2] ANTENNA-GAIN 5.0
