# General

VERSION 6.1
EXPERIMENT-NAME             iitsec04
SIMULATION-TIME             30M
SEED                    1

# Terrain

COORDINATE-SYSTEM           LATLONALT
TERRAIN-SOUTH-WEST-CORNER       (  40.001181,   14.952167 )
TERRAIN-NORTH-EAST-CORNER       (  45.654903,   22.972236 )
TERRAIN-DATA-BOUNDARY-CHECK     YES

TERRAIN-DATA-TYPE DTED
DTED-FILENAME[0] e015/n40.dt1
DTED-FILENAME[1] e015/n41.dt1
DTED-FILENAME[2] e015/n42.dt1
DTED-FILENAME[3] e015/n43.dt1
DTED-FILENAME[4] e015/n44.dt1
DTED-FILENAME[5] e015/n45.dt1
DTED-FILENAME[6] e016/n40.dt1
DTED-FILENAME[7] e016/n41.dt1
DTED-FILENAME[8] e016/n42.dt1
DTED-FILENAME[9] e016/n43.dt1
DTED-FILENAME[10] e016/n44.dt1
DTED-FILENAME[11] e016/n45.dt1
DTED-FILENAME[12] e017/n40.dt1
DTED-FILENAME[13] e017/n41.dt1
DTED-FILENAME[14] e017/n42.dt1
DTED-FILENAME[15] e017/n43.dt1
DTED-FILENAME[16] e017/n44.dt1
DTED-FILENAME[17] e017/n45.dt1
DTED-FILENAME[18] e018/n40.dt1
DTED-FILENAME[19] e018/n41.dt1
DTED-FILENAME[20] e018/n42.dt1
DTED-FILENAME[21] e018/n43.dt1
DTED-FILENAME[22] e018/n44.dt1
DTED-FILENAME[23] e018/n45.dt1
DTED-FILENAME[24] e019/n40.dt1
DTED-FILENAME[25] e019/n41.dt1
DTED-FILENAME[26] e019/n42.dt1
DTED-FILENAME[27] e019/n43.dt1
DTED-FILENAME[28] e019/n44.dt1
DTED-FILENAME[29] e019/n45.dt1
DTED-FILENAME[30] e020/n40.dt1
DTED-FILENAME[31] e020/n41.dt1
DTED-FILENAME[32] e020/n42.dt1
DTED-FILENAME[33] e020/n43.dt1
DTED-FILENAME[34] e020/n44.dt1
DTED-FILENAME[35] e020/n45.dt1
DTED-FILENAME[36] e021/n40.dt1
DTED-FILENAME[37] e021/n41.dt1
DTED-FILENAME[38] e021/n42.dt1
DTED-FILENAME[39] e021/n43.dt1
DTED-FILENAME[40] e021/n44.dt1
DTED-FILENAME[41] e021/n45.dt1
DTED-FILENAME[42] e022/n40.dt1
DTED-FILENAME[43] e022/n41.dt1
DTED-FILENAME[44] e022/n42.dt1
DTED-FILENAME[45] e022/n43.dt1
DTED-FILENAME[46] e022/n44.dt1
DTED-FILENAME[47] e022/n45.dt1

# Devices

ROUTER-MODEL-CONFIG-FILE        iitsec04.router-models

# Node positions

NODE-PLACEMENT              FILE
NODE-POSITION-FILE          iitsec04.nodes

# Mobility

MOBILITY                NONE
MOBILITY-POSITION-GRANULARITY       5.0
MOBILITY-GROUND-NODE            NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY[0]    100000000
PROPAGATION-LIMIT[0]            -111.0
PROPAGATION-PATHLOSS-MODEL[0]       ITM
PROPAGATION-SHADOWING-MODEL[0]      CONSTANT
PROPAGATION-SHADOWING-MEAN[0]       4.0
PROPAGATION-FADING-MODEL[0]     NONE

PROPAGATION-CHANNEL-FREQUENCY[1]    110000000
PROPAGATION-LIMIT[1]            -111.0
PROPAGATION-PATHLOSS-MODEL[1]       ITM
PROPAGATION-SHADOWING-MODEL[1]      CONSTANT
PROPAGATION-SHADOWING-MEAN[1]       4.0
PROPAGATION-FADING-MODEL[1]     NONE

PROPAGATION-CHANNEL-FREQUENCY[2]    120000000
PROPAGATION-LIMIT[2]            -111.0
PROPAGATION-PATHLOSS-MODEL[2]       ITM
PROPAGATION-SHADOWING-MODEL[2]      CONSTANT
PROPAGATION-SHADOWING-MEAN[2]       4.0
PROPAGATION-FADING-MODEL[2]     NONE

PROPAGATION-CHANNEL-FREQUENCY[3]    130000000
PROPAGATION-LIMIT[3]            -111.0
PROPAGATION-PATHLOSS-MODEL[3]       ITM
PROPAGATION-SHADOWING-MODEL[3]      CONSTANT
PROPAGATION-SHADOWING-MEAN[3]       4.0
PROPAGATION-FADING-MODEL[3]     NONE

PROPAGATION-CHANNEL-FREQUENCY[4]    140000000
PROPAGATION-LIMIT[4]            -111.0
PROPAGATION-PATHLOSS-MODEL[4]       ITM
PROPAGATION-SHADOWING-MODEL[4]      CONSTANT
PROPAGATION-SHADOWING-MEAN[4]       4.0
PROPAGATION-FADING-MODEL[4]     NONE

PROPAGATION-CHANNEL-FREQUENCY[5]    150000000
PROPAGATION-LIMIT[5]            -111.0
PROPAGATION-PATHLOSS-MODEL[5]       ITM
PROPAGATION-SHADOWING-MODEL[5]      CONSTANT
PROPAGATION-SHADOWING-MEAN[5]       4.0
PROPAGATION-FADING-MODEL[5]     NONE

PROPAGATION-CHANNEL-FREQUENCY[6]    160000000
PROPAGATION-LIMIT[6]            -111.0
PROPAGATION-PATHLOSS-MODEL[6]       ITM
PROPAGATION-SHADOWING-MODEL[6]      CONSTANT
PROPAGATION-SHADOWING-MEAN[6]       4.0
PROPAGATION-FADING-MODEL[6]     NONE

PROPAGATION-CHANNEL-FREQUENCY[7]    170000000
PROPAGATION-LIMIT[7]            -111.0
PROPAGATION-PATHLOSS-MODEL[7]       ITM
PROPAGATION-SHADOWING-MODEL[7]      CONSTANT
PROPAGATION-SHADOWING-MEAN[7]       4.0
PROPAGATION-FADING-MODEL[7]     NONE

PROPAGATION-CHANNEL-FREQUENCY[8]    180000000
PROPAGATION-LIMIT[8]            -111.0
PROPAGATION-PATHLOSS-MODEL[8]       ITM
PROPAGATION-SHADOWING-MODEL[8]      CONSTANT
PROPAGATION-SHADOWING-MEAN[8]       4.0
PROPAGATION-FADING-MODEL[8]     NONE

PROPAGATION-CHANNEL-FREQUENCY[9]    190000000
PROPAGATION-LIMIT[9]            -111.0
PROPAGATION-PATHLOSS-MODEL[9]       ITM
PROPAGATION-SHADOWING-MODEL[9]      CONSTANT
PROPAGATION-SHADOWING-MEAN[9]       4.0
PROPAGATION-FADING-MODEL[9]     NONE

PROPAGATION-CHANNEL-FREQUENCY[10]   200000000
PROPAGATION-LIMIT[10]           -111.0
PROPAGATION-PATHLOSS-MODEL[10]      ITM
PROPAGATION-SHADOWING-MODEL[10]     CONSTANT
PROPAGATION-SHADOWING-MEAN[10]      4.0
PROPAGATION-FADING-MODEL[10]        NONE

PROPAGATION-CHANNEL-FREQUENCY[11]   210000000
PROPAGATION-LIMIT[11]           -111.0
PROPAGATION-PATHLOSS-MODEL[11]      ITM
PROPAGATION-SHADOWING-MODEL[11]     CONSTANT
PROPAGATION-SHADOWING-MEAN[11]      4.0
PROPAGATION-FADING-MODEL[11]        NONE

PROPAGATION-CHANNEL-FREQUENCY[12]   220000000
PROPAGATION-LIMIT[12]           -111.0
PROPAGATION-PATHLOSS-MODEL[12]      ITM
PROPAGATION-SHADOWING-MODEL[12]     CONSTANT
PROPAGATION-SHADOWING-MEAN[12]      4.0
PROPAGATION-FADING-MODEL[12]        NONE

PROPAGATION-CHANNEL-FREQUENCY[13]   230000000
PROPAGATION-LIMIT[13]           -111.0
PROPAGATION-PATHLOSS-MODEL[13]      ITM
PROPAGATION-SHADOWING-MODEL[13]     CONSTANT
PROPAGATION-SHADOWING-MEAN[13]      4.0
PROPAGATION-FADING-MODEL[13]        NONE

PROPAGATION-CHANNEL-FREQUENCY[14]   240000000
PROPAGATION-LIMIT[14]           -111.0
PROPAGATION-PATHLOSS-MODEL[14]      ITM
PROPAGATION-SHADOWING-MODEL[14]     CONSTANT
PROPAGATION-SHADOWING-MEAN[14]      4.0
PROPAGATION-FADING-MODEL[14]        NONE

PROPAGATION-CHANNEL-FREQUENCY[15]   250000000
PROPAGATION-LIMIT[15]           -111.0
PROPAGATION-PATHLOSS-MODEL[15]      ITM
PROPAGATION-SHADOWING-MODEL[15]     CONSTANT
PROPAGATION-SHADOWING-MEAN[15]      4.0
PROPAGATION-FADING-MODEL[15]        NONE

# Physical

PHY-MODEL               PHY802.11b
PHY-RX-MODEL                PHY802.11b

PHY802.11-AUTO-RATE-FALLBACK        NO
PHY802.11-DATA-RATE         2000000
PHY802.11-DATA-RATE-FOR-BROADCAST   2000000
PHY802.11b-TX-POWER--1MBPS      15.0
PHY802.11b-TX-POWER--2MBPS      15.0
PHY802.11b-TX-POWER--6MBPS      15.0
PHY802.11b-TX-POWER-11MBPS      15.0
PHY802.11b-RX-SENSITIVITY--1MBPS    -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS    -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS    -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS    -83.0

ANTENNA-MODEL               OMNIDIRECTIONAL
ANTENNA-HEIGHT              1.5
ANTENNA-GAIN                0.0
ANTENNA-EFFICIENCY          0.8
ANTENNA-MISMATCH-LOSS           0.3
ANTENNA-CABLE-LOSS          0.0
ANTENNA-CONNECTION-LOSS         0.2

PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            7.0

# Data-link / MAC

MAC-PROTOCOL                MACDOT11
MAC-DOT11-ASSOCIATION                   NONE

# Network

NETWORK-PROTOCOL            IP
IP-QUEUE-NUM-PRIORITIES         3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE        5000000
IP-QUEUE-TYPE               FIFO
IP-QUEUE-SCHEDULER          STRICT-PRIORITY

# Routing

# Transport

TCP                 LITE
TCP-MSS                 512
TCP-SEND-BUFFER             16384
TCP-RECEIVE-BUFFER          16384
TCP-USE-RFC1323             NO
TCP-DELAY-ACKS              YES
TCP-DELAY-SHORT-PACKETS-ACKS        NO
TCP-USE-NAGLE-ALGORITHM         YES
TCP-USE-KEEPALIVE-PROBES        YES
TCP-USE-PUSH                YES

# Application

APP-CONFIG-FILE             iitsec04.app

# Tracing

PACKET-TRACE                NO

# Statistics

APPLICATION-STATISTICS          YES
TCP-STATISTICS              YES
UDP-STATISTICS              YES
ROUTING-STATISTICS          YES
ICMP-STATISTICS             NO
IGMP-STATISTICS             NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS        YES
QUEUE-STATISTICS            YES
SCHEDULER-STATISTICS            YES
MAC-LAYER-STATISTICS            YES
PHY-LAYER-STATISTICS            YES

MPLS-STATISTICS             NO
RSVP-STATISTICS             NO

DIFFSERV-EDGE-ROUTER-STATISTICS     NO
QOSPF-STATISTICS            NO
ACCESS-LIST-STATISTICS          NO
H323-STATISTICS             NO
GSM-STATISTICS              NO

# Networks

SUBNET N8-60.5.0.0              { 12, 17 } Default
[N8-60.5.0.0] PHY-LISTENABLE-CHANNEL-MASK   0000100000000000
[N8-60.5.0.0] PHY-LISTENING-CHANNEL-MASK    0000100000000000
[12] ROUTER-MODEL               AWACS-RADIO
[17] ROUTER-MODEL               FASTJET-RADIO

SUBNET N8-60.6.0.0              { 13, 19 } Default
[N8-60.6.0.0] PHY-LISTENABLE-CHANNEL-MASK   0000010000000000
[N8-60.6.0.0] PHY-LISTENING-CHANNEL-MASK    0000010000000000
[13] ROUTER-MODEL               AWACS-RADIO
[19] ROUTER-MODEL               FASTJET-RADIO

SUBNET N8-60.7.0.0              { 14, 22 } Default
[N8-60.7.0.0] PHY-LISTENABLE-CHANNEL-MASK   0000001000000000
[N8-60.7.0.0] PHY-LISTENING-CHANNEL-MASK    0000001000000000
[14] ROUTER-MODEL               AWACS-RADIO
[22] ROUTER-MODEL               APACHE-RADIO

SUBNET N8-60.8.0.0              { 4, 15 } Default
[N8-60.8.0.0] PHY-LISTENABLE-CHANNEL-MASK   0000000100000000
[N8-60.8.0.0] PHY-LISTENING-CHANNEL-MASK    0000000100000000
[4] ROUTER-MODEL                RELAY-RADIO
[15] ROUTER-MODEL               AWACS-RADIO

SUBNET N8-60.9.0.0              { 16, 18 } Default
[N8-60.9.0.0] PHY-LISTENABLE-CHANNEL-MASK   0000000010000000
[N8-60.9.0.0] PHY-LISTENING-CHANNEL-MASK    0000000010000000
[16] ROUTER-MODEL               FASTJET-RADIO
[18] ROUTER-MODEL               FASTJET-RADIO

SUBNET N8-60.10.0.0             { 5, 20 } Default
[N8-60.10.0.0] PHY-LISTENABLE-CHANNEL-MASK  0000000001000000
[N8-60.10.0.0] PHY-LISTENING-CHANNEL-MASK   0000000001000000
[5] ROUTER-MODEL                RELAY-RADIO
[20] ROUTER-MODEL               UAV-RADIO

SUBNET N8-60.12.0.0             { 8, 23 } Default
[N8-60.12.0.0] PHY-LISTENABLE-CHANNEL-MASK  0000000000010000
[N8-60.12.0.0] PHY-LISTENING-CHANNEL-MASK   0000000000010000
[8] ROUTER-MODEL                BRIGADE-HQ-RADIO
[23] ROUTER-MODEL               APACHE-RADIO

SUBNET N8-60.13.0.0             { 9, 21 } Default
[N8-60.13.0.0] PHY-LISTENABLE-CHANNEL-MASK  0000000000001000
[N8-60.13.0.0] PHY-LISTENING-CHANNEL-MASK   0000000000001000
[9] ROUTER-MODEL                BRIGADE-HQ-RADIO
[21] ROUTER-MODEL               UAV-RADIO

SUBNET N8-60.14.0.0             { 10, 26 } Default
[N8-60.14.0.0] PHY-LISTENABLE-CHANNEL-MASK  0000000000000100
[N8-60.14.0.0] PHY-LISTENING-CHANNEL-MASK   0000000000000100
[10] ROUTER-MODEL               BRIGADE-HQ-RADIO
[26] ROUTER-MODEL               LIGHT-TANK-LONG-RANGE-RADIO

SUBNET N8-60.16.0.0             { 24, 25 } Default
[N8-60.16.0.0] PHY-LISTENABLE-CHANNEL-MASK  0000000000000001
[N8-60.16.0.0] PHY-LISTENING-CHANNEL-MASK   0000000000000001
[24] ROUTER-MODEL               LIGHT-TANK-RADIO
[25] ROUTER-MODEL               LIGHT-TANK-RADIO

# Reliable wireless links:

# DIV HQ <-> Relay1

LINK N8-10.0.1.0                { 2, 3 }
[N8-10.0.1.0] LINK-PHY-TYPE         WIRELESS
[N8-10.0.1.0] LINK-BANDWIDTH            224000
[N8-10.0.1.0] LINK-PROPAGATION-DELAY        200MS
[N8-10.0.1.0] ROUTING-PROTOCOL          AODV

# Relay1 <-> Brigade HQ

LINK N8-192.0.1.0               { 6, 7 }
[N8-10.0.2.0] LINK-PHY-TYPE         WIRELESS
[N8-10.0.2.0] LINK-BANDWIDTH            224000
[N8-10.0.2.0] LINK-PROPAGATION-DELAY        200MS
[N8-10.0.2.0] ROUTING-PROTOCOL          AODV

# Satellite links:

# DIV HQ <-> Sat

LINK N8-192.0.1.0               { 1, 29 }
[N8-192.0.1.0] LINK-PHY-TYPE            WIRELESS
[N8-192.0.1.0] LINK-BANDWIDTH           224000
[N8-192.0.1.0] LINK-PROPAGATION-DELAY       100MS
[N8-192.0.1.0] ROUTING-PROTOCOL         AODV

# ACP1 <-> Sat

LINK N8-192.0.2.0               { 11, 30 }
[N8-192.0.2.0] LINK-PHY-TYPE            WIRELESS
[N8-192.0.2.0] LINK-BANDWIDTH           224000
[N8-192.0.2.0] LINK-PROPAGATION-DELAY       100MS
[N8-192.0.2.0] ROUTING-PROTOCOL         AODV

# Ship1 <-> Sat

LINK N8-192.0.3.0               { 31, 28 }
[N8-192.0.3.0] LINK-PHY-TYPE            WIRELESS
[N8-192.0.3.0] LINK-BANDWIDTH           224000
[N8-192.0.3.0] LINK-PROPAGATION-DELAY       100MS
[N8-192.0.3.0] ROUTING-PROTOCOL         AODV

# Ship2 <-> Sat

LINK N8-192.0.4.0               { 32, 27 }
[N8-192.0.4.0] LINK-PHY-TYPE            WIRELESS
[N8-192.0.4.0] LINK-BANDWIDTH           224000
[N8-192.0.4.0] LINK-PROPAGATION-DELAY       100MS
[N8-192.0.4.0] ROUTING-PROTOCOL         AODV

# Dynamic API

DYNAMIC-ENABLED         YES
DYNAMIC-NODE-ENABLED        YES
DYNAMIC-PHY-ENABLED     YES

# HLA

HLA             YES
HLA-FEDERATION-NAME     ITSEC
HLA-FED-FILE-PATH       STRIVE-RPR.fed
HLA-FEDERATE-NAME       QualNet
HLA-DEBUG           YES
HLA-DEBUG-2         NO
HLA-X-EPSILON           0.5
HLA-Y-EPSILON           0.5
HLA-Z-EPSILON           0.5
HLA-NETWORKS-FILE-PATH      iitsec04.hla-networks
HLA-RADIOS-FILE-PATH        iitsec04.hla-radios
HLA-ENTITIES-FILE-PATH      iitsec04.hla-entities

# GUI

USE-NODE-ICON           YES

[1] NODE-ICON   icons/DivisionHQ.png
[3] NODE-ICON   icons/Relay.png
[7] NODE-ICON   icons/BrigadeHQ.png
[11]    NODE-ICON   icons/AWACS.png
[16]    NODE-ICON   icons/Fastjet.png
[18]    NODE-ICON   icons/Fastjet.png
[20]    NODE-ICON   icons/UAV.png
[22]    NODE-ICON   icons/Apache.png
[24]    NODE-ICON   icons/LightTank.png
[25]    NODE-ICON   icons/LightTank.png
[27]    NODE-ICON   icons/Satellite.png
[31]    NODE-ICON   icons/Ship.png
[32]    NODE-ICON   icons/Ship.png

# COMPONENT 0 {H1 H2 H3 H4 H5 H6 H7 H8 H9 H10 H11 H12 H13 H14} 14 42.500000 16.500000 1400.0 3.000000 3.000000 3200.0

# COMPONENT 1 {1 2} 2 41.550000 15.716667 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Bunker.png" BG="icons/Bunker.png"
# COMPONENT 2 {3 4 5 6} 4 41.816667 15.991667 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Bunker.png" BG="icons/Bunker.png"
# COMPONENT 3 {7 8 9 10} 4 43.050000 17.441667 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Bunker.png" BG="icons/Bunker.png"
# COMPONENT 4 {11 12 13 14 15} 5 42.416667 15.250000 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/AWACS.png" BG="icons/AWACS.png"
# COMPONENT 5 {16 17} 2 42.500000 16.500000 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Fastjet.png" BG="icons/Fastjet.png"
# COMPONENT 6 {18 19} 2 42.500000 17.500000 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Fastjet.png" BG="icons/Fastjet.png"
# COMPONENT 7 {20 21} 2 42.916667 17.200000 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/UAV.png" BG="icons/UAV.png"
# COMPONENT 8 {22 23} 2 43.025000 17.033333 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Apache.png" BG="icons/Apache.png"
# COMPONENT 9 {24} 1 42.919444 17.173611 54.8 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/LightTank.png" BG="icons/LightTank.png"
# COMPONENT 10 {25 26} 2 42.950000 17.141667 500.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/LightTank.png" BG="icons/LightTank.png"
# COMPONENT 11 {27 28 29 30} 4 41.793781 15.571428 35000.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Satellite.png" BG="icons/Satellite.png"
# COMPONENT 12 {31} 1 42.833333 17.133333 15.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Ship.png" BG="icons/Ship.png"
# COMPONENT 13 {32} 1 42.929125 17.179950 15.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Ship.png" BG="icons/Ship.png"
# COMPONENT 14 {} 0 42.909150 17.133347 15.0 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/TerroristBoat.png" BG="icons/TerroristBoat.png"

ROUTING-PROTOCOL NONE
