# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

#
# ***** QualNet Configuration File *****
#

#
# Configuration file version.  Use converter in the bin/ directory to
# make old configuration files work with new versions of QualNet.
#

VERSION 6.1
EXPERIMENT-NAME default

SIMULATION-TIME   45M

SEED   1


COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT   UNIFORM

MOBILITY   NONE

###########################################
# AS1 Configuration
###########################################

[1 2 3 4 5 6 7] AS-NUMBER  1
[101 102 103 104 105 106] AS-NUMBER  1
[501 502 503.604 505 506 507 508 509 510 511 512 513.614 515 516 517 518 519 520] AS-NUMBER  1

# Area 1 [ABR: 1 & 2]
SUBNET N8-192.168.1.0 { 101, 501, 502 }
SUBNET N8-192.168.2.0 { 102, 503, 504 }
SUBNET N8-192.168.3.0 { 1, 505, 506 }
SUBNET N8-192.168.4.0 { 2, 507, 508 }
SUBNET N8-192.168.5.0 { 1, 2, 101, 102 }

# Area 2 [ABR: 5 & 6]
SUBNET N8-192.168.6.0 { 103, 509, 510 }
SUBNET N8-192.168.7.0 { 104, 511, 512 }
SUBNET N8-192.168.8.0 { 5, 513, 514 }
SUBNET N8-192.168.9.0 { 6, 515, 516 }
SUBNET N8-192.168.10.0 { 5, 6, 103, 104 }

# Area 3 (Stub Area) [ABR: 7]
SUBNET N8-192.168.11.0 { 105, 517, 518 }
SUBNET N8-192.168.12.0 { 106, 519, 520 }
SUBNET N8-192.168.13.0 { 7, 105, 106 }

# Backbone Area
LINK N2-192.168.14.0 { 1, 3 }
LINK N2-192.168.14.4 { 2, 4 }
LINK N2-192.168.14.8 { 3, 4 }
LINK N2-192.168.14.12 { 3, 5 }
LINK N2-192.168.14.16 { 4, 6 }
LINK N2-192.168.14.20 { 3, 7 }

###########################################
# AS2 Configuration
###########################################

[8 9 10] AS-NUMBER  2
[601 602 603 604 605 606 607 608] AS-NUMBER  2

# Area 1 [ABR: 9]
SUBNET N8-192.168.16.0 { 9, 601, 602 }
SUBNET N8-192.168.17.0 { 9, 603, 604 }

# Area 2 [ABR: 10]
SUBNET N8-192.168.18.0 { 10, 605, 606 }
SUBNET N8-192.168.19.0 { 10, 607, 608 }

# Backbone Area
LINK N2-192.168.20.0 { 8, 9 }
LINK N2-192.168.20.4 { 8, 10 }
LINK N2-192.168.20.8 { 9, 10 }


###########################################
# Inter AS Link
###########################################

LINK N2-10.10.10.0 { 4, 8 }
LINK N2-10.10.10.4 { 6, 8 }


LINK-BANDWIDTH           112000
LINK-PROPAGATION-DELAY   50MS


MAC-PROTOCOL                 MAC802.3
SUBNET-DATA-RATE             10000000
SUBNET-PROPAGATION-DELAY     1US

PROMISCUOUS-MODE   NO


NETWORK-PROTOCOL   IP

IP-QUEUE-NUM-PRIORITIES   3

IP-QUEUE-PRIORITY-QUEUE-SIZE   50000

IP-QUEUE-TYPE   FIFO

IP-QUEUE-SCHEDULER   STRICT-PRIORITY

IP-FORWARDING YES

[N16-192.168.0.0] ROUTING-PROTOCOL   OSPFv2

OSPFv2-DEFINE-AREA      YES
OSPFv2-CONFIG-FILE      ./default.ospf

[4] AS-BOUNDARY-ROUTER   YES
[6] AS-BOUNDARY-ROUTER   YES
[8] AS-BOUNDARY-ROUTER   YES


EXTERIOR-GATEWAY-PROTOCOL BGPv4
BGP-CONFIG-FILE         ./default.bgp

APP-CONFIG-FILE   ./default.app


###############################################################################
# Statistics                                                                  #
###############################################################################

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO




ROUTING-PROTOCOL NONE
STATS-DB-COLLECTION YES
STATS-DB-DBNAME-TIMESTAMP NO
STATS-DB-OSPF-AGGREGATE-TABLE YES
STATS-DB-OSPF-SUMMARY-TABLE YES
STATS-DB-OSPF-AGGREGATE-INTERVAL 200S
STATS-DB-OSPF-SUMMARY-INTERVAL 200S


