# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 6.1
EXPERIMENT-NAME 2Cell_1Node_TM3_OLSM
EXPERIMENT-COMMENT None
SIMULATION-TIME 10S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
DUMMY-ENABLE-URBAN-TERRAIN-FEATURE NO
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] RAYLEIGH
PROPAGATION-FADING-MAX-VELOCITY[0] 10.0
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-CHANNEL-FREQUENCY[1] 2400000000
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-FADING-MODEL[1] RAYLEIGH
PROPAGATION-FADING-MAX-VELOCITY[1] 10.0
PROPAGATION-LIMIT[1] -111.0
PROPAGATION-MAX-DISTANCE[1] 0
PROPAGATION-COMMUNICATION-PROXIMITY[1] 400
PROPAGATION-PROFILE-UPDATE-RATIO[1] 0.0
PROPAGATION-FADING-GAUSSIAN-COMPONENTS-FILE default.fading

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
NODE-POSITION-FILE 2Cell_1Node_TM3_OLSM.nodes
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
RSVP-STATISTICS NO
SRM-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
MOBILITY-STATISTICS NO
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE 2Cell_1Node_TM3_OLSM.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************STK Interface***********************************

STK-ENABLED NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 11
PHY-LISTENING-CHANNEL-MASK 11
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#*******************QoS Configuration***********************************


#********************Network Security***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
AUDIT-ENABLED NO

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 15S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP NO
IPv6-ENABLE-6to4-TUNNELING NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

DUMMY-VOIP-APPLICATION-EXISTS NO
RTP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M

#***************** [Wireless Subnet] ***********************************

SUBNET N8-190.0.1.0 {1 thru 4} 750 1000 0

#**********************Physical Layer***********************************

[ N8-190.0.1.0 ] PHY-LISTENABLE-CHANNEL-MASK[0] 11
[ N8-190.0.1.0 ] PHY-LISTENING-CHANNEL-MASK[0] 11
[ N8-190.0.1.0 ] PHY-MODEL PHY-LTE
[ N8-190.0.1.0 ] PHY-LTE-CHANNEL-BANDWIDTH 10000000
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[0] -5.00
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[1] -4.42
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[2] -3.40
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[3] -1.70
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[4] -0.19
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[5] 1.34
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[6] 2.64
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[7] 5.16
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[8] 6.71
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[9] 8.18
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[10] 10.43
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[11] 11.84
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[12] 13.32
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[13] 15.53
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[14] 16.20
[ N8-190.0.1.0 ] PHY-LTE-DL-CQI-SNR-TABLE[15] 22.38
[ N8-190.0.1.0 ] ANTENNA-GAIN 0.0
[ N8-190.0.1.0 ] ANTENNA-HEIGHT 1.5
[ N8-190.0.1.0 ] ANTENNA-EFFICIENCY 0.8
[ N8-190.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
[ N8-190.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
[ N8-190.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-190.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL

#***************************MAC Layer***********************************

[ N8-190.0.1.0 ] MAC-PROTOCOL MAC-LTE
[ N8-190.0.1.0 ] MAC-LTE-NUM-SF-PER-TTI 1

#***********************NETWORK LAYER***********************************

[ N8-190.0.1.0 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.1.0 ] ROUTING-PROTOCOL NONE


#******************** [EPC Subnet] ***********************************

SUBNET N8-190.0.2.0 {1, 2, 5} 400 1200 0
[ N8-190.0.2.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.2.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.2.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.2.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.2.0 ] LLC-ENABLED NO
[ N8-190.0.2.0 ] IS-EPC-SUBNET YES
[ N8-190.0.2.0 ] EPC-SGWMME-NODE-ID 5
[ N8-190.0.2.0 ] EPC-SGWMME-INTERFACE-INDEX 0


#*************Interface Configuration***********************************


[1] NETWORK-PROTOCOL[0]       IP

[1] IP-SUBNET-MASK[0]         255.255.255.0
[1] IP-ADDRESS[0]             190.0.1.1

[1] NETWORK-PROTOCOL[1]       IP
[1] IP-ADDRESS[1]             190.0.2.1

[2] NETWORK-PROTOCOL[0]       IP

[2] IP-SUBNET-MASK[0]         255.255.255.0
[2] IP-ADDRESS[0]             190.0.1.2

[2] NETWORK-PROTOCOL[1]       IP
[2] IP-ADDRESS[1]             190.0.2.2

[3] NETWORK-PROTOCOL[0]       IP

[3] IP-SUBNET-MASK[0]         255.255.255.0
[3] IP-ADDRESS[0]             190.0.1.3

[4] NETWORK-PROTOCOL[0]       IP

[4] IP-SUBNET-MASK[0]         255.255.255.0
[4] IP-ADDRESS[0]             190.0.1.4

[5] NETWORK-PROTOCOL[0]       IP

[5] IP-SUBNET-MASK[0]         255.255.255.0
[5] IP-ADDRESS[0]             190.0.2.3


[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[44]  UL_BER_MCS12.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[56]  UL_BER_MCS24.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[9]  DL_BER_MCS9.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[50]  UL_BER_MCS18.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[26]  DL_BER_MCS26.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[12]  DL_BER_MCS12.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[45]  UL_BER_MCS13.ber
[190.0.1.1 190.0.1.2] PHY-LTE-PUCCH-OVERHEAD  0
[190.0.1.3 190.0.1.4] MAC-LTE-STATION-TYPE  UE
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[51]  UL_BER_MCS19.ber
[190.0.1.1 190.0.1.2] RRC-LTE-MEAS-FILTER-COEFFICIENT  40
[190.0.1.1 190.0.1.2] RLC-LTE-T-STATUS-PROHIBIT  12MS
[190.0.1.3 190.0.1.4] PHY-LTE-CQI-REPORTING-INTERVAL  10
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[36]  UL_BER_MCS4.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[23]  DL_BER_MCS23.ber
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-TYPE[1]  FIFO
[190.0.1.1 190.0.1.2] PHY-LTE-TPC-P_O_PUSCH  -90
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[15]  DL_BER_MCS15.ber
[190.0.1.1 190.0.1.2] MAC-LTE-STATION-TYPE  eNB
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[24]  DL_BER_MCS24.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[10]  DL_BER_MCS10.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[0]  DL_BER_MCS0.ber
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[54]  UL_BER_MCS22.ber
[190.0.1.1 190.0.1.2] MAC-LTE-RA-PRACH-CONFIG-INDEX  14
[190.0.1.3 190.0.1.4] PHY-LTE-CELL-SELECTION-MIN-SERVING-DURATION  1S
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[4]  DL_BER_MCS4.ber
[190.0.1.1 190.0.1.2] PHY-LTE-CELL-SELECTION-QUAL-LEVEL-MIN-OFFSET  0
[190.0.1.1 190.0.1.2] MAC-LTE-RA-BACKOFF-TIME  10MS
[190.0.1.3 190.0.1.4] PHY-LTE-RI-REPORTING-INTERVAL  10
[190.0.1.1 190.0.1.2] MAC-LTE-PERIODIC-BSR-TTI  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[43]  UL_BER_MCS11.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[55]  UL_BER_MCS23.ber
[190.0.1.1 190.0.1.2] MAC-LTE-RA-PREAMBLE-TRANS-MAX  4
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[8]  DL_BER_MCS8.ber
[190.0.1.3 190.0.1.4] PHY-LTE-NUM-TX-ANTENNAS  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[48]  UL_BER_MCS16.ber
[190.0.1.1 190.0.1.2] PHY-LTE-NUM-TX-ANTENNAS  2
[190.0.1.1 190.0.1.2] PHY-LTE-CELL-SELECTION-RX-LEVEL-MIN-OFFSET  0
[190.0.1.3 190.0.1.4] MAC-LTE-STATION-TYPE_in_PHY  UE
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[6]  DL_BER_MCS6.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[42]  UL_BER_MCS10.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-LTE-NUM-RX-ANTENNAS  2
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-LTE-TX-POWER  23
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[49]  UL_BER_MCS17.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[38]  UL_BER_MCS6.ber
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[16]  DL_BER_MCS16.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[21]  DL_BER_MCS21.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-LTE-PATHLOSS-FILTER-COEFFICIENT  40
[190.0.1.1 190.0.1.2] MAC-LTE-RA-POWER-RAMPING-STEP  2
[190.0.1.1 190.0.1.2] MAC-LTE-TRANSMISSION-MODE  3
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[39]  UL_BER_MCS7.ber
[190.0.1.3 190.0.1.4] PHY-LTE-NON-SERVING-CELL-MEASUREMENT-PERIOD  200MS
[190.0.1.1 190.0.1.2] PHY-LTE-CELL-SELECTION-RX-LEVEL-MIN  -140
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[27]  DL_BER_MCS27.ber
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-TYPE[2]  FIFO
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[19]  DL_BER_MCS19.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[13]  DL_BER_MCS13.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[28]  DL_BER_MCS28.ber
[190.0.1.1 190.0.1.2] PHY-LTE-DL-CHANNEL  0
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[53]  UL_BER_MCS21.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[14]  DL_BER_MCS14.ber
[190.0.1.1 190.0.1.2] MAC-LTE-RA-PREAMBLE-INITIAL-RECEIVED-TARGET-POWER  -90
[190.0.1.3 190.0.1.4] MAC-LTE-UE-SCHEDULER-TYPE  SIMPLE-SCHEDULER
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[58]  UL_BER_MCS26.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[52]  UL_BER_MCS20.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[33]  UL_BER_MCS1.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[47]  UL_BER_MCS15.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[59]  UL_BER_MCS27.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[60]  UL_BER_MCS28.ber
[190.0.1.3 190.0.1.4] PHY-LTE-RI-REPORTING-OFFSET  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[40]  UL_BER_MCS8.ber
[190.0.1.1 190.0.1.2] PHY-LTE-CELL-SELECTION-QUAL-LEVEL-MIN  -19.5
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[22]  DL_BER_MCS22.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[3]  DL_BER_MCS3.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[2]  DL_BER_MCS2.ber
[190.0.1.3 190.0.1.4] PHY-LTE-SRS-TRANSMISSION-INTERVAL  10
[190.0.1.1 190.0.1.2] PHY-LTE-RA-DETECTION-THRESHOLD  -100
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[41]  UL_BER_MCS9.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[46]  UL_BER_MCS14.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[7]  DL_BER_MCS7.ber
[190.0.1.1 190.0.1.2] MAC-LTE-TARGET-BLER  0.01
[190.0.1.1 190.0.1.2] MAC-LTE-PF-FILTER-COEFFICIENT  36
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[34]  UL_BER_MCS2.ber
[190.0.1.1 190.0.1.2] RLC-LTE-MAX-RETX-THRESHOLD  8
[190.0.1.1 190.0.1.2] MAC-LTE-ENB-SCHEDULER-TYPE  ROUND-ROBIN
[190.0.1.3 190.0.1.4] PHY-LTE-SRS-TRANSMISSION-OFFSET  0
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[25]  DL_BER_MCS25.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[11]  DL_BER_MCS11.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[35]  UL_BER_MCS3.ber
[190.0.1.1 190.0.2.1 190.0.1.2 190.0.2.2 190.0.1.3 190.0.1.4] IP-QUEUE-TYPE[0]  FIFO
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[20]  DL_BER_MCS20.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-MODEL  PHY-LTE-BER-BASED
[190.0.1.1 190.0.1.2] RLC-LTE-T-POLL-RETRANSMIT  100MS
[190.0.1.3 190.0.1.4] PHY-LTE-CQI-REPORTING-OFFSET  0
[190.0.1.1 190.0.1.2] RLC-LTE-POLL-PDU  16
[190.0.1.1 190.0.1.2] PHY-LTE-UL-CHANNEL  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[32]  UL_BER_MCS0.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[17]  DL_BER_MCS17.ber
[190.0.1.3 190.0.1.4] RRC-LTE-WAIT-RRC-CONNECTED-TIME  10MS
[190.0.1.3 190.0.1.4] RRC-LTE-WAIT-RRC-CONNECTED-RECONF-TIME  10MS
[190.0.1.1 190.0.1.2] PHY-LTE-TPC-ALPHA  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[37]  UL_BER_MCS5.ber
[190.0.1.1 190.0.1.2] RLC-LTE-POLL-BYTE  250
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[1]  DL_BER_MCS1.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[57]  UL_BER_MCS25.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[18]  DL_BER_MCS18.ber
[190.0.1.1 190.0.1.2] MAC-LTE-RA-RESPONSE-WINDOW-SIZE  10
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-LTE-RX-SENSITIVITY  -1000
[190.0.1.1 190.0.1.2] RLC-LTE-T-REORDERING  100MS
[190.0.1.1 190.0.1.2] MAC-LTE-STATION-TYPE_in_PHY  eNB
[190.0.1.1 190.0.1.2] MAC-LTE-PF-UL-RB-ALLOCATION-UNIT  1
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-RX-BER-TABLE-FILE[5]  DL_BER_MCS5.ber
[190.0.1.1 190.0.1.2 190.0.1.3 190.0.1.4] PHY-LTE-INTERFERENCE-FILTER-COEFFICIENT  40


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 4]      NETWORK-PROTOCOL IP
[1 thru 4]      STATIC-ROUTE YES
[1 thru 4]      IP-LOOPBACK-ADDRESS 127.0.0.1
[1]             HOSTNAME eNB1
[2]             HOSTNAME eNB2
[3]             HOSTNAME UE1
[4]             HOSTNAME UE2
[5]             HOSTNAME SGWMME
[1 thru 4]      IP-FRAGMENT-HOLD-TIME 15S
[1 thru 4]      ROUTING-PROTOCOL NONE
[1 thru 4]      NODE-PLACEMENT FILE
[1 thru 4]      IP-ENABLE-LOOPBACK YES
[1 thru 4]      STATIC-ROUTE-FILE 2Cell_1Node.routes-static

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE 2Cell_1Node_TM3_OLSM.display

