# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME UrbanEnv
SIMULATION-TIME 150s
#SIMULATION-TIME 18000S



# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1
# Select any background image
#GUI-BACKGROUND-IMAGE-FILENAME configWin1.jpg

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (2000, 2000)

TERRAIN-FEATURES-SOURCE FILE
TERRAIN-FEATURES-FILENAME[0] urban/mapdata001.xml

# if this value is set, traffic light settings from file are ignored
# instead, intersections have a traffic light with this probability
#TERRAIN-FEATURES-TRAFFIC-LIGHT-PROBABILITY 0.5

# this seed is used for the random generation of traffic lights (see above)
TERRAIN-FEATURES-TRAFFIC-LIGHT-SEED 1

# Terrain altitude in meters.
DUMMY-ALTITUDES ( 2000, 2000 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES

TERRAIN-DATA-TYPE            NONE
URBAN-TERRAIN-TYPE           QUALNET-URBAN-TERRAIN
# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 16
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE UrbanEnv.nodes


# ************* Mobility ***********

#MOBILITY PEDESTRIAN-MOBILITY
MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 10.0

# in meters / sec
PEDESTRIAN-MOBILITY-DEFAULT-SPEED 1.0
PEDESTRIAN-MOBILITY-MINIMUM-SPEED 0.3

# pedestrians each pick a random time in this interval to exit their station
PEDESTRIAN-MOBILITY-EXIT-STATION-START 0S
PEDESTRIAN-MOBILITY-EXIT-STATION-END 0S

# pedestrians each pick a random time in this interval to move to a park
# before this, a pedestrian picks random destinations
# it is possible for a pedestrian to begin moving towards a park immediately
# after exiting a station
PEDESTRIAN-MOBILITY-MOVE-TO-PARK-START 500S
PEDESTRIAN-MOBILITY-MOVE-TO-PARK-END 600S

# pedestrians do not move between these times
# pedestrians exit the parks and move to the stations after the fireworks
PEDESTRIAN-MOBILITY-STOP-FOR-FIREWORKS 2500S
PEDESTRIAN-MOBILITY-MOVE-AFTER-FIREWORKS 2600S

# when attempting to reach a park, a pedestrian picks
# the closest park other than the current destination when this
# timer expires, based on the assumption that the current destination
# park is not reachable
PEDESTRIAN-MOBILITY-SWAP-PARK-TIMER 1000S

# these timer is like the park timer for a pedestrian moving
# towards a station
PEDESTRIAN-MOBILITY-SWAP-STATION-TIMER 1000S

# some alternate values based on more realistic pedestrian speed
# use with higher SIMULATION-TIME value
#PEDESTRIAN-MOBILITY-DEFAULT-SPEED 1.3
#PEDESTRIAN-MOBILITY-MINIMUM-SPEED 0.1
#PEDESTRIAN-MOBILITY-EXIT-STATION-START 0S
#PEDESTRIAN-MOBILITY-EXIT-STATION-END 7200S
#PEDESTRIAN-MOBILITY-MOVE-TO-PARK-START 3600S
#PEDESTRIAN-MOBILITY-MOVE-TO-PARK-END 7200S
#PEDESTRIAN-MOBILITY-STOP-FOR-FIREWORKS 10800S
#PEDESTRIAN-MOBILITY-MOVE-AFTER-FIREWORKS 12600S
#PEDESTRIAN-MOBILITY-SWAP-PARK-TIMER 1000S
#PEDESTRIAN-MOBILITY-SWAP-STATION-TIMER 1000S

# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 1900000000
PROPAGATION-CHANNEL-FREQUENCY[1] 1910000000
PROPAGATION-CHANNEL-FREQUENCY[2] 1920000000
PROPAGATION-CHANNEL-FREQUENCY[3] 1930000000
PROPAGATION-CHANNEL-FREQUENCY[4] 1940000000
PROPAGATION-CHANNEL-FREQUENCY[5] 1950000000
PROPAGATION-CHANNEL-FREQUENCY[6] 1960000000

PROPAGATION-MODEL STATISTICAL
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-MODEL[2] STATISTICAL
PROPAGATION-MODEL[3] STATISTICAL
PROPAGATION-MODEL[4] STATISTICAL
PROPAGATION-MODEL[5] STATISTICAL
PROPAGATION-MODEL[6] STATISTICAL

# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[1] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[2] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[3] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[4] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[5] -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[6] -111.0

# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL URBAN-MODEL-AUTOSELECT
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[1] URBAN-MODEL-AUTOSELECT
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[2] URBAN-MODEL-AUTOSELECT
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[3] URBAN-MODEL-AUTOSELECT
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[4] TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[5] TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[6] TWO-RAY

PROPAGATION-SHADOWING-MODEL NONE
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-SHADOWING-MODEL[1] NONE
# in dB
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-SHADOWING-MODEL[2] NONE
# in dB
PROPAGATION-SHADOWING-MEAN[2] 4.0
PROPAGATION-SHADOWING-MODEL[3] NONE
# in dB
PROPAGATION-SHADOWING-MEAN[3] 4.0
PROPAGATION-SHADOWING-MODEL[4] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[4] 4.0
PROPAGATION-SHADOWING-MODEL[5] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[5] 4.0
PROPAGATION-SHADOWING-MODEL[6] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[6] 4.0

PROPAGATION-FADING-MODEL NONE
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-FADING-MODEL[2] NONE
PROPAGATION-FADING-MODEL[3] NONE
PROPAGATION-FADING-MODEL[4] NONE
PROPAGATION-FADING-MODEL[5] NONE
PROPAGATION-FADING-MODEL[6] NONE

# ************* Radio/Physical Layer ***********

ENERGY-MODEL-SPECIFICATION NONE
BATTERY-MODEL NONE
PHY-MODEL PHY802.16
# transmission power in dBm
PHY802.16-TX-POWER 20.0
PHY802.16-CHANNEL-BANDWIDTH 10000000
PHY802.16-FFT-SIZE 1024
PHY802.16-CYCLIC-PREFIX 8.0
PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 1111111
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 1111111
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 12.0
# antenna height in meters
ANTENNA-HEIGHT 10.0
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2
# ************* MAC Protocol ***********

MAC-PROTOCOL MACDOT11
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-ASSOCIATION NONE
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES

# ************* ARP Specific ***********

# ************* ARP Enabled ***********

ARP-ENABLED NO

# ************* ARP Specs ***********

ARP-TIMEOUT-INTERVAL 20M


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-SUBNET-GATEWAY YES
SUBNET-GATEWAY YES
DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
#ROUTING-PROTOCOL AODV
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
# DEFAULT-ROUTE YES
# DEFAULT-ROUTE-FILE UrbanEnv.routes-default

# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE UrbanEnv.app

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS NO
UDP-STATISTICS NO
ROUTING-STATISTICS NO
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS NO
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
GSM-STATISTICS NO
ARP-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON person.png

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE PREDEFINED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


#----------------Default Subnet -----------------
#----------------Subnet ID 10 -----------------
SUBNET N8-192.0.0.0 { 1, 9 } 
[ N8-192.0.0.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.0.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.0.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.0.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.0.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.0.1 ] PHY-LISTENABLE-CHANNEL-MASK 1000000
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 1000000
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.0.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.0.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.0.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.0.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.0.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.0.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.0.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.0.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.0.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.0.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.0.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.0.0 ] ARP-ENABLED NO

#----------------Subnet ID 11 -----------------
SUBNET N8-192.0.1.0 { 2, 10 } 
[ N8-192.0.1.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.1.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.1.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.1.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.1.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.1.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.1.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.1.1 ] PHY-LISTENABLE-CHANNEL-MASK 0100000
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.1.0 ] PHY-LISTENING-CHANNEL-MASK 0100000
# Temperature of the environment in K
[ N8-192.0.1.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.1.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.1.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.1.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.1.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.1.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.1.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.1.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.1.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.1.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.1.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.1.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.1.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.1.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.1.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.1.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.1.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.1.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.1.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.1.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.1.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.1.0 ] ARP-ENABLED NO

#----------------Subnet ID 12 -----------------
SUBNET N8-192.0.2.0 { 3, 11 } 
[ N8-192.0.2.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.2.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.2.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.2.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.2.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.2.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.2.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.2.1 ] PHY-LISTENABLE-CHANNEL-MASK 0010000
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.2.0 ] PHY-LISTENING-CHANNEL-MASK 0010000
# Temperature of the environment in K
[ N8-192.0.2.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.2.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.2.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.2.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.2.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.2.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.2.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.2.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.2.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.2.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.2.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.2.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.2.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.2.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.2.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.2.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.2.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.2.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.2.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.2.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.2.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.2.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.2.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.2.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.2.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.2.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.2.0 ] ARP-ENABLED NO

#----------------Subnet ID 13 -----------------
SUBNET N8-192.0.3.0 { 4, 12 } 
[ N8-192.0.3.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.3.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.3.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.3.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.3.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.3.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.3.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.3.1 ] PHY-LISTENABLE-CHANNEL-MASK 0001000
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.3.0 ] PHY-LISTENING-CHANNEL-MASK 0001000
# Temperature of the environment in K
[ N8-192.0.3.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.3.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.3.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.3.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.3.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.3.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.3.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.3.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.3.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.3.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.3.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.3.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.3.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.3.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.3.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.3.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.3.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.3.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.3.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.3.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.3.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.3.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.3.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.3.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.3.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.3.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.3.0 ] ARP-ENABLED NO

#----------------Subnet ID 14 -----------------
SUBNET N8-192.0.4.0 { 5, 13 } 
[ N8-192.0.4.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.4.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.4.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.4.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.4.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.4.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.4.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.4.1 ] PHY-LISTENABLE-CHANNEL-MASK 0000100
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.4.0 ] PHY-LISTENING-CHANNEL-MASK 0000100
# Temperature of the environment in K
[ N8-192.0.4.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.4.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.4.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.4.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.4.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.4.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.4.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.4.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.4.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.4.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.4.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.4.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.4.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.4.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.4.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.4.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.4.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.4.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.4.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.4.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.4.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.4.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.4.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.4.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.4.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.4.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.4.0 ] ARP-ENABLED NO

#----------------Subnet ID 15 -----------------
SUBNET N8-192.0.5.0 { 6, 14 } 
[ N8-192.0.5.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.5.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.5.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.5.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.5.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.5.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.5.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.5.1 ] PHY-LISTENABLE-CHANNEL-MASK 0000010
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.5.0 ] PHY-LISTENING-CHANNEL-MASK 0000010
# Temperature of the environment in K
[ N8-192.0.5.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.5.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.5.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.5.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.5.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.5.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.5.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.5.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.5.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.5.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.5.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.5.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.5.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.5.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.5.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.5.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.5.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.5.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.5.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.5.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.5.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.5.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.5.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.5.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.5.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.5.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.5.0 ] ARP-ENABLED NO

#----------------Subnet ID 16 -----------------
SUBNET N8-192.0.6.0 { 7, 15, 16 } 
[ N8-192.0.6.0 ] PHY-MODEL PHY802.16
# transmission power in dBm
[ N8-192.0.6.0 ] PHY802.16-TX-POWER 20.0
[ N8-192.0.6.0 ] PHY802.16-CHANNEL-BANDWIDTH 10000000
[ N8-192.0.6.0 ] PHY802.16-FFT-SIZE 1024
[ N8-192.0.6.0 ] PHY802.16-CYCLIC-PREFIX 8.0
[ N8-192.0.6.0 ] PHY-RX-MODEL PHY802.16
# Channels the radio is capable of listening to.
[ N8-192.0.6.0 ] PHY-LISTENABLE-CHANNEL-MASK 1111111
[ 192.0.6.1 ] PHY-LISTENABLE-CHANNEL-MASK 0000001
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.6.0 ] PHY-LISTENING-CHANNEL-MASK 0000001
# Temperature of the environment in K
[ N8-192.0.6.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.6.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.6.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.6.0 ] ANTENNA-GAIN 12.0
# antenna height in meters
[ N8-192.0.6.0 ] ANTENNA-HEIGHT 10.0
# efficiency of the antenna
[ N8-192.0.6.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.6.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.6.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.6.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.6.0 ] MAC-PROTOCOL MAC802.16
[ N8-192.0.6.0 ] MAC-802.16-STATION-TYPE SS
[ N8-192.0.6.0 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.6.0 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ N8-192.0.6.0 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ N8-192.0.6.0 ] MAC-802.16-PACKING-ENABLED YES
[ N8-192.0.6.0 ] MAC-802.16-RANGING-TYPE NORMAL
[ N8-192.0.6.0 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ N8-192.0.6.0 ] MAC-802.16-SUPPORT-MOBILITY YES
# The SS will try to scan neighboring BSs if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.6.0 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
# The SS will try to start handover if the receiving signal strength (RSS) from serving BS is below is threshold
[ N8-192.0.6.0 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
# The SS will only handover to a target BS whose RSS level is higher than that of current serving BS no smaller than this margin
[ N8-192.0.6.0 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ N8-192.0.6.0 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ N8-192.0.6.0 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ N8-192.0.6.0 ] MAC-802.16-ARQ-ENABLED NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.6.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.6.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.6.0 ] ARP-ENABLED NO

LINK N8-192.0.7.0 { 1, 8 }
[ 192.0.7.1 192.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.7.1 192.0.7.2 ] LINK-BANDWIDTH 10000000
[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL IP
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.8.0 { 2, 8 }
[ 192.0.8.1 192.0.8.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.8.1 192.0.8.2 ] LINK-BANDWIDTH 10000000
[ 192.0.8.1 192.0.8.2 ] NETWORK-PROTOCOL IP
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.9.0 { 3, 8 }
[ 192.0.9.1 192.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.9.1 192.0.9.2 ] LINK-PHY-TYPE WIRED
[ 192.0.9.1 192.0.9.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.9.1 192.0.9.2 ] LINK-BANDWIDTH 10000000
[ 192.0.9.1 192.0.9.2 ] NETWORK-PROTOCOL IP
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.10.0 { 4, 8 }
[ 192.0.10.1 192.0.10.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.10.1 192.0.10.2 ] LINK-PHY-TYPE WIRED
[ 192.0.10.1 192.0.10.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.10.1 192.0.10.2 ] LINK-BANDWIDTH 10000000
[ 192.0.10.1 192.0.10.2 ] NETWORK-PROTOCOL IP
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.11.0 { 5, 8 }
[ 192.0.11.1 192.0.11.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.11.1 192.0.11.2 ] LINK-PHY-TYPE WIRED
[ 192.0.11.1 192.0.11.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.11.1 192.0.11.2 ] LINK-BANDWIDTH 10000000
[ 192.0.11.1 192.0.11.2 ] NETWORK-PROTOCOL IP
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.12.0 { 6, 8 }
[ 192.0.12.1 192.0.12.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.12.1 192.0.12.2 ] LINK-PHY-TYPE WIRED
[ 192.0.12.1 192.0.12.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.12.1 192.0.12.2 ] LINK-BANDWIDTH 10000000
[ 192.0.12.1 192.0.12.2 ] NETWORK-PROTOCOL IP
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.13.0 { 7, 8 }
[ 192.0.13.1 192.0.13.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.13.1 192.0.13.2 ] LINK-PHY-TYPE WIRED
[ 192.0.13.1 192.0.13.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.13.1 192.0.13.2 ] LINK-BANDWIDTH 10000000
[ 192.0.13.1 192.0.13.2 ] NETWORK-PROTOCOL IP
[ 192.0.13.1 192.0.13.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.13.1 192.0.13.2 ] SWITCH-STATION-VLAN-TAGGING NO


[1] HOSTNAME Base Station 1
[2] HOSTNAME Base Station 2
[3] HOSTNAME Base Station 3
[4] HOSTNAME Base Station 4
[5] HOSTNAME Base Station 5
[6] HOSTNAME Base Station 6
[7] HOSTNAME Base Station 7
[8] HOSTNAME Switch Center
[9] HOSTNAME MS 1
[10] HOSTNAME MS 10
[11] HOSTNAME MS 11
[12] HOSTNAME MS 12
[13] HOSTNAME MS 13
[14] HOSTNAME MS 14
[15] HOSTNAME MS 15
[16] HOSTNAME MS 16

[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] PHY-MODEL PHY802.16
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] PHY802.16-TX-POWER 20.0
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] PHY-RX-MODEL PHY802.16
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-GAIN 12.0
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-HEIGHT 10.0
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-EFFICIENCY 0.8
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-MISMATCH-LOSS 0.3
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-CABLE-LOSS 0.0
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] ANTENNA-CONNECTION-LOSS 0.2
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-PROTOCOL MAC802.16
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-STATION-TYPE SS
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-PACKING-ENABLED YES
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-RANGING-TYPE NORMAL
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ 1 thru 7 ] MAC-802.16-SUPPORT-MOBILITY NO
[ 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 ] MAC-802.16-ARQ-ENABLED NO
[ 1 thru 7 ] NODE-ICON BS.png

[ 9 thru 16 ] MAC-802.16-SUPPORT-MOBILITY YES
[ 9 thru 16 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
[ 9 thru 16 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
[ 9 thru 16 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ 9 thru 16 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ 9 thru 16 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ 9 thru 16 ] NODE-ICON person.png
[ 8 ] NODE-ICON telecommuter_house.png

[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] PHY-MODEL PHY802.16
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] PHY-RX-MODEL PHY802.16
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-PROTOCOL MAC802.16

#BS  TX power, anatena, noise factor
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] PHY802.16-TX-POWER 30.0
[ 192.0.4.1 192.0.5.1 192.0.6.1 ] PHY802.16-TX-POWER 10.0
[ 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-GAIN 16.0
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] ANTENNA-GAIN 16.0
[ 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-HEIGHT 2.0
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] ANTENNA-HEIGHT 90.0
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-EFFICIENCY 0.8
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-MISMATCH-LOSS 0.3
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-CABLE-LOSS 0.0
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] ANTENNA-CONNECTION-LOSS 0.2
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] PHY-NOISE-FACTOR 3.2

# SS TX power, anatena, noise factor
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] PHY802.16-TX-POWER 23.0
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-GAIN 0.0
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-HEIGHT 1.5
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-EFFICIENCY 0.8
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-MISMATCH-LOSS 0.3
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-CABLE-LOSS 0.0
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] ANTENNA-CONNECTION-LOSS 0.2
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] PHY-NOISE-FACTOR 3.2


[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-STATION-TYPE BS
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-FRAME-DURATION 5MS
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-TDD-DL-DURATION 3300US
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-DCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-UCD-BROADCAST-INTERVAL 5S
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-RANGING-BACKOFF-MIN 3
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-RANGING-BACKOFF-MAX 15
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MIN 3
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-BANDWIDTH-REQUEST-BACKOFF-MAX 15
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-SERVICE-FLOW-TIMEOUT-INTERVAL 15S
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-TTG 75US
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-RTG 75US
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-SSTG 75US
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-MAX-ALLOWED-UPLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-MAX-ALLOWED-DOWNLINK-LOAD-LEVEL 0.7
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-PACKING-ENABLED YES
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16-BS-ADMISSION-CONTROL-SCHEME NONE
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-BS-PAGING-GROUP-ID 1
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-BS-IS-PAGING-CONTROLLER NO
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-BS-PAGING-INTERVAL-LENGTH 5
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-BS-PAGING-CYCLE 200
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-BS-PAGING-OFFSET 5
[ 192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 192.0.4.1 192.0.5.1 192.0.6.1 ] MAC-802.16e-PAGING-HASHSKIP-THRESHOLD 0
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-RANGING-TYPE NORMAL
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-CONTENTION-BASED-BWREQ-TYPE NORMAL
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-SUPPORT-MOBILITY YES
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16e-NEIGHBOR-SCAN-RSS-TRIGGER -76.0
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16e-HANDOVER-RSS-TRIGGER -78.0
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16e-HANDOVER-RSS-MARGIN 1.0
[ 192.0.0.1 192.0.0.2 192.0.1.1 192.0.1.2 192.0.2.1 192.0.2.2 192.0.3.1 192.0.3.2 192.0.4.1 192.0.4.2 192.0.5.1 192.0.5.2 192.0.6.1 192.0.6.2 192.0.6.3 ] MAC-802.16-ARQ-ENABLED NO
[ 192.0.0.1 ] MAC-802.16-BS-NEIGHBOR {2,3,4,7}
[ 192.0.1.1 ] MAC-802.16-BS-NEIGHBOR {1,3,4,5,6,7}
[ 192.0.2.1 ] MAC-802.16-BS-NEIGHBOR {1,2,4}
[ 192.0.3.1 ] MAC-802.16-BS-NEIGHBOR {1,2,3,5}
[ 192.0.4.1 ] MAC-802.16-BS-NEIGHBOR {2,4,6,7}
[ 192.0.5.1 ] MAC-802.16-BS-NEIGHBOR {2,5,7}
[ 192.0.6.1 ] MAC-802.16-BS-NEIGHBOR {1,2,5,6}

[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] MAC-802.16-STATION-TYPE SS
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] MAC-802.16-SS-WAIT-DCD-TIMEOUT-INTERVAL 25S
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] MAC-802.16-SS-WAIT-UCD-TIMEOUT-INTERVAL 25S
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] MAC-802.16e-SS-SUPPORT-SLEEP-MODE NO
[ 192.0.0.2  192.0.1.2 192.0.2.2 192.0.3.2 192.0.4.2 192.0.5.2 192.0.6.2 192.0.6.3 ] MAC-802.16e-SS-SUPPORT-IDLE-MODE NO
[ 1 2 3 4 5 6 7 8 ] MOBILITY NONE
[ 16 ] MOBILITY FILE
#[ 16 ] MOBILITY PEDESTRIAN-MOBILITY

#[192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] PROPAGATION-PATHLOSS-MODEL COST231-HATA
#[192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] PROPAGATION-COST231-HATA-ENVIRONMENT URBAN #{SUBURBAN, URBAN}
#PROPAGATION-COST231-HATA-ENVIRONMENT URBAN
#PROPAGATION-PATHLOSS-MODEL COST231-WALFISH-IKEGAMI
#PROPAGATION-COST231-WALFISH-IKEGAMI-ENVIRONMENT METROPOLITAN
#[192.0.0.1 192.0.1.1 192.0.2.1 192.0.3.1 ] PROPAGATION-PATHLOSS-MODEL  URBAN-MODEL-AUTOSELECT

SCHEDULER-QUEUE-TYPE            SPLAYTREE

