# General

VERSION					4.0
EXPERIMENT-NAME				CommsDemo-dis
SIMULATION-TIME				300S
SEED					1

# Terrain

COORDINATE-SYSTEM			LATLONALT
TERRAIN-SOUTH-WEST-CORNER		(  37, -123 )
TERRAIN-NORTH-EAST-CORNER		(  38, -122 )
TERRAIN-DATA-BOUNDARY-CHECK		YES

# Devices

ROUTER-MODEL-CONFIG-FILE		CommsDemo.router-models

# Node positions

NODE-PLACEMENT				FILE
NODE-POSITION-FILE			CommsDemo.nodes
[7 8] NODE-PLACEMENT              EXTERNAL

# Mobility

MOBILITY				NONE
MOBILITY-POSITION-GRANULARITY		5.0
MOBILITY-GROUND-NODE			NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY[0]	3000000
PROPAGATION-LIMIT[0]			-111.0
PROPAGATION-PATHLOSS-MODEL[0]		TWO-RAY
PROPAGATION-SHADOWING-MODEL[0]		CONSTANT
PROPAGATION-SHADOWING-MEAN[0]		4.0
PROPAGATION-FADING-MODEL[0]		NONE

PROPAGATION-CHANNEL-FREQUENCY[1]	3100000
PROPAGATION-LIMIT[1]			-111.0
PROPAGATION-PATHLOSS-MODEL[1]		TWO-RAY
PROPAGATION-SHADOWING-MODEL[1]		CONSTANT
PROPAGATION-SHADOWING-MEAN[1]		4.0
PROPAGATION-FADING-MODEL[1]		NONE

# Physical

PHY-MODEL				PHY802.11b
PHY-RX-MODEL				PHY802.11b

PHY802.11-AUTO-RATE-FALLBACK		NO
PHY802.11-DATA-RATE			2000000
PHY802.11-DATA-RATE-FOR-BROADCAST	2000000
PHY802.11b-TX-POWER--1MBPS		15.0
PHY802.11b-TX-POWER--2MBPS		15.0
PHY802.11b-TX-POWER--6MBPS		15.0
PHY802.11b-TX-POWER-11MBPS		15.0
PHY802.11b-RX-SENSITIVITY--1MBPS	-93.0
PHY802.11b-RX-SENSITIVITY--2MBPS	-89.0
PHY802.11b-RX-SENSITIVITY--6MBPS	-87.0
PHY802.11b-RX-SENSITIVITY-11MBPS	-83.0

ANTENNA-MODEL				OMNIDIRECTIONAL
ANTENNA-HEIGHT				1.5
ANTENNA-GAIN				0.0
ANTENNA-EFFICIENCY			0.8
ANTENNA-MISMATCH-LOSS			0.3
ANTENNA-CABLE-LOSS			0.0
ANTENNA-CONNECTION-LOSS			0.2

PHY-TEMPERATURE				290
PHY-NOISE-FACTOR			7.0

# Data-link / MAC

MAC-PROTOCOL				GENERICMAC

# Network

NETWORK-PROTOCOL			IP
IP-QUEUE-NUM-PRIORITIES			3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE	5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE		5000000
IP-QUEUE-TYPE				FIFO
IP-QUEUE-SCHEDULER			STRICT-PRIORITY

# Routing

# Transport

TCP					LITE
TCP-MSS					512
TCP-SEND-BUFFER				16384
TCP-RECEIVE-BUFFER			16384
TCP-USE-RFC1323				NO
TCP-DELAY-ACKS				YES
TCP-DELAY-SHORT-PACKETS-ACKS		NO
TCP-USE-NAGLE-ALGORITHM			YES
TCP-USE-KEEPALIVE-PROBES		YES
TCP-USE-PUSH				YES

# Application

#APP-CONFIG-FILE				CommsDemo.app

# Tracing

PACKET-TRACE				NO

# Statistics

APPLICATION-STATISTICS			YES
TCP-STATISTICS				YES
UDP-STATISTICS				YES
ROUTING-STATISTICS			YES
ICMP-STATISTICS				NO
IGMP-STATISTICS				NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS	YES
NETWORK-LAYER-STATISTICS		YES
QUEUE-STATISTICS			YES
SCHEDULER-STATISTICS			YES
MAC-LAYER-STATISTICS			YES
PHY-LAYER-STATISTICS			YES
MOBILITY-STATISTICS			YES
MPLS-STATISTICS				NO
RSVP-STATISTICS				NO
SRM-STATISTICS				NO
DIFFSERV-EDGE-ROUTER-STATISTICS		NO
QOSPF-STATISTICS			NO
ACCESS-LIST-STATISTICS			NO
H323-STATISTICS				NO
GSM-STATISTICS				NO

# Networks

SUBNET N8-60.1.0.0 { 1, 2, 3, 7, 8 } Default
[N8-60.1.0.0] PHY-LISTENABLE-CHANNEL-MASK	10
[N8-60.1.0.0] PHY-LISTENING-CHANNEL-MASK	10

SUBNET N8-60.2.0.0 { 4, 5, 6 } Default
[N8-60.2.0.0] PHY-LISTENABLE-CHANNEL-MASK	01
[N8-60.2.0.0] PHY-LISTENING-CHANNEL-MASK	01

[1] NODE-ICON					icons/PlatoonRadio.gif
[2] NODE-ICON					icons/PlatoonRadio.gif
[3] NODE-ICON					icons/PlatoonRadio.gif
[4] NODE-ICON					icons/PlatoonRadio.gif
[5] NODE-ICON					icons/PlatoonRadio.gif
[6] NODE-ICON					icons/PlatoonRadio.gif

# Dynamic API

DYNAMIC-ENABLED			YES
DYNAMIC-NODE-ENABLED		YES
DYNAMIC-PHY-ENABLED		YES

# DIS
DIS                             YES
DIS-DEBUG-PRINT-COMMS           YES
DIS-DEBUG-PRINT-COMMS-2         YES
DIS-DEBUG-PRINT-MAPPING         YES
DIS-DEBUG-PRINT-DAMAGE          YES
DIS-DEBUG-PRINT-TX-STATE        YES
DIS-DEBUG-PRINT-TX-POWER        YES
DIS-DEBUG-PRINT-MOBILITY        YES
DIS-DEBUG-PRINT-TRANSMITTER-PDU NO
DIS-DEBUG-PRINT-PDUS            NO
DIS-IP-ADDRESS                  192.168.2.255
DIS-PORT                        3005
DIS-RECEIVE-DELAY               20MS
DIS-MAX-RECEIVE-DURATION        5MS
DIS-MOBILITY-INTERVAL           50MS
DIS-XYZ-EPSILON                 0.577
DIS-ENTITIES-FILE-PATH		CommsDemo.hla-entities
DIS-RADIOS-FILE-PATH		CommsDemo.hla-radios
DIS-NETWORKS-FILE-PATH		CommsDemo.hla-networks

# SOCKET Interface Configuration

SOCKET-INTERFACE-ENTITY-MAPPING                  CommsDemo.mapping
SOCKET-INTERFACE-UDP-FAILURE-TIMEOUT             20S
SOCKET-INTERFACE-TCP-FAILURE-TIMEOUT             265S
SOCKET-INTERFACE-GRAPH-PRINT-REAL-TIME           0
SOCKET-INTERFACE-STATS-PRINT-REAL-TIME           0
SOCKET-INTERFACE-GRAPH-PRINT-INTERVAL            60S
SOCKET-INTERFACE-STATS-PRINT-INTERVAL            20
SOCKET-INTERFACE-LOG                             FILE
SOCKET-INTERFACE                                 YES
SOCKET-INTERFACE-NUM-PORTS                       1
SOCKET-INTERFACE-PORT[0]                         9032
SOCKET-INTERFACE-ONLY-DEACTIVATE-MAPPED-NODES    YES

# GUI

# COMPONENT 0 {H1 H2 H3 H4 H5 H6} 6 37.500000 -122.500000 1400.0 1.000000 1.000000 3200.0

# COMPONENT 1 {} 0 37.941324 -122.251286 143.6 0.0002 0.0002 0.0002 CONSTRAINED NAME="GndV 1"
# COMPONENT 2 {} 0 37.941541 -122.251693 148.0 0.0002 0.0002 0.0002 CONSTRAINED NAME="GndV 2"
# COMPONENT 3 {} 0 37.941726 -122.251350 135.4 0.0002 0.0002 0.0002 CONSTRAINED NAME="GndV 3"
# COMPONENT 4 {1} 1 37.942377 -122.262337 78.6 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/TankAqua.gif" BG="backgrounds/TankBg.gif" NAME="M1A2 1"
# COMPONENT 5 {2} 1 37.942811 -122.261939 95.8 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/TankAqua.gif" BG="backgrounds/TankBg.gif" NAME="M1A2 2"
# COMPONENT 6 {3} 1 37.942707 -122.261861 99.6 0.0002 0.0002 0.0002 CONSTRAINED ICON="icons/Predator.gif" BG="backgrounds/PredatorBg.gif" NAME="UAV 1"

ROUTING-PROTOCOL NONE
[7 8] ROUTING-PROTOCOL AODV
