# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 6.1
EXPERIMENT-NAME BattlefieldMonitoringwithSensors
EXPERIMENT-COMMENT none
SIMULATION-TIME 30M
# The random number seed is used to initialize part of the seed of various randomly generated numbers in the simulation. Use different seeds to see the consistency of the results of the simulation.
SEED 1
# Select any background image
GUI-BACKGROUND-IMAGE-FILENAME DROPIMAGE.GIF

# ************* Parallel Settings ***********

# Method for assigning nodes to parallel partitions
PARTITION-SCHEME AUTO

# ************* Terrain ***********

# The size of the physical terrain in which the nodes are being simulated.

COORDINATE-SYSTEM CARTESIAN
# The size of the terrain in meters.
TERRAIN-DIMENSIONS ( 500, 500 )
# Terrain altitude in meters.
DUMMY-ALTITUDES ( 1500, 1500 )
# If this is set to YES, the simulation terminates when it attempts to use an elevation not included in the terrain data files. If it is NO, the execution simply assumes that such elevations are 0.0.
TERRAIN-DATA-BOUNDARY-CHECK YES


# ************* Node Positioning ***********

# ************* Nodes ***********

# The number of nodes being simulated.
DUMMY-NUMBER-OF-NODES 106
# The node placement strategy.
NODE-PLACEMENT FILE
NODE-POSITION-FILE BattlefieldMonitoringwithSensors.nodes

# ************* Mobility ***********

MOBILITY NONE
MOBILITY-POSITION-GRANULARITY 1.0
# If yes, nodes get their altitude coordinate from the terrain file, if one is specified.
MOBILITY-GROUND-NODE NO


# ************* Wireless Settings ***********

# ************* Channel ***********

PROPAGATION-CHANNEL-FREQUENCY 2400000000
PROPAGATION-CHANNEL-FREQUENCY[1] 24100000000
PROPAGATION-MODEL STATISTICAL
PROPAGATION-MODEL[1] STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT[1] -111.0
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL TWO-RAY
# 2-Ray Pathloss Propagation Model
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-SHADOWING-MODEL CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
# in dB
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-FADING-MODEL NONE
PROPAGATION-FADING-MODEL[1] NONE

# ************* Radio/Physical Layer ***********

ENERGY-MODEL-SPECIFICATION MICAZ
BATTERY-MODEL LINEAR
BATTERY-CHARGE-MONITORING-INTERVAL 60S
BATTERY-INITIAL-CHARGE 1200
PHY-MODEL PHY802.15.4
# transmission power in dBm
PHY802.15.4-TX-POWER -5.0
PHY-RX-MODEL PHY802.15.4
PHY802.15.4-MODULATION O-QPSK
PHY802.15.4-CCA-MODE CARRIER-SENSE
# Channels the radio is capable of listening to.
PHY-LISTENABLE-CHANNEL-MASK 10
# Channels the radio is currently listening to.  Can be changed during run time.
PHY-LISTENING-CHANNEL-MASK 10
# Temperature of the environment in K
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
ANTENNA-GAIN 0.0
# antenna height in meters
ANTENNA-HEIGHT 0.5
# efficiency of the antenna
ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
ANTENNA-CONNECTION-LOSS 0.2

# ************* MAC Protocol ***********

MAC-PROTOCOL MAC802.15.4
MAC-802.15.4-DEVICE-TYPE RFD
MAC-802.15.4-POLL-INTERVAL 1S
MAC-802.15.4-COORD-BO 3
MAC-802.15.4-COORD-SO 3
MAC-802.15.4-START-DEVICE-AT 0S
MAC-802.15.4-STOP-DEVICE-AT 0S
# specifies an additional delay for messages sent by the MAC layer to the phy layer.  Some MAC protocols use a multiple of this value.
MAC-PROPAGATION-DELAY 1US
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
PROMISCUOUS-MODE YES


# ************* ATM Layer2 ***********

# ************* ATM Layer2 ***********

ATM-LAYER2-LINK-BANDWIDTH 111200
ATM-LAYER2-LINK-PROPAGATION-DELAY 10MS
ATM-RED-MIN-THRESHOLD 5
ATM-RED-MAX-THRESHOLD 15
ATM-RED-MAX-PROBABILITY 0.02
ATM-RED-SMALL-PACKET-TRANSMISSION-TIME 10MS


# ************* Adaptation Protocols ***********

# ************* Adaptation Protocols ***********

ADAPTATION-PROTOCOL AAL5
ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M


# ************* ARP Specific ***********

# ************* ARP Specs ***********

ARP-ENABLED NO


# ************* Network Protocols ***********

# ************* Network Protocol ***********

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
DUAL-IP NO
EAVESDROP-ENABLED NO
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 50000
DUMMY-PRIORITY-QUEUE-SIZE NO
IP-QUEUE-PRIORITY-QUEUE-SIZE 50000
DUMMY-PRIORITY-WISE-IP-QUEUE-TYPE NO
IP-QUEUE-TYPE FIFO
# ECN as presented in RFC 2481. Requires one of the IP-QUEUE-TYPE (RED, RIO, or WRED). Furthermore, the source and destination nodes must be ECN enabled.
ECN NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY

# ************* Routing Protocol ***********

DUMMY-ROUTING DYNAMIC
ROUTING-PROTOCOL BELLMANFORD
HSRP-PROTOCOL NO
# Determines whether or not node(s) will forward packets
IP-FORWARDING YES
# Static routes have priority over those discovered by routing protocols
STATIC-ROUTE NO
# Default routes have less priority than static routes and those discovered by routing protocols
DEFAULT-ROUTE NO
#DEFAULT-ROUTE-FILE BattlefieldMonitoringwithSensors.routes-default

# ************* Microwave Configuration ***********


# ************* MPLS configuration ***********

MPLS-PROTOCOL NO

# ************* Transport Layer ***********

TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-ACKS YES
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384


# ************* Traffic and Status ***********

# ************* Application Layer ***********

# Used to setup applications such as FTP and Telnet.  Will be added to any applications configured manually.
APP-CONFIG-FILE BattlefieldMonitoringwithSensors.app
RTP-ENABLED NO

# ************* Extras ***********


# ************* Tracing ***********

# Generates trace data compatible with Tracer viewing tool.
PACKET-TRACE NO
ACCESS-LIST-TRACE NO


# ************* Statistics ***********

# ************* Statistics ***********

# All the statistics are compiled together into a file called "ExperimentName.stat"(where experiment name is specified on the General settings) at the end of the simulation.

APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
SCHEDULER-STATISTICS YES
INPUT-SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS YES
BATTERY-MODEL-STATISTICS YES
ENERGY-MODEL-STATISTICS YES

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
# Network Statistics should be on
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
ATM-SIGNALLING-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
RTP-STATISTICS NO
GSM-STATISTICS NO
CELLULAR-STATISTICS NO
MOBILE-IP-STATISTICS NO
ATM-SCHEDULER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
HLA-DYNAMIC-STATISTICS NO


# ************* Node Specific ***********

# ************* Device properties ***********

NODE-ICON sensor-icon.PNG

# ************* Router Specs ***********

# Please provide the Router-Model file, if all the router parameters are not specified manually.

# Please choose the type of router
DUMMY-ROUTER-TYPE USER-SPECIFIED
# Select YES to Specify Router Parameters
DUMMY-PARAM NO

# ************* Router Configuration Specs ***********


# ************* Node Orientation ***********

AZIMUTH 0
ELEVATION 0

# ************* Parallel Properties ***********

# Parallel partition to which to assign node.
PARTITION 0


# ************* HLA ***********

# ************* HLA ***********



# ************* STK ***********

# ************* STK ***********

# Enables QualNet to communicate with STK.  LATLONALT coordinate system must be used when communicating with STK.
DUMMY-STK-ENABLED NO


# ************* User Behavior Model ***********

# ************* User Behavior Model ***********

# Enables User Behavior Modelling parameters.
DUMMY-UBEE-ENABLED NO


# ************* LLC Configuration ***********

# ************* LLC Configuration ***********

LLC-ENABLED NO


#----------------Subnet ID 1 -----------------
SUBNET N8-192.0.0.0 { 101 thru 105, 121 } 417.24 498.97 0.0
[ N8-192.0.0.0 ] NODE-ICON sensor-icon.PNG
[ N8-192.0.0.0 ] PHY-MODEL PHY802.11a
[ N8-192.0.0.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
# bandwidth in bps. supported data rates: 6Mbps, 9Mbps, 12Mbps, 18Mbps, 24Mbps, 36Mbps, 48Mbps, 54Mbps
[ N8-192.0.0.0 ] PHY802.11-DATA-RATE 6000000
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER--6MBPS 40.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER--9MBPS 40.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-12MBPS 19.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-18MBPS 19.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-24MBPS 18.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-36MBPS 18.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-48MBPS 16.0
[ N8-192.0.0.0 ] PHY802.11a-TX-POWER-54MBPS 16.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY--6MBPS -85.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY--9MBPS -85.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-12MBPS -83.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-18MBPS -83.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-24MBPS -78.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-36MBPS -78.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-48MBPS -69.0
[ N8-192.0.0.0 ] PHY802.11a-RX-SENSITIVITY-54MBPS -69.0
[ N8-192.0.0.0 ] PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
[ N8-192.0.0.0 ] PHY-RX-MODEL PHY802.11a
# Channels the radio is capable of listening to.
[ N8-192.0.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 01
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.0.0 ] PHY-LISTENING-CHANNEL-MASK 01
# Temperature of the environment in K
[ N8-192.0.0.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.0.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.0.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.0.0 ] ANTENNA-HEIGHT 0.5
# efficiency of the antenna
[ N8-192.0.0.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.0.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.0.0 ] MAC-PROTOCOL MACDOT11
[ N8-192.0.0.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-192.0.0.0 ] MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
[ N8-192.0.0.0 ] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[ N8-192.0.0.0 ] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[ N8-192.0.0.0 ] MAC-DOT11-RTS-THRESHOLD 0
[ N8-192.0.0.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-192.0.0.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.0.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.0.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.0.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.0.0 ] ROUTING-PROTOCOL AODV
[ N8-192.0.0.0 ] ARP-ENABLED NO

#----------------Subnet ID 8 -----------------
SUBNET N8-192.0.1.0 { 1 thru 105 } 12.99 494.84 0.0
[ N8-192.0.1.0 ] NODE-ICON sensor-icon.PNG
[ N8-192.0.1.0 ] PHY-MODEL PHY802.15.4
# transmission power in dBm
[ N8-192.0.1.0 ] PHY802.15.4-TX-POWER 3.0
[ N8-192.0.1.0 ] PHY-RX-MODEL PHY802.15.4
[ N8-192.0.1.0 ] PHY802.15.4-MODULATION O-QPSK
[ N8-192.0.1.0 ] PHY802.15.4-CCA-MODE CARRIER-SENSE
# Channels the radio is capable of listening to.
[ N8-192.0.1.0 ] PHY-LISTENABLE-CHANNEL-MASK 11
# Channels the radio is currently listening to.  Can be changed during run time.
[ N8-192.0.1.0 ] PHY-LISTENING-CHANNEL-MASK 10
# Temperature of the environment in K
[ N8-192.0.1.0 ] PHY-TEMPERATURE 290.0
[ N8-192.0.1.0 ] PHY-NOISE-FACTOR 10.0
[ N8-192.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
# antenna gain in dB
[ N8-192.0.1.0 ] ANTENNA-GAIN 0.0
# antenna height in meters
[ N8-192.0.1.0 ] ANTENNA-HEIGHT 0.5
# efficiency of the antenna
[ N8-192.0.1.0 ] ANTENNA-EFFICIENCY 0.8
# antenna mismatch loss in dB
[ N8-192.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
# antenna cable loss in dB
[ N8-192.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
# antenna connection loss in dB
[ N8-192.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.1.0 ] MAC-PROTOCOL MAC802.15.4
# must be set to YES if nodes want to overhear packets destined to the neighboring node.
[ N8-192.0.1.0 ] PROMISCUOUS-MODE YES
[ N8-192.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.1.0 ] CERTIFICATE-ENABLED NO
[ N8-192.0.1.0 ] ROUTING-PROTOCOL AODV
[ N8-192.0.1.0 ] ARP-ENABLED NO

[1] UNNUMBERED[0] NO
[2] UNNUMBERED[0] NO
[3] UNNUMBERED[0] NO
[4] UNNUMBERED[0] NO
[5] UNNUMBERED[0] NO
[6] UNNUMBERED[0] NO
[7] UNNUMBERED[0] NO
[8] UNNUMBERED[0] NO
[9] UNNUMBERED[0] NO
[10] UNNUMBERED[0] NO
[11] UNNUMBERED[0] NO
[12] UNNUMBERED[0] NO
[13] UNNUMBERED[0] NO
[14] UNNUMBERED[0] NO
[15] UNNUMBERED[0] NO
[16] UNNUMBERED[0] NO
[17] UNNUMBERED[0] NO
[18] UNNUMBERED[0] NO
[19] UNNUMBERED[0] NO
[20] UNNUMBERED[0] NO
[21] UNNUMBERED[0] NO
[22] UNNUMBERED[0] NO
[23] UNNUMBERED[0] NO
[24] UNNUMBERED[0] NO
[25] UNNUMBERED[0] NO
[26] UNNUMBERED[0] NO
[27] UNNUMBERED[0] NO
[28] UNNUMBERED[0] NO
[29] UNNUMBERED[0] NO
[30] UNNUMBERED[0] NO
[31] UNNUMBERED[0] NO
[32] UNNUMBERED[0] NO
[33] UNNUMBERED[0] NO
[34] UNNUMBERED[0] NO
[35] UNNUMBERED[0] NO
[36] UNNUMBERED[0] NO
[37] UNNUMBERED[0] NO
[38] UNNUMBERED[0] NO
[39] UNNUMBERED[0] NO
[40] UNNUMBERED[0] NO
[41] UNNUMBERED[0] NO
[42] UNNUMBERED[0] NO
[43] UNNUMBERED[0] NO
[44] UNNUMBERED[0] NO
[45] UNNUMBERED[0] NO
[46] UNNUMBERED[0] NO
[47] UNNUMBERED[0] NO
[48] UNNUMBERED[0] NO
[49] UNNUMBERED[0] NO
[50] UNNUMBERED[0] NO
[51] UNNUMBERED[0] NO
[52] UNNUMBERED[0] NO
[53] UNNUMBERED[0] NO
[54] UNNUMBERED[0] NO
[55] UNNUMBERED[0] NO
[56] UNNUMBERED[0] NO
[57] UNNUMBERED[0] NO
[58] UNNUMBERED[0] NO
[59] UNNUMBERED[0] NO
[60] UNNUMBERED[0] NO
[61] UNNUMBERED[0] NO
[62] UNNUMBERED[0] NO
[63] UNNUMBERED[0] NO
[64] UNNUMBERED[0] NO
[65] UNNUMBERED[0] NO
[66] UNNUMBERED[0] NO
[67] UNNUMBERED[0] NO
[68] UNNUMBERED[0] NO
[69] UNNUMBERED[0] NO
[70] UNNUMBERED[0] NO
[71] UNNUMBERED[0] NO
[72] UNNUMBERED[0] NO
[73] UNNUMBERED[0] NO
[74] UNNUMBERED[0] NO
[75] UNNUMBERED[0] NO
[76] UNNUMBERED[0] NO
[77] UNNUMBERED[0] NO
[78] UNNUMBERED[0] NO
[79] UNNUMBERED[0] NO
[80] UNNUMBERED[0] NO
[81] UNNUMBERED[0] NO
[82] UNNUMBERED[0] NO
[83] UNNUMBERED[0] NO
[84] UNNUMBERED[0] NO
[85] UNNUMBERED[0] NO
[86] UNNUMBERED[0] NO
[87] UNNUMBERED[0] NO
[88] UNNUMBERED[0] NO
[89] UNNUMBERED[0] NO
[90] UNNUMBERED[0] NO
[91] UNNUMBERED[0] NO
[92] UNNUMBERED[0] NO
[93] UNNUMBERED[0] NO
[94] UNNUMBERED[0] NO
[95] UNNUMBERED[0] NO
[96] UNNUMBERED[0] NO
[97] UNNUMBERED[0] NO
[98] UNNUMBERED[0] NO
[99] UNNUMBERED[0] NO
[100] UNNUMBERED[0] NO
[101] UNNUMBERED[0] NO
[101] UNNUMBERED[1] NO
[102] UNNUMBERED[0] NO
[102] UNNUMBERED[1] NO
[103] UNNUMBERED[0] NO
[103] UNNUMBERED[1] NO
[104] UNNUMBERED[0] NO
[104] UNNUMBERED[1] NO
[105] UNNUMBERED[0] NO
[105] UNNUMBERED[1] NO
[121] UNNUMBERED[0] NO
[1] HOSTNAME UGS
[2] HOSTNAME UGS
[3] HOSTNAME UGS
[4] HOSTNAME UGS
[5] HOSTNAME UGS
[6] HOSTNAME UGS
[7] HOSTNAME UGS
[8] HOSTNAME UGS
[9] HOSTNAME UGS
[10] HOSTNAME UGS
[11] HOSTNAME UGS
[12] HOSTNAME UGS
[13] HOSTNAME UGS
[14] HOSTNAME UGS
[15] HOSTNAME UGS
[16] HOSTNAME UGS
[17] HOSTNAME UGS
[18] HOSTNAME UGS
[19] HOSTNAME UGS
[20] HOSTNAME UGS
[21] HOSTNAME UGS
[22] HOSTNAME UGS
[23] HOSTNAME UGS
[24] HOSTNAME UGS
[25] HOSTNAME UGS
[26] HOSTNAME UGS
[27] HOSTNAME UGS
[28] HOSTNAME UGS
[29] HOSTNAME UGS
[30] HOSTNAME UGS
[31] HOSTNAME UGS
[32] HOSTNAME UGS
[33] HOSTNAME UGS
[34] HOSTNAME UGS
[35] HOSTNAME UGS
[36] HOSTNAME UGS
[37] HOSTNAME UGS
[38] HOSTNAME UGS
[39] HOSTNAME UGS
[40] HOSTNAME UGS
[41] HOSTNAME UGS
[42] HOSTNAME UGS
[43] HOSTNAME UGS
[44] HOSTNAME UGS
[45] HOSTNAME UGS
[46] HOSTNAME UGS
[47] HOSTNAME UGS
[48] HOSTNAME UGS
[49] HOSTNAME UGS
[50] HOSTNAME UGS
[51] HOSTNAME UGS
[52] HOSTNAME UGS
[53] HOSTNAME UGS
[54] HOSTNAME UGS
[55] HOSTNAME UGS
[56] HOSTNAME UGS
[57] HOSTNAME UGS
[58] HOSTNAME UGS
[59] HOSTNAME UGS
[60] HOSTNAME UGS
[61] HOSTNAME UGS
[62] HOSTNAME UGS
[63] HOSTNAME UGS
[64] HOSTNAME UGS
[65] HOSTNAME UGS
[66] HOSTNAME UGS
[67] HOSTNAME UGS
[68] HOSTNAME UGS
[69] HOSTNAME UGS
[70] HOSTNAME UGS
[71] HOSTNAME UGS
[72] HOSTNAME UGS
[73] HOSTNAME UGS
[74] HOSTNAME UGS
[75] HOSTNAME UGS
[76] HOSTNAME UGS
[77] HOSTNAME UGS
[78] HOSTNAME UGS
[79] HOSTNAME UGS
[80] HOSTNAME UGS
[81] HOSTNAME UGS
[82] HOSTNAME UGS
[83] HOSTNAME UGS
[84] HOSTNAME UGS
[85] HOSTNAME UGS
[86] HOSTNAME UGS
[87] HOSTNAME UGS
[88] HOSTNAME UGS
[89] HOSTNAME UGS
[90] HOSTNAME UGS
[91] HOSTNAME UGS
[92] HOSTNAME UGS
[93] HOSTNAME UGS
[94] HOSTNAME UGS
[95] HOSTNAME UGS
[96] HOSTNAME UGS
[97] HOSTNAME UGS
[98] HOSTNAME UGS
[99] HOSTNAME UGS
[100] HOSTNAME UGS
[101] HOSTNAME UGV
[102] HOSTNAME UGV
[103] HOSTNAME UGV
[104] HOSTNAME UGV
[105] HOSTNAME UGV
[121] HOSTNAME Fusion Center
[ 101 thru 105 ] MOBILITY RANDOM-WAYPOINT
[ 101 thru 105 ] MOBILITY-WP-PAUSE 30S
[ 101 thru 105 ] MOBILITY-WP-MIN-SPEED 0
[ 101 103 ] MOBILITY-WP-MAX-SPEED 3
[ 101 thru 105 ] MAC-PROTOCOL MAC802.15.4
[ 101 thru 105 ] MAC-802.15.4-DEVICE-TYPE FFD
[ 101 thru 105 ] MAC-802.15.4-FFD-MODE PANCOORD
[ 101 thru 105 ] MAC-802.15.4-COORD-BO 3
[ 101 thru 105 ] MAC-802.15.4-COORD-SO 3
[ 101 thru 105 ] MAC-802.15.4-START-DEVICE-AT 0S
[ 101 thru 105 ] MAC-802.15.4-STOP-DEVICE-AT 0S
[ 101 thru 105 ] NODE-ICON tank.png
[ 102 ] MOBILITY-WP-MAX-SPEED 2
[ 104 ] MOBILITY-WP-MAX-SPEED 4
[ 105 ] MOBILITY-WP-MAX-SPEED 1
[ 121 ] NODE-ICON GroundStation3.png
[ 192.0.1.1 192.0.1.2 192.0.1.3 192.0.1.4 192.0.1.5 192.0.1.6 192.0.1.7 192.0.1.8 192.0.1.9 192.0.1.10 192.0.1.11 192.0.1.12 192.0.1.13 192.0.1.14 192.0.1.15 192.0.1.16 192.0.1.17 192.0.1.18 192.0.1.19 192.0.1.20 192.0.1.21 192.0.1.22 192.0.1.23 192.0.1.24 192.0.1.25 192.0.1.26 192.0.1.27 192.0.1.28 192.0.1.29 192.0.1.30 192.0.1.31 192.0.1.32 192.0.1.33 192.0.1.34 192.0.1.35 192.0.1.36 192.0.1.37 192.0.1.38 192.0.1.39 192.0.1.40 192.0.1.41 192.0.1.42 192.0.1.43 192.0.1.44 192.0.1.45 192.0.1.46 192.0.1.47 192.0.1.48 192.0.1.49 192.0.1.50 192.0.1.51 ] ENERGY-MODEL-SPECIFICATION MICAZ
[ 192.0.1.52 192.0.1.53 192.0.1.54 192.0.1.55 192.0.1.56 192.0.1.57 192.0.1.58 192.0.1.59 192.0.1.60 192.0.1.61 192.0.1.62 192.0.1.63 192.0.1.64 192.0.1.65 192.0.1.66 192.0.1.67 192.0.1.68 192.0.1.69 192.0.1.70 192.0.1.71 192.0.1.72 192.0.1.73 192.0.1.74 192.0.1.75 192.0.1.76 192.0.1.77 192.0.1.78 192.0.1.79 192.0.1.80 192.0.1.81 192.0.1.82 192.0.1.83 192.0.1.84 192.0.1.85 192.0.1.86 192.0.1.87 192.0.1.88 192.0.1.89 192.0.1.90 192.0.1.91 192.0.1.92 192.0.1.93 192.0.1.94 192.0.1.95 192.0.1.96 192.0.1.97 192.0.1.98 192.0.1.99 192.0.1.100 192.0.1.101 ] ENERGY-MODEL-SPECIFICATION MICAZ
[ 192.0.1.102 192.0.1.103 192.0.1.104 192.0.1.105 ] ENERGY-MODEL-SPECIFICATION MICAZ

COMPONENT 0 {1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 
COMPONENT 0 {60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 121 N8-192.0.0.0 N8-192.0.1.0
COMPONENT 0 {} 108 250.0 250.0 0.0 500.0 500.0 3000.0
