# General

VERSION 6.1
EXPERIMENT-NAME             iitsec
SIMULATION-TIME             30M
SEED                    1

# Terrain

COORDINATE-SYSTEM           LATLONALT
TERRAIN-SOUTH-WEST-CORNER       ( 43.0,    6.0 )
TERRAIN-NORTH-EAST-CORNER       ( 43.666667, 7.0 )
TERRAIN-DATA-BOUNDARY-CHECK     YES

# Devices

ROUTER-MODEL-CONFIG-FILE        iitsec.router-models

# Node positions

NODE-PLACEMENT              FILE
NODE-POSITION-FILE          iitsec.nodes

# Mobility

MOBILITY                NONE
MOBILITY-POSITION-GRANULARITY       5.0
MOBILITY-GROUND-NODE            NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY[0]    30000000
PROPAGATION-LIMIT[0]            -111.0
PROPAGATION-PATHLOSS-MODEL[0]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[0]      CONSTANT
PROPAGATION-SHADOWING-MEAN[0]       4.0
PROPAGATION-FADING-MODEL[0]         NONE

PROPAGATION-CHANNEL-FREQUENCY[1]    35000000
PROPAGATION-LIMIT[1]            -111.0
PROPAGATION-PATHLOSS-MODEL[1]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[1]      CONSTANT
PROPAGATION-SHADOWING-MEAN[1]       4.0
PROPAGATION-FADING-MODEL[1]     NONE

PROPAGATION-CHANNEL-FREQUENCY[2]    40000000
PROPAGATION-LIMIT[2]            -111.0
PROPAGATION-PATHLOSS-MODEL[2]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[2]      CONSTANT
PROPAGATION-SHADOWING-MEAN[2]       4.0
PROPAGATION-FADING-MODEL[2]     NONE

PROPAGATION-CHANNEL-FREQUENCY[3]    45000000
PROPAGATION-LIMIT[3]            -111.0
PROPAGATION-PATHLOSS-MODEL[3]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[3]      CONSTANT
PROPAGATION-SHADOWING-MEAN[3]       4.0
PROPAGATION-FADING-MODEL[3]     NONE

PROPAGATION-CHANNEL-FREQUENCY[4]    50000000
PROPAGATION-LIMIT[4]            -111.0
PROPAGATION-PATHLOSS-MODEL[4]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[4]      CONSTANT
PROPAGATION-SHADOWING-MEAN[4]       4.0
PROPAGATION-FADING-MODEL[4]     NONE

# Physical

PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            7.0

# Data-link / MAC

# Network

NETWORK-PROTOCOL            IP
IP-QUEUE-NUM-PRIORITIES         3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE        5000000
IP-QUEUE-TYPE               FIFO
IP-QUEUE-SCHEDULER          STRICT-PRIORITY

# Routing

# Transport

TCP                 LITE
TCP-MSS                 512
TCP-SEND-BUFFER             16384
TCP-RECEIVE-BUFFER          16384
TCP-USE-RFC1323             NO
TCP-DELAY-ACKS              YES
TCP-DELAY-SHORT-PACKETS-ACKS        NO
TCP-USE-NAGLE-ALGORITHM         YES
TCP-USE-KEEPALIVE-PROBES        YES
TCP-USE-PUSH                YES

# Application

APP-CONFIG-FILE             iitsec.app

# Tracing

PACKET-TRACE                NO

# Statistics

APPLICATION-STATISTICS          YES
TCP-STATISTICS              YES
UDP-STATISTICS              YES
ROUTING-STATISTICS          YES
ICMP-STATISTICS             NO
IGMP-STATISTICS             NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS        YES
QUEUE-STATISTICS            YES
SCHEDULER-STATISTICS            YES
MAC-LAYER-STATISTICS            YES
PHY-LAYER-STATISTICS            YES

MPLS-STATISTICS             NO
RSVP-STATISTICS             NO

DIFFSERV-EDGE-ROUTER-STATISTICS     NO
QOSPF-STATISTICS            NO
ACCESS-LIST-STATISTICS          NO
H323-STATISTICS             NO
GSM-STATISTICS              NO

# Networks

SUBNET N8-1.0.0.0               { 1 thru 4 }
[N8-1.0.0.0] PHY-LISTENABLE-CHANNEL-MASK        10000
[N8-1.0.0.0] PHY-LISTENING-CHANNEL-MASK         10000
[N8-1.0.0.0] ROUTER-MODEL           PLATOON-RADIO

SUBNET N8-2.0.0.0               { 5 thru 8 }
[N8-2.0.0.0] PHY-LISTENABLE-CHANNEL-MASK    01000
[N8-2.0.0.0] PHY-LISTENING-CHANNEL-MASK     01000
[N8-2.0.0.0] ROUTER-MODEL           PLATOON-RADIO

SUBNET N8-3.0.0.0               { 9 thru 12 }
[N8-3.0.0.0] PHY-LISTENABLE-CHANNEL-MASK    00100
[N8-3.0.0.0] PHY-LISTENING-CHANNEL-MASK     00100
[N8-3.0.0.0] ROUTER-MODEL           PLATOON-RADIO

SUBNET N8-4.0.0.0               { 13 thru 16 }
[N8-4.0.0.0] PHY-LISTENABLE-CHANNEL-MASK    00010
[N8-4.0.0.0] PHY-LISTENING-CHANNEL-MASK     00010
[N8-4.0.0.0] ROUTER-MODEL           PLATOON-RADIO

SUBNET N8-10.0.0.0              { 17 thru 20 }
[N8-10.0.0.0] PHY-LISTENABLE-CHANNEL-MASK   00001
[N8-10.0.0.0] PHY-LISTENING-CHANNEL-MASK    00001
[N8-10.0.0.0] ROUTER-MODEL          COMPANY-RADIO

SUBNET N8-192.0.0.0             { 21, 22, 23 } 22
[N8-192.0.0.0] MAC-PROTOCOL         SATCOM
[N8-192.0.0.0] SATCOM-SATELLITE-NODE        22
[N8-192.0.0.0] SATCOM-TYPE          BENT-PIPE
[N8-192.0.0.0] SATCOM-BANDWIDTH         256000
[N8-192.0.0.0] SATCOM-PROPAGATION-DELAY     200MS
[N8-192.0.0.0] ROUTING-PROTOCOL         AODV

LINK N8-192.0.1.0               { 24, 25 }
[N8-192.0.1.0] LINK-PHY-TYPE            WIRED
[N8-192.0.1.0] LINK-BANDWIDTH           224000
[N8-192.0.1.0] LINK-PROPAGATION-DELAY       200MS
[N8-192.0.1.0] ROUTING-PROTOCOL         AODV

LINK N8-192.0.2.0               { 25, 26 }
[N8-192.0.2.0] LINK-PHY-TYPE            WIRED
[N8-192.0.2.0] LINK-BANDWIDTH           224000
[N8-192.0.2.0] LINK-PROPAGATION-DELAY       200MS
[N8-192.0.2.0] ROUTING-PROTOCOL         AODV

LINK N8-192.0.3.0                   { 26, 27 }
[N8-192.0.3.0] LINK-PHY-TYPE            WIRELESS
[N8-192.0.3.0] LINK-BANDWIDTH           224000
[N8-192.0.3.0] ROUTING-PROTOCOL         AODV

# GUI

GUI-BACKGROUND-IMAGE-FILENAME   backgrounds/mole.png

USE-NODE-ICON YES

[1 thru 4]  NODE-ICON   icons/TankAqua.png
[5 thru 8]  NODE-ICON   icons/TankBlue.png
[9 thru 12] NODE-ICON   icons/TankGreen.png
[13 thru 16]    NODE-ICON   icons/TankGray.png

[22]        NODE-ICON   icons/Satellite.png
[23]        NODE-ICON   icons/BattalionHQ.png
[25]        NODE-ICON   icons/BrigadeHQ.png
[26]        NODE-ICON   icons/DivisionHQ.png
[27]        NODE-ICON   icons/Predator.png

[1]     HOSTNAME    Tank11
[2]     HOSTNAME    Tank12
[3]     HOSTNAME    Tank13
[4]     HOSTNAME    Lead1
[5]     HOSTNAME    Tank21
[6]     HOSTNAME    Tank22
[7]     HOSTNAME    Tank23
[8]     HOSTNAME    Lead2
[9]     HOSTNAME    Tank31
[10]        HOSTNAME    Tank32
[11]        HOSTNAME    Tank33
[12]        HOSTNAME    Lead3
[13]        HOSTNAME    Tank41
[14]        HOSTNAME    Tank42
[15]        HOSTNAME    Tank43
[16]        HOSTNAME    Lead4
[17]        HOSTNAME    Lead1-CO
[18]        HOSTNAME    Lead2-CO
[19]        HOSTNAME    Lead3-CO
[20]        HOSTNAME    Lead4-CO
[21]        HOSTNAME    Lead4-SAT
[22]        HOSTNAME    SATCOM
[23]        HOSTNAME    CC-SAT
[24]        HOSTNAME    CC-BrigadeHQ
[25]        HOSTNAME    BrigadeHQ
[26]        HOSTNAME    DivisionHQ
[27]        HOSTNAME    UAV

# Dynamic API

DYNAMIC-ENABLED         YES
DYNAMIC-NODE-ENABLED        YES
DYNAMIC-PHY-ENABLED     YES

# HLA

HLA             YES
HLA-DEBUG           YES
HLA-DEBUG-2         NO
HLA-FEDERATION-NAME     ITSEC
HLA-FED-FILE-PATH       STRIVE-RPR.fed
HLA-FEDERATE-NAME       QualNet
HLA-RPR-FOM-VERSION     1.0
HLA-NAWC-GATEWAY-COMPATIBILITY  NO
HLA-XYZ-EPSILON         2.9
HLA-TICK-INTERVAL       200MS
HLA-MOBILITY-INTERVAL       500MS
HLA-ENTITIES-FILE-PATH      iitsec.hla-entities
HLA-RADIOS-FILE-PATH        iitsec.hla-radios
HLA-NETWORKS-FILE-PATH      iitsec.hla-networks

HLA-DYNAMIC-STATISTICS              YES
HLA-DYNAMIC-STATISTICS-METRIC-UPDATE-MODE   VERBOSE
HLA-DYNAMIC-STATISTICS-SEND-NODEID-DESCRIPTIONS NO
HLA-DYNAMIC-STATISTICS-SEND-METRIC-DEFINITIONS  NO

ROUTING-PROTOCOL NONE
