# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

#
# ***** QualNet Configuration File *****
#

VERSION 6.1

EXPERIMENT-NAME default

SIMULATION-TIME  80M

SEED   1

COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)

# Topology:
#
#
#                             192.168.1.0
#
#                              (1)   (2)
#                            |  |     |  |
#                            |--+--+--+--|
#                            |     |     |
#                +----------------(3)
#                |                 | 192.168.2.0
# 192.168.7.0    |                 |             ripv2 network
#                |                 |
#                |                (4)
#                |                 | 192.168.3.0
#                |                 |
#...............(10)..............(5).........................
#                | 192.168.8.0     |
#                |                 |
#               (11)               | 192.168.4.0
#                |  192.168.9.0    |
#               (12)              (6)
#                |  192.168.10.0   |
#                |                 |
#                |                 |             ospfv2 network
#               (13)               |192.168.5.0
#                |                 |
#                |192.168.11.0    (7)
#                |                 |
#                |           |--+--+--+--|
#                |              |     |
#                +-------------(9)   (8)
#
#                            192.168.6.0
#

SUBNET N8-192.168.1.0 { 1 thru 3 }
LINK N8-192.168.2.0 { 3, 4 }
LINK N8-192.168.3.0 { 4, 5 }
LINK N8-192.168.4.0 { 5, 6 }
LINK N8-192.168.5.0 { 6, 7 }
SUBNET N8-192.168.6.0 { 7 thru 9 }
LINK N8-192.168.7.0 { 3, 10 }
LINK N8-192.168.8.0 { 10, 11 }
LINK N8-192.168.9.0 { 11, 12 }
LINK N8-192.168.10.0 { 12, 13 }
LINK N8-192.168.11.0 { 13, 9 }


NODE-PLACEMENT   UNIFORM

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL

PROPAGATION-LIMIT   -111.0

PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0

PROPAGATION-FADING-MODEL NONE


LINK-BANDWIDTH           112000
LINK-PROPAGATION-DELAY   50MS

MAC-PROTOCOL                SWITCHED-ETHERNET
SUBNET-DATA-RATE            100000000
SUBNET-PROPAGATION-DELAY    1MS

PROMISCUOUS-MODE   YES

NETWORK-PROTOCOL   IP

IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

IP-FORWARDING YES
[N8-192.168.1.0 N8-192.168.2.0 N8-192.168.3.0 N8-192.168.7.0] ROUTING-PROTOCOL RIP
[N8-192.168.4.0 N8-192.168.5.0 N8-192.168.6.0] ROUTING-PROTOCOL OSPFv2
[N8-192.168.8.0 N8-192.168.9.0 N8-192.168.10.0 N8-192.168.11.0] ROUTING-PROTOCOL OSPFv2

RIP-VERSION     2

[5 10] AS-NUMBER 1
[5 10] AS-BOUNDARY-ROUTER YES

ROUTER-CONFIG-FILE ./default.router-config

APP-CONFIG-FILE   ./default.app

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
ROUTE-REDISTRIBUTION-STATISTICS         YES
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO

ACCESS-LIST-STATISTICS                  YES


ROUTING-PROTOCOL NONE
