# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME default

# Which terrain file to use
INCLUDE ../../common/urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE default.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 1600000000 # 1600MHz

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL STREET-MICROCELL
PROPAGATION-STREET-MICROCELL-ENVIRONMENT LOS # other option is NLOS
