# General

VERSION 6.1                5.0
EXPERIMENT-NAME             otb-4
SIMULATION-TIME             30M
SEED                    1

# Terrain

COORDINATE-SYSTEM           LATLONALT
TERRAIN-SOUTH-WEST-CORNER       ( 28.05, 45.04 )
TERRAIN-NORTH-EAST-CORNER       ( 28.09, 45.08 )
TERRAIN-DATA-BOUNDARY-CHECK     YES

# Devices

ROUTER-MODEL-CONFIG-FILE        otb-4.router-models

# Node positions

NODE-PLACEMENT              FILE
NODE-POSITION-FILE          otb-4.nodes

# Mobility

MOBILITY                NONE
MOBILITY-POSITION-GRANULARITY       5.0
MOBILITY-GROUND-NODE            NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY[0]    1.500e9
PROPAGATION-LIMIT[0]            -111.0
PROPAGATION-PATHLOSS-MODEL[0]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[0]      CONSTANT
PROPAGATION-SHADOWING-MEAN[0]       4.0
PROPAGATION-FADING-MODEL[0]         NONE

# Physical

PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            7.0

# Data-link / MAC

# Network

NETWORK-PROTOCOL            IP
IP-QUEUE-NUM-PRIORITIES         3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE        5000000
IP-QUEUE-TYPE               FIFO
IP-QUEUE-SCHEDULER          STRICT-PRIORITY

# Routing

# Transport

TCP                 LITE
TCP-MSS                 512
TCP-SEND-BUFFER             16384
TCP-RECEIVE-BUFFER          16384
TCP-USE-RFC1323             NO
TCP-DELAY-ACKS              YES
TCP-DELAY-SHORT-PACKETS-ACKS        NO
TCP-USE-NAGLE-ALGORITHM         YES
TCP-USE-KEEPALIVE-PROBES        YES
TCP-USE-PUSH                YES

# Application

APP-CONFIG-FILE             otb-4-dis.app

# Tracing

PACKET-TRACE                NO

# Statistics

APPLICATION-STATISTICS          YES
TCP-STATISTICS              YES
UDP-STATISTICS              YES
ROUTING-STATISTICS          YES
ICMP-STATISTICS             NO
IGMP-STATISTICS             NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS        YES
QUEUE-STATISTICS            YES
SCHEDULER-STATISTICS            YES
MAC-LAYER-STATISTICS            YES
PHY-LAYER-STATISTICS            YES

MPLS-STATISTICS             NO
RSVP-STATISTICS             NO

DIFFSERV-EDGE-ROUTER-STATISTICS     NO
QOSPF-STATISTICS            NO
ACCESS-LIST-STATISTICS          NO
H323-STATISTICS             NO
GSM-STATISTICS              NO

# Networks

SUBNET N8-1.0.0.0               { 1 thru 4 } Default
[N8-1.0.0.0] PHY-LISTENABLE-CHANNEL-MASK        1
[N8-1.0.0.0] PHY-LISTENING-CHANNEL-MASK         1
[N8-1.0.0.0] ROUTER-MODEL           PLATOON-RADIO

# GUI

USE-NODE-ICON           YES

NODE-ICON           icons/TankAqua.png

# DIS

DIS                 YES
DIS-DEBUG-PRINT-COMMS       YES
DIS-DEBUG-PRINT-COMMS-2     YES
DIS-DEBUG-PRINT-MAPPING     YES
DIS-DEBUG-PRINT-DAMAGE      YES
DIS-DEBUG-PRINT-TX-STATE    YES
DIS-DEBUG-PRINT-TX-POWER    YES
DIS-DEBUG-PRINT-MOBILITY    YES
DIS-DEBUG-PRINT-TRANSMITTER-PDU NO
DIS-DEBUG-PRINT-PDUS        NO
DIS-IP-ADDRESS          255.255.255.255
DIS-PORT            3000
DIS-RECEIVE-DELAY       200MS
DIS-MAX-RECEIVE-DURATION    5MS
DIS-MOBILITY-INTERVAL       500MS
DIS-XYZ-EPSILON         0.577
DIS-ENTITIES-FILE-PATH      otb-4.hla-entities
DIS-RADIOS-FILE-PATH        otb-4.hla-radios
DIS-NETWORKS-FILE-PATH      otb-4.hla-networks

ROUTING-PROTOCOL NONE
