# Each urban scenario includes the common config and then must specify ...
INCLUDE ../../common/config.common

# Experiment name
EXPERIMENT-NAME default

# Which terrain file to use
INCLUDE ../../common/urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE default.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 1600000000 # 1600MHz

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL COST231-WALFISH-IKEGAMI
PROPAGATION-COST231-WALFISH-IKEGAMI-ENVIRONMENT URBAN
PROPAGATION-ROOF-HEIGHT           20
PROPAGATION-STREET-WIDTH          50
PROPAGATION-BUILDING-SEPARATION  100

[1] ANTENNA-GAIN 5.0
[2] ANTENNA-GAIN 5.0
