# gvrp/sample2
#
# Ring of 8 switches with all point-to-point links.
# Test GVRP with VLAN configuration as shown on the links.
#
#
#           10              20              30              40
#            |               |               |               |
#            | 2 access      | 3 access      | 4 access      | 5 access
#            |               |               |               |
#       +--------+      +--------+      +--------+      +--------+
#       |        |      |        |      |        |      |        |
#       |  Sw 1  |------|  Sw 2  |------|  Sw 3  |------|  Sw 4  |
#       |        |      |        |      |        |      |        |
#       +--------+      +--------+      +--------+      +--------+
#            |                                               |
#            |                                               |
#            |                                               |
#            |                                               |
#            |                                               |
#            |                                               |
#            |                                               |
#       +--------+      +--------+      +--------+      +--------+
#       |        |      |        |      |        |      |        |
#       |  Sw 8  |------|  Sw 7  |------|  Sw 6  |------|  Sw 5  |
#       |        |      |        |      |        |      |        |
#       +--------+      +--------+      +--------+      +--------+
#            |               |               |               |
#            | 5 access      | 4 access      | 3 access      | 2 access
#            |               |               |               |
#           80              70              60              50
#
# Application:
#    FTP/GENERIC 10 50 10 1000 60S 0S
#    FTP/GENERIC 40 80 10 1000 70S 0S



[1 thru 8] SWITCH           YES

SWITCH-VLAN-AWARE           YES
SWITCH-VLAN-LEARNING        SHARED
SWITCH-RUN-GVRP             YES


[1] SWITCH-PORT-VLAN-ID[2]  2
[2] SWITCH-PORT-VLAN-ID[2]  3
[3] SWITCH-PORT-VLAN-ID[2]  4
[4] SWITCH-PORT-VLAN-ID[2]  5
[8] SWITCH-PORT-VLAN-ID[4]  5
[7] SWITCH-PORT-VLAN-ID[4]  4
[6] SWITCH-PORT-VLAN-ID[4]  3
[5] SWITCH-PORT-VLAN-ID[4]  2


LINK N8-1.0 { 1, 10 }
LINK N8-1.0 { 1, 2  }
LINK N8-1.0 { 1, 8  }
LINK N8-1.0 { 2, 20 }
LINK N8-1.0 { 2, 3  }
LINK N8-1.0 { 3, 30 }
LINK N8-1.0 { 3, 4  }
LINK N8-1.0 { 4, 40 }
LINK N8-1.0 { 4, 5  }
LINK N8-1.0 { 5, 50 }
LINK N8-1.0 { 5, 6  }
LINK N8-1.0 { 6, 60 }
LINK N8-1.0 { 6, 7  }
LINK N8-1.0 { 7, 70 }
LINK N8-1.0 { 7, 8  }
LINK N8-1.0 { 8, 80 }
LINK-BANDWIDTH              10000000
LINK-PROPAGATION-DELAY      10US


[1] SWITCH-PORT-MAP[2]      1.1
[1] SWITCH-PORT-MAP[3]      1.3
[1] SWITCH-PORT-MAP[4]      1.5
[2] SWITCH-PORT-MAP[1]      1.4
[2] SWITCH-PORT-MAP[2]      1.7
[2] SWITCH-PORT-MAP[3]      1.9
[3] SWITCH-PORT-MAP[1]      1.10
[3] SWITCH-PORT-MAP[2]      1.11
[3] SWITCH-PORT-MAP[3]      1.13
[4] SWITCH-PORT-MAP[1]      1.14
[4] SWITCH-PORT-MAP[2]      1.15
[4] SWITCH-PORT-MAP[4]      1.17
[5] SWITCH-PORT-MAP[1]      1.21
[5] SWITCH-PORT-MAP[2]      1.18
[5] SWITCH-PORT-MAP[4]      1.19
[6] SWITCH-PORT-MAP[1]      1.25
[6] SWITCH-PORT-MAP[3]      1.22
[6] SWITCH-PORT-MAP[4]      1.23
[7] SWITCH-PORT-MAP[1]      1.29
[7] SWITCH-PORT-MAP[3]      1.26
[7] SWITCH-PORT-MAP[4]      1.27
[8] SWITCH-PORT-MAP[2]      1.6
[8] SWITCH-PORT-MAP[3]      1.30
[8] SWITCH-PORT-MAP[4]      1.31

[1 2 3 4] SWITCH-PORT-EDGE[2] YES
[5 6 7 8] SWITCH-PORT-EDGE[4] YES


APP-CONFIG-FILE               ./default.app

TCP-MSS                       1000

SWITCH-PORT-STATISTICS        NO
SWITCH-QUEUE-STATISTICS       NO
SWITCH-SCHEDULER-STATISTICS   NO
SWITCH-DATABASE-STATISTICS    NO
SWITCH-GVRP-STATISTICS        YES

# .............................................

SIMULATION-TIME  500S

VERSION 6.1
EXPERIMENT-NAME default
SEED   1
COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT   UNIFORM

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0
PROPAGATION-FADING-MODEL NONE

PHY-MODEL                   PHY802.11b
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY802.11b-DATA-RATE          2000000
PHY802.11b-TX-POWER           15.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0

ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5

NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY
IP-FORWARDING YES

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    NO




ROUTING-PROTOCOL NONE
