# Copyright (c) 2001-2009, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6100 Center Drive
#                          Suite 1250
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

#
# ***** QualNet Configuration File *****
#

#
# Configuration file version.  Use converter in the bin/ directory to
# make old configuration files work with new versions of QualNet.
#

VERSION 6.1

EXPERIMENT-NAME ospfv2-point-to-multipoint

SIMULATION-TIME   100M

SEED   1

COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)

###############################################################################
# Topology                                                                    #
###############################################################################

SUBNET N8-192.168.1.0 { 1 thru 6 }
SUBNET N8-192.168.2.0 { 7 thru 12 }

LINK N2-192.168.101.0 { 5, 8 }

#
# Link bandwidth in bits per second (bps).
# Link propagation delay.
# (See the "Node qualifiers" section for defining properties for
# specific links.)
#

LINK-BANDWIDTH           112000
LINK-PROPAGATION-DELAY   50MS


#
# Interface and link faults.
# FAULT-CONFIG-FILE         ./ospfv2-point-to-multipoint.fault
#

# NODE-PLACEMENT   UNIFORM
# NODE-PLACEMENT   RANDOM

# NODE-PLACEMENT   GRID
# GRID-UNIT        30

NODE-PLACEMENT        FILE
NODE-POSITION-FILE   ./ospfv2-point-to-multipoint.nodes


MOBILITY   NONE


MOBILITY-POSITION-GRANULARITY   1.0

###############################################################################
# Channel properties                                                          #
###############################################################################

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 # required
PROPAGATION-MODEL           STATISTICAL
PROPAGATION-LIMIT   -111.0
PROPAGATION-PATHLOSS-MODEL  TWO-RAY
PROPAGATION-SHADOWING-SIGMA 0.0

PROPAGATION-FADING-MODEL NONE

###############################################################################
# Phy layer                                                                   #
###############################################################################

PHY-MODEL                   PHY802.11b
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1
PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            10.0
PHY-RX-MODEL                PHY802.11b
#PHY-RX-BER-TABLE-FILE          ./dpsk.ber

PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                2000000

PHY802.11b-TX-POWER           11.0
PHY802.11b-RX-SENSITIVITY     -91.0
PHY802.11b-RX-THRESHOLD       -81.0
ANTENNA-GAIN    0.0
ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL

###############################################################################
# MAC layer                                                                   #
###############################################################################

MAC-PROTOCOL   MACDOT11

PROMISCUOUS-MODE   NO

###############################################################################
# Network layer                                                               #
###############################################################################

NETWORK-PROTOCOL   IP

IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

###############################################################################
# Routing - forwarding, static, default routes                                #
###############################################################################

IP-FORWARDING YES

ROUTING-PROTOCOL   OSPFv2
OSPFv2-DEFINE-AREA      NO
OSPFv2-CONFIG-FILE    ./ospfv2-point-to-multipoint.ospf

###############################################################################
# Transport layer                                                             #
###############################################################################


###############################################################################
# Application layer                                                           #
###############################################################################

APP-CONFIG-FILE   ./ospfv2-point-to-multipoint.app

###############################################################################
# Statistics                                                                  #
###############################################################################

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO



###############################################################################
# Tracer                                                                      #
###############################################################################

#
# By default, packet tracing is turned off.  To use packet tracing:
#
# PACKET-TRACE              YES | NO
#
