# General

VERSION 6.1
EXPERIMENT-NAME             otb-116
SIMULATION-TIME             30M
SEED                    1

# Terrain

COORDINATE-SYSTEM           LATLONALT
TERRAIN-SOUTH-WEST-CORNER       (  28,     45 )
TERRAIN-NORTH-EAST-CORNER       (  28.1,   45.18 )
TERRAIN-DATA-BOUNDARY-CHECK     YES

# Devices

ROUTER-MODEL-CONFIG-FILE        otb-116.router-models

# Node positions

NODE-PLACEMENT              FILE
NODE-POSITION-FILE          otb-116.nodes

# Mobility

MOBILITY                NONE
MOBILITY-POSITION-GRANULARITY       5.0
MOBILITY-GROUND-NODE            NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY[0]    1.500e9
PROPAGATION-LIMIT[0]            -111.0
PROPAGATION-PATHLOSS-MODEL[0]       TWO-RAY
PROPAGATION-SHADOWING-MODEL[0]      CONSTANT
PROPAGATION-SHADOWING-MEAN[0]       4.0
PROPAGATION-FADING-MODEL[0]     NONE

# Physical

PHY-TEMPERATURE             290
PHY-NOISE-FACTOR            7.0

# Data-link / MAC

# Network

NETWORK-PROTOCOL            IP
IP-QUEUE-NUM-PRIORITIES         3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE        5000000
IP-QUEUE-TYPE               FIFO
IP-QUEUE-SCHEDULER          STRICT-PRIORITY

# Routing

# Transport

TCP                 LITE
TCP-MSS                 512
TCP-SEND-BUFFER             16384
TCP-RECEIVE-BUFFER          16384
TCP-USE-RFC1323             NO
TCP-DELAY-ACKS              YES
TCP-DELAY-SHORT-PACKETS-ACKS        NO
TCP-USE-NAGLE-ALGORITHM         YES
TCP-USE-KEEPALIVE-PROBES        YES
TCP-USE-PUSH                YES

# Application

APP-CONFIG-FILE             otb-116.app

# Tracing

PACKET-TRACE                NO

# Statistics

APPLICATION-STATISTICS          YES
TCP-STATISTICS              YES
UDP-STATISTICS              YES
ROUTING-STATISTICS          YES
ICMP-STATISTICS             NO
IGMP-STATISTICS             NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS        YES
QUEUE-STATISTICS            YES
SCHEDULER-STATISTICS            YES
MAC-LAYER-STATISTICS            YES
PHY-LAYER-STATISTICS            YES

MPLS-STATISTICS             NO
RSVP-STATISTICS             NO

DIFFSERV-EDGE-ROUTER-STATISTICS     NO
QOSPF-STATISTICS            NO
ACCESS-LIST-STATISTICS          NO
H323-STATISTICS             NO
GSM-STATISTICS              NO

# Networks

SUBNET N8-1.0.0.0               { 1 thru 116 } Default
[N8-1.0.0.0] PHY-LISTENABLE-CHANNEL-MASK    1
[N8-1.0.0.0] PHY-LISTENING-CHANNEL-MASK     1
[N8-1.0.0.0] ROUTER-MODEL           PLATOON-RADIO
                        
# GUI

USE-NODE-ICON           YES

NODE-ICON           icons/TankAqua.png

# Dynamic API

DYNAMIC-ENABLED         YES
DYNAMIC-NODE-ENABLED        YES
DYNAMIC-PHY-ENABLED     YES

# HLA

HLA             YES
HLA-DEBUG           YES
HLA-DEBUG-2         NO
HLA-FEDERATION-NAME     rpr
HLA-FED-FILE-PATH       rpr.fed
HLA-FEDERATE-NAME       QualNet
HLA-RPR-FOM-VERSION     0.5
HLA-NAWC-GATEWAY-COMPATIBILITY  YES
HLA-XYZ-EPSILON         2.9
HLA-TICK-INTERVAL       200MS
HLA-MOBILITY-INTERVAL       500MS
HLA-ENTITIES-FILE-PATH      otb-116.hla-entities
HLA-RADIOS-FILE-PATH        otb-116.hla-radios
HLA-NETWORKS-FILE-PATH      otb-116.hla-networks

HLA-DYNAMIC-STATISTICS              YES
HLA-DYNAMIC-STATISTICS-METRIC-UPDATE-MODE   VERBOSE
HLA-DYNAMIC-STATISTICS-SEND-NODEID-DESCRIPTIONS NO
HLA-DYNAMIC-STATISTICS-SEND-METRIC-DEFINITIONS  NO

ROUTING-PROTOCOL NONE
