# Copyright (c) 2001-2008, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6701 Center Drive West
#                          Suite 520
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

# ***** QualNet CES Configuration File *****


#********************General Settings***********************************

VERSION 6.1
EXPERIMENT-NAME Icmp-host-unreachable
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 100S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#********Connectivity Maps and Alerts***********************************

STATS-MANAGER-ENABLED NO

#********************PHY Connectivity***********************************

PHY-CONNECTIVITY NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
URBAN-TERRAIN-TYPE NONE
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS YES
ICMP-ERROR-STATISTICS YES
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO

RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES

CELLULAR-STATISTICS YES
GSM-STATISTICS NO
SIGNALLING-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ATM-SCHEDULER-STATISTICS YES
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO
HLA-DYNAMIC-STATISTICS NO

#***********************DIS Interface***********************************

DIS NO

#***********************STK Interface***********************************

STK-ENABLED NO

#***********************CES Interface***********************************

CES NO
CES-NUM-PORTS 1
CES-PORT[0] 5032
CES-SOCKET NO
CES-SOCKET-NUM-PORTS 1
CES-SOCKET-PORT[0] 11001
CES-UDP-FAILURE-TIMEOUT 2S
CES-TCP-FAILURE-TIMEOUT 15S
DUMMY-CES-MAPPING NO
DUMMY-PRINT-PER-PACKET-STATS NO
CES-LOG FILE
CES-STATS-PRINT-REAL-TIME 1
CES-STATS-PRINT-INTERVAL 60S
CES-GRAPH-PRINT-REAL-TIME 1
CES-GRAPH-PRINT-INTERVAL 60S
CES-LOG-TIMESTAMP 1
CES-PRINT-REAL-TIME NO
CES-LOG-PROPAGATION 0
CES-EXECUTE-REAL-TIME NO
CES-CPU-HOG NO
CES-ALWAYS-SUCCESS NO
CES-LOG-AUTOMATIC-FLUSH NO
CES-DETERMINISTIC-TIMING NO
CES-IDLE-WHEN-RESPONSE-SENT NO
CES-CONVERT-GCC-CARTESIAN-TO-GCC-LAT-LON NO

#********************Spectrum Manager***********************************

SPECTRUM-POLICY-THRESHOLD 10
SPECTRUM-NUMBER-EDGE-NODES 15
SPECTRUM-PREDICTIVE-FUTURE-TIME 100S
SPECTRUM-REAL-TIME-ANALYSIS-INTERVAL 0S
SPECTRUM-PREDICTIVE-TIME-ANALYSIS-INTERVAL 0S
SPECTRUM-NUM-MITIGATION-RULES 0

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
NETWORK-CES-QOS-ENABLED NO
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#********************Network Security***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
AUDIT-ENABLED NO
DUMMY-IAHEP-ENABLE NO

#*************************WNW Routing***********************************

DISPLAY-FCS-ICONS NO
DISPLAY-ROSPF-ICONS NO
ROUTING-CES-MPR-ENABLED NO
NETWORK-CES-REGION-FORMATION NO
MI-CES-NEIGHBOR-MONITORING NO
SUBNET-FORMATION NO
MOBILE-INTRANET-ROUTING-PROTOCOL NONE
SUBNET-GATEWAY YES

#************MI Queues and Schedulers***********************************

ROUTING-CES-MI-INNER-SCHEDULER-TYPE STRICT-PRIORITY
DUMMY-ROUTING-CES-MI-OUTER-SCHEDULER-TYPE WEIGHTED-FAIR
DUMMY-MI-PRIORITY-QUEUE-WEIGHT No
ROUTING-CES-MI-CS1-QUEUE-TYPE RED
RED-MIN-THRESHOLD[0] 5
RED-MAX-THRESHOLD[0] 15
RED-MAX-PROBABILITY[0] 0.02
RED-QUEUE-WEIGHT[0] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[0] 10MS
ROUTING-CES-MI-CS1-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS1-QUEUE-AGING No
ROUTING-CES-MI-CS2-QUEUE-TYPE RED
RED-MIN-THRESHOLD[1] 5
RED-MAX-THRESHOLD[1] 15
RED-MAX-PROBABILITY[1] 0.02
RED-QUEUE-WEIGHT[1] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[1] 10MS
ROUTING-CES-MI-CS2-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS2-QUEUE-AGING No
ROUTING-CES-MI-CS3-QUEUE-TYPE RED
RED-MIN-THRESHOLD[2] 5
RED-MAX-THRESHOLD[2] 15
RED-MAX-PROBABILITY 0.02
RED-QUEUE-WEIGHT 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME 10MS
ROUTING-CES-MI-CS3-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS3-QUEUE-AGING No
ROUTING-CES-MI-CS4-QUEUE-TYPE RED
RED-MIN-THRESHOLD[3] 5
RED-MAX-THRESHOLD[3] 15
RED-MAX-PROBABILITY[3] 0.02
RED-QUEUE-WEIGHT[3] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[3] 10MS
ROUTING-CES-MI-CS4-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS4-QUEUE-AGING No
ROUTING-CES-MI-CS5-QUEUE-TYPE RED
RED-MIN-THRESHOLD[4] 5
RED-MAX-THRESHOLD[4] 15
RED-MAX-PROBABILITY[4] 0.02
RED-QUEUE-WEIGHT[4] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[4] 10MS
ROUTING-CES-MI-CS5-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS5-QUEUE-AGING No
ROUTING-CES-MI-CS6-QUEUE-TYPE RED
RED-MIN-THRESHOLD[5] 5
RED-MAX-THRESHOLD[5] 15
RED-MAX-PROBABILITY[5] 0.02
RED-QUEUE-WEIGHT[5] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[5] 10MS
ROUTING-CES-MI-CS6-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS6-QUEUE-AGING No
ROUTING-CES-MI-CS7-QUEUE-TYPE RED
RED-MIN-THRESHOLD[6] 5
RED-MAX-THRESHOLD[6] 15
RED-MAX-PROBABILITY[6] 0.02
RED-QUEUE-WEIGHT[6] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[6] 10MS
ROUTING-CES-MI-CS7-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS7-QUEUE-AGING No
ROUTING-CES-MI-CS0-QUEUE-TYPE RED
RED-MIN-THRESHOLD[7] 5
RED-MAX-THRESHOLD[7] 15
RED-MAX-PROBABILITY[7] 0.02
RED-SMALL-PACKET-TRANSMISSION-TIME[7] 10MS
ROUTING-CES-MI-CS0-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-CS0-QUEUE-AGING No
ROUTING-CES-MI-CS-PRIORITY-QUEUE-TYPE FIFO
ROUTING-CES-MI-CS-PRIORITY-QUEUE-SIZE 150000
ROUTING-CES-MI-AF1-QUEUE-TYPE RED
RED-MIN-THRESHOLD[9] 5
RED-MAX-THRESHOLD[9] 15
RED-MAX-PROBABILITY[9] 0.02
RED-QUEUE-WEIGHT[9] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[9] 10MS
ROUTING-CES-MI-AF1-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF1-QUEUE-AGING No
ROUTING-CES-MI-AF2-QUEUE-TYPE RED
RED-MIN-THRESHOLD[10] 5
RED-MAX-THRESHOLD[10] 15
RED-MAX-PROBABILITY[10] 0.02
RED-QUEUE-WEIGHT[10] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[10] 10MS
ROUTING-CES-MI-AF2-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF2-QUEUE-AGING No
ROUTING-CES-MI-AF3-QUEUE-TYPE RED
RED-MIN-THRESHOLD[11] 5
RED-MAX-THRESHOLD[11] 15
RED-MAX-PROBABILITY[11] 0.02
RED-QUEUE-WEIGHT[11] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[11] 10MS
ROUTING-CES-MI-AF3-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF3-QUEUE-AGING No
ROUTING-CES-MI-AF4-QUEUE-TYPE RED
RED-MIN-THRESHOLD[12] 5
RED-MAX-THRESHOLD[12] 15
RED-MAX-PROBABILITY[12] 0.02
RED-QUEUE-WEIGHT[12] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[12] 10MS
ROUTING-CES-MI-AF4-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-AF4-QUEUE-AGING No
ROUTING-CES-MI-EF-QUEUE-TYPE RED
RED-MIN-THRESHOLD[13] 5
RED-MAX-THRESHOLD[13] 15
RED-MAX-PROBABILITY[13] 0.02
RED-QUEUE-WEIGHT[13] 0.002
RED-SMALL-PACKET-TRANSMISSION-TIME[13] 10MS
ROUTING-CES-MI-EF-QUEUE-SIZE 150000
DUMMY-ENABLE-ROUTING-CES-MI-EF-QUEUE-AGING No

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP NO
IPv6-ENABLE-6to4-TUNNELING NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL NONE
STATIC-ROUTE NO
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

DUMMY-VOIP-APPLICATION-EXISTS NO
RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************Receive-only Mode***********************************

CES-RECEIVE-ONLY-MODE NO

#***************************Meta Data***********************************

GUI-NUM-NODE-META-DATA 0
GUI-NUM-SESSION-META-DATA 0
GUI-NUM-CONNECTION-META-DATA 0
GUI-NUM-INTERFACE-META-DATA 0
GUI-NUM-SCHEDULER-META-DATA 0
GUI-NUM-QUEUE-META-DATA 0

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M

#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 1, 2 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ N8-190.0.1.0 ] LINK-PHY-TYPE WIRED
[ N8-190.0.1.0 ] SWITCH-STATION-VLAN-ID 1
[ N8-190.0.1.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.1.0 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ N8-190.0.1.0 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 2, 3 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ N8-190.0.2.0 ] LINK-PHY-TYPE WIRED
[ N8-190.0.2.0 ] SWITCH-STATION-VLAN-ID 1
[ N8-190.0.2.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.2.0 ] DUMMY-GATEWAY-CONFIGURATION NO

#*******************BGP Configuration***********************************

[ N8-190.0.2.0 ] SYNCHRONIZATION YES

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 3, 4 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ N8-190.0.3.0 ] LINK-PHY-TYPE WIRED
[ N8-190.0.3.0 ] SWITCH-STATION-VLAN-ID 1
[ N8-190.0.3.0 ] SWITCH-STATION-VLAN-TAGGING NO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.3.0 ] DUMMY-GATEWAY-CONFIGURATION NO
# Copyright (c) 2001-2008, Scalable Network Technologies, Inc.  All Rights Reserved.
#                          6701 Center Drive West
#                          Suite 520
#                          Los Angeles, CA 90045
#                          sales@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.
#*******************BGP Configuration***********************************

[ N8-190.0.3.0 ] SYNCHRONIZATION YES

#*************Interface Configuration***********************************

[1] IP-ADDRESS[0]             190.0.1.1
[2] IP-ADDRESS[0]             190.0.1.2
[2] IP-ADDRESS[1]             190.0.2.1
[3] IP-ADDRESS[0]             190.0.2.2
[3] IP-ADDRESS[1]             190.0.3.1
[4] IP-ADDRESS[0]             190.0.3.2


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 4]      ICMP-NETWORK-UNREACHABLE-ENABLED YES
[1 thru 4]      ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
[1 thru 4]      ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
[1 thru 4]      ICMP-REDIRECT-ENABLE NO
[1 thru 4]      ICMP-HOST-UNREACHABLE-ENABLED  YES
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[1 thru 4]      ICMP YES
[1 thru 4]      ROUTING-PROTOCOL BELLMANFORD
[1 thru 4]      ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
[1 thru 4]      ICMP-MAX-NUM-SOLICITATION 3
[1 thru 4]      NODE-PLACEMENT FILE
[1 thru 4]      DUMMY-ICMP YES
NODE-POSITION-FILE Icmp-host-unreachable.nodes

#*********Miscellaneous Configuration***********************************

# GUI-DISPLAY-SETTINGS-FILE Icmp-host-unreachable.display

APP-CONFIG-FILE Icmp-host-unreachable.app
FAULT-CONFIG-FILE Icmp-host-unreachable.fault

#ARP-ENABLED YES
#LLC-ENABLED YES
