# Each urban scenario includes the common config and then must specify ...
INCLUDE ./config.mobility

# Experiment name
EXPERIMENT-NAME mobility

# Which terrain file to use
INCLUDE ./urban10x10.terrain

# The node locations
NODE-PLACEMENT FILE
NODE-POSITION-FILE mobility.nodes

# The channel frequency
PROPAGATION-CHANNEL-FREQUENCY 2e8

# and the pathloss model
PROPAGATION-PATHLOSS-MODEL URBAN-MODEL-AUTOSELECT
PROPAGATION-URBAN-AUTO-SELECT-ENVIRONMENT URBAN

STATS-DB-COLLECTION YES 
STATS-DB-DBNAME-TIMESTAMP NO
STATS-DB-URBAN-PROP-TABLE YES
